
.accordion-container {
	width: 100%;
	letter-spacing: 0.8px;
	.accordion {
		border: 1px solid #9F9F9F;
		border-radius: 2px;
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
		font-size: 22px;
		font-size: 1.4rem;
		line-height: 1.25;
		cursor: pointer;
		margin-top: 25px;
		background:url('https://staging.octranspo1.com/themes/user/site/octranspo/assets/img/green-arrow-closed.svg') no-repeat 2% center;
		padding: 7px 10px 7px 35px;
		@include media-breakpoint-up(md) {
			font-size: 32px;
			font-size: 2rem;
		}
	}
	.accordion.active{
		background:url('https://staging.octranspo1.com/themes/user/site/octranspo/assets/img/green-arrow.svg') no-repeat 2% center;
	}
	.accordion-content{
		display: none;
		padding: 0;
		margin-top: 35px;
	}
}


.faq-accordion{
	width: 100%;

	.accordion {
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 24px;
		background:url('https://staging.octranspo1.com/themes/user/site/octranspo/assets/img/blue-arrow-closed.svg') no-repeat left center;
		cursor: pointer;
		margin-bottom: 15px;
		padding: 0 0 0 15px;
	}

	.accordion.active{
		background:url('https://staging.octranspo1.com/themes/user/site/octranspo/assets/img/blue-arrow.svg') no-repeat left center;
	}

	.accordion-content{
		display: none;
		padding-left:0;
		margin-bottom: 20px;
	}

}

.faq-accordion{
	width: 100%;
}

// Transparency page
.faq-accordion .accordion-content {
	padding: 1rem 0;
	margin: 0 0 0 1rem;
}

.memo__month {
	margin: 1rem 0;
	font-weight: 700;
}

.memo__month:first-of-type {
	margin-top: 0;
}

.faq-accordion {
	margin-bottom: 0.75rem;
	padding-bottom: 0.75rem;
}

.faq-accordion:not(:last-of-type) {
	border-bottom: 1px solid #e9eaed;
}

.accordion__date {
	font-size: 0.8rem;
	color: #555;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
	padding-bottom: 0.5rem;
}

.accordion__title {
	margin: 0;
}

@media (max-width: 575.98px) {
	#transpar-page .accordion__date {
		font-size: 0.75rem;
	}
	#transpar-page .accordion__title {
		font-size: 0.875rem;
	}
	#transpar-page .tabcontent {
		padding: 1rem;
	}
}
// end

.accordion-container {
	width: 100%;
	letter-spacing: 0px;
	&--simple{
		.accordion-content{
			margin: 0;
			height: 0px;
			overflow-y: hidden;
			opacity: 0;
			transition: all 200ms ease-out;
			padding: 0;
				@include media-breakpoint-up(md) {
					padding: 0rem 0.5rem;
				}
		}
		.accordion{
			transition: all ease-in-out 150ms;
			&:not(:first-of-type){
				border-top: 1px solid var(--gray--100) !important;
			}
			margin: 0;
			padding: 0.75rem 0;
			padding-right: 0.25rem;
			box-shadow: none;
			border: none;
			font-size: 1.15rem;
			line-height: 1.15;
			font-weight: 600;
			background: none;
			display: flex;
			gap: 0.5rem;
			justify-content: space-between;
			align-items: center;
			min-height: 2.75rem;
			&--sm{
				font-size: 1rem;
			}
			@include media-breakpoint-up(sm) {
				font-size: 1.25rem;
				&--sm{
					font-size: 1rem;
				}
			}
			
			span{
				align-items: center;

			}
			&::after{
				content: "";
				width: 2rem;
				height: 2rem;
				background-size: 50%;
				display: flex;
				flex-shrink: 0;
				justify-content: center;
				align-items: center;
				border-radius: 999px;
				background:url('https://www.octranspo.com/images/files/icons/interactive_chevron-down.svg') no-repeat 2% center, var(--gray--100) ;
				background-size: 50%;
				background-position: center;
				transition: all 200ms ease-out;
			}
			&.active{
				// color:var(--oc-red--700);
				background: none;
				border-bottom: none;
				border: none;
				box-shadow: 0px 2px 7px -1px var(--gray--200);
				padding-left: 0.5rem;
				border-radius: 0.5rem;
				&::after{
					transform: rotate(180deg);
					background:url('https://www.octranspo.com/images/files/icons/interactive_chevron-down.svg') no-repeat 2% center, var(--gray--100);
					background-size: 50%;
					background-position: center;
				}
		
				&+ .accordion-content{
					height: auto;
					opacity: 100%;
					margin: 0 0 2rem;
                    padding-top: 1rem;
					display: block;
					
					// border-bottom: 1px solid var(--gray--100);
				}
			}
		}
		&.bordered{
			
		height: max-content;
		
		.accordion{
			padding-left: 0.5rem;
		}
		}
		
		.accordion:hover, .accordion.active:hover{
			background-color:var(--gray--50);
			padding-left: 0.5rem;
			&::after{
				background-color:var(--gray--200);
			}
		}

	}



}
