// buttons

.btn{
    display: flex;
    gap: 0.25rem;
    align-items:center ;
    justify-content:center ;
    height: 2rem;
    width: fit-content;
    padding: 0.5rem 0.6rem 0.4rem;
    border-radius: 100rem;
    font-weight: 600;
    transition: all 100ms ease-out;
    font-size: 0.875rem;
    text-decoration: none;
    background-color: var(--neutral-bg-color);
    color: var(--neutral-text-color);

    &-arrow-only{
        padding: 0;
        width: 2rem;
        flex-shrink: 0;
    }
    
    &-text-only{
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: none !important;
        background-color: transparent !important;
    }
    
    
    
    
    
    &:hover.btn--arrow::after{
        transform: translateX(2px);
    }
    
    
    
    &-lg{
        font-size: 1rem;
        height: 2.75rem;
        padding: 0.5rem 1.25rem 0.4rem;
        &.btn-arrow-only{
            padding: 0;
            width: 2.75rem;
        }
    }


    &__arrow{
        &::after{
            content: "";
            display: block;
            background-image: url("https://www.octranspo.com/images/files/icons/interactive_arrow-right.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 1rem;
            height: 1rem; 
            }
            &.btn-lg::after{
                width: 1.125rem;
                height: 1.125rem; 
            }
    }
    





    &-primary{
        background-color: transparent;
        border: solid 1px var(--line1--600);
        &::after{
            background-image: url("https://www.octranspo.com/images/files/icons/interactive_arrow-right.svg");
        }
        &:hover{
            border: solid 1.25px var(--line1--500);
        }
    }

    &.btn-line2{
        background-color: transparent;
        border: solid 1px var(--line2--600);
        &:hover{
            border: solid 1.25px var(--line2--500);
        }
    }

    &.btn-line3{
        background-color: transparent;
        border: solid 1px var(--line3--600);
        &:hover{
            border: solid 1.25px var(--line3--500);
        }
    }

    &.btn-line4{
        background-color: transparent;
        border: solid 1px var(--line4--600);
        &:hover{
            border: solid 1.25px var(--line4--500);
        }
    }
    &-secondary{
        background-color: transparent;
        border: solid 1px var(--charcoal--800);
        &:hover{
            border: solid 1.25px var(--charcoal--800);
        }
    }



    &-white{
        background-color: transparent;
        color: #fff;
        border: solid 1px transparent;
        background-color: var(--transparent--50);
        &:hover{
            background-color: var(--transparent--100);
            color: white;
        }

        &::after{
            background-image: url("https://www.octranspo.com/images/files/icons/interactive_arrow-right-white.svg")
        }
    }

    
    
    &-tertiary{
        color: var(--charcoal--800);
        border: solid 1px transparent;
        background-color: var(--gray--100);
        &:hover{
            background-color: var(--gray--200);
        }
        &.btn-line1{
            color: var(--line1--700);
            background-color: var(--line1--100);
            border: none;
            &:hover{
                border: none;
                background-color: var(--line1--100);
            }
        }
        
        &.btn-line2{
            color: var(--line2--700);
            background-color: var(--line2--100);
            border: none;
            &:hover{
                border: none;
                background-color: var(--line2--100);
            }
        }
        &.btn-line3{
            color: var(--line3--700);
            background-color: var(--line3--100);
            border: none;
            &:hover{
                border: none;
                background-color: var(--line3--100);
            }
        }
        
        &.btn-line4{
            color: var(--line4--700);
            background-color: var(--line4--100);
            border: none;
            &:hover{
                border: none;
                background-color: var(--line4--100);
            }
        }
    }

    &-solid{
        &::after{
            background-image: url("https://www.octranspo.com/images/files/icons/interactive_arrow-right-white.svg");
        }
        &.btn-primary{
            color: #fff;
            background-color: var(--line1--600); ;
            border: solid 1px var(--line1--600);
            &:hover{
                background-color: var(--line1--500); ;
                border: solid 1px var(--line1--500);
            }
        }
        &.btn-line2{
            color: #fff;
            background-color: var(--line2--600);
            border: solid 1px var(--line2--600);
            &:hover{
                background-color: var(--line2--500); ;
                border: solid 1px var(--line2--500);
            }
        }
        &.btn-line3{
            color: #fff;
            background-color: var(--line3--600);
            border: solid 1px var(--line3--600);
            &:hover{
                background-color: var(--line3--500); ;
                border: solid 1px var(--line3--500);
            }
        }
        &.btn-line4{
            color: #fff;
            background-color: var(--line4--600);
            border: solid 1px var(--line4--600);
            &:hover{
                background-color: var(--line4--500); ;
                border: solid 1px var(--line4--500);
            }
        }
        &.btn-secondary{
            color: #fff;
            background-color: var(--charcoal--800);
            border: solid 1px var(--charcoal--800);
            &:hover{
                background-color: var(--charcoal--700); ;
                border: solid 1px var(--charcoal--700);
            }
        }
        
        
        
    }

}