/* Card styles start */
/* last updated 2024/07/29*/
// reviewed
// reset

.fares .fares-card {
	border: none;
	box-shadow: none;
	border-top: none;
	padding: 0;
	text-align: left;
	margin-bottom: 0;
}

.card, .card__link{
	transition: box-shadow 0.2s ease-in-out;
}

// ul cards margins
ul.card-list, .card ul {
	padding: 0;
	margin: 0;
	margin-left: 0;
	list-style-type: none;
	li{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li:not(:last-of-type){
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;

	}
}

// card body{
.card .card__body{
	flex-grow: 1;
}




// basic card styles
.card,
.fares .fares-card, .img-card,
ul.card-list li {
	box-shadow: $elevation1;
	padding: 1.25rem;
	border-radius: $radius-md;
	transition: background-color ease-out 0.2s;
	transition: box-shadow ease-out 0.2s;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: white;
	margin-bottom: 0;
	color: var(--caption-color);

	&__title,
	h2,
	h3 {
		color: var(--charcoal--800);
		font-size: $ui-title-size-md;
		font-weight: 700;
		margin-bottom: 1em;
	}

	&__body {
		flex-grow: 1;
	}
}

// card body color
.card__body, .card__body p, .card__body li{
	color: var(--caption-color);
}

// list within cards
.card ul.bulleted-list {
	margin: 0;
	margin-left: 1rem;
	list-style-type: disc;
}

// icon size
.card__icons{
	margin-bottom: 0.5rem;
	img{
		height: 100%;
	}
}

.card {
	> .card__icons {
		height: $icon-size-md;
		width: auto;
		border-radius: 2px;
		overflow: hidden;
		align-self: flex-start;
	}
	&.card-size--lg > {
		img:first-of-type, .card__icons {
				height: $icon-size-xl;
			}
		}
	&.card-size--sm > { 
		img:first-of-type {
		height: $icon-size-sm;
			}
		}
}

.card-size {
	&--sm {
		padding: 1.125rem;
		.card__title {
			font-size: $ui-title-size-sm;
		}
		.card__body {
			font-size: $ui-body-size-sm;
		}
	}
	&--lg {
		padding: 2rem;
		.card__title {
			font-size: $ui-title-size-lg;
		}
	}
}

// alignment
.card.center{
	&__title{
		
	}
}

// card colours

.card.bg-- {
	&line1,
	&line2,
	&line3,
	&line4,
	&frequent,
	&connexion,
	&local,
	&neutral,
	&inactive {
		box-shadow: none;
	}
}

// not reviewed

.basic-card {
	background-color: white;
	box-shadow: $elevation1;

	&:hover {
		box-shadow: $elevation2;
	}

	.card > img {
		height: $icon-size-md;
		align-self: flex-start;
	}
	.card__title {
		font-size: $ui-title-size-md;
		font-weight: 600;
	}
}
.card, .img-card, .destination-card{
	.clickable-card-link,
	.btn{
		z-index: 1;
	}
	&__link {
		z-index: 1;
		outline-offset:-1px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		// color: transparent;
		font-size: 0;
		border-radius: inherit;
		transition: background-color 0.15s ease-in-out;
		border: 2px solid var(--transparent--800);
		transition: border-color 0.15s ease-in-out;
	}
	&:hover {
		box-shadow: $elevation2;
	}
	
	.arrow-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: $radius-pill;
		margin-left: auto;
		padding: 0.125rem;
		color: var(--charcoal--800);
		border: 1px solid var(--charcoal--800);
	}
}

//image card
.img-card{
	overflow: hidden;
	.card__img-container {
		overflow: hidden;
		margin: -1.25rem -1.25rem 1rem;
		img{
			width: 100%;
			height: auto;
		}
	}
}

//Type

.card__type {
	//clickable
	&--feature {
		background-color: white;
		border: var(--border-color) 1px solid;
		flex: 1 0 8rem;
		max-width: 10rem;
		.card__title {
			font-weight: 600;
			font-size: 0.9rem;
		}
		.card__body {
			font-size: 0.9rem;
			
		}
	}

	&--image {
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		border: var(--border-color) 1px solid;
		padding: 0;
		padding-right: 1rem;
		.card__image {
			width: 4rem;
			height: 4rem;
		}
	}

	// not clickable (default
}

//behaviour {
.card__behaviour--mobile-friendly,
.card__type--feature {
	//hide detailed at small screens
	@include media-breakpoint-down(xs) {
		flex-direction: row;
		gap: 1rem;
	}
	.card > img {
		flex-shrink: 0;
	}
	.card__title,
	.card > img {
		margin: 0;
	}
	.card__body {
		@include media-breakpoint-down(xs) {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			padding: 0 !important;
			margin: -1px !important;
			overflow: hidden !important;
			clip: rect(0, 0, 0, 0) !important;
			white-space: nowrap !important;
			border: 0 !important;
		}
	}
}
// padding-bottom

.card >:not(:last-child){
	margin-bottom: 1rem;
}
.card.card-size--sm >:not(:last-child){
	margin-bottom: 0.25rem;
}

//style

.card__style {
	// subtle
	&--subtle.card {
		&.card__color--white {
			background-color: white;
			border: var(--border-color) 1px solid;
			.arrow-container {
				color: var(--charcoal--800);
				border: 1px solid var(--charcoal--800);
			}
		}
		&.card__color--transparent {
			background-color: var(--transparent--800);
			border: var(--border-color) 1px solid;
			.arrow-container {
				color: var(--charcoal--800);
				border: 1px solid var(--charcoal--800);
			}
		}
		&.card__color--line1 {
			background-color: var(--line1--50);
			.arrow-container {
				color: var(--line1--600);
				border: 1px solid var(--line1--600);
			}
		}
		&.card__color--line2 {
			background-color: var(--line2--50);
			.arrow-container {
				color: var(--line2--600);
				border: 1px solid var(--line2--600);
			}
		}
		&.card__color--line3 {
			background-color: var(--line3--50);
			.arrow-container {
				color: var(--line3--600);
				border: 1px solid var(--line3--600);
			}
		}
		&.card__color--line4 {
			background-color: var(--line4--50);
			.arrow-container {
				color: var(--line4--600);
				border: 1px solid var(--line4--600);
			}
		}
		&.card__color--frequent {
			background-color: var(--frequent--50);
			.arrow-container {
				color: var(--frequent--600);
				border: 1px solid var(--frequent--600);
			}
		}
		&.card__color--connexion {
			background-color: var(--connexion--50);
			.arrow-container {
				color: var(--connexion--600);
				border: 1px solid var(--connexion--600);
			}
		}
		&.card__color--local {
			background-color: var(--local--50);
			.arrow-container {
				color: var(--local--600);
				border: 1px solid var(--local--600);
			}
		}
		&.card__color--charcoal {
			background-color: var(--charcoal--50);
			.arrow-container {
				color: var(--charcoal--800);
				border: 1px solid var(--charcoal--800);
			}
		}
		&.card__color--neutral {
			background-color: var(--gray--50);
			.arrow-container {
				color: var(--gray--800);
				border: 1px solid var(--gray--800);
			}
		}
		&:hover,
		&:focus,
		&:active {
			fill: white;
			background-color: white;
			box-shadow: $card-shadow;
			.arrow-container {
				border-width: 2px;
			}
			.card__title {
				text-decoration: underline;
			}
		}
	}
	// bold

	&--bold.card {
		transition: background-color ease-out 0.2s;
		&.card__color--line1 {
			background-color: var(--line1--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--line1--600);
			}
			.arrow-container {
				background-color: var(--line1--600);
				border: 1px solid var(--line1--600);
			}
		}
		&.card__color--line2 {
			background-color: var(--line2--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--line2--600);
			}
			.arrow-container {
				background-color: var(--line2--600);
				border: 1px solid var(--line2--600);
			}
		}
		&.card__color--line3 {
			background-color: var(--line3--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--line3--600);
			}
			.arrow-container {
				background-color: var(--line3--600);
				border: 1px solid var(--line3--600);
			}
		}
		&.card__color--line4 {
			background-color: var(--line4--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--line4--600);
			}
			.arrow-container {
				background-color: var(--line4--600);
				border: 1px solid var(--line4--600);
			}
		}
		&.card__color--frequent {
			background-color: var(--frequent--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--frequent--600);
			}
			.arrow-container {
				background-color: var(--frequent--600);
				border: 1px solid var(--frequent--600);
			}
		}
		&.card__color--connexion {
			background-color: var(--connexion--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--connexion--600);
			}
			.arrow-container {
				background-color: var(--connexion--600);
				border: 1px solid var(--connexion--600);
			}
		}
		&.card__color--local {
			background-color: var(--local--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--local--600);
			}
			.arrow-container {
				background-color: var(--local--600);
				border: 1px solid var(--local--600);
			}
		}
		&.card__color--charcoal {
			background-color: var(--charcoal--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--charcoal--800);
			}
			.arrow-container {
				background-color: var(--charcoal--800);
				border: 1px solid var(--charcoal--800);
			}
		}
		&.card__color--neutral {
			background-color: var(--gray--50);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--gray--600);
			}
			.arrow-container {
				background-color: var(--gray--800);
				border: 1px solid var(--gray--800);
			}
		}
		&:hover,
		&:focus,
		&:active {
			fill: white;
			box-shadow: $card-shadow;
			p {
				color: white !important;
			}
			.card__title {
				text-decoration: underline;
			}
		}
	}
}
// icon
.card:not(.img-card) > img {
	align-self: flex-start;
	margin-bottom: 0.5rem;
}
//sizes
.card__size {
	&--sm {
		.card > img {
			height: $icon-size-sm;
			align-self: flex-start;
		}
		.card__title {
			font-size: $ui-title-size-sm;
			font-weight: 600;
		}
		.card__body {
			font-size: $ui-body-size-sm;
		}
	}
	&--lg {
		.card > img {
			height: $icon-size-lg;
			align-self: flex-start;
		}
		.card__title {
			font-size: $ui-title-size-lg;
			font-weight: 600;
		}
	}
}

//arrow card

.arrow-card {
	&::after {
		content: "";
		width: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		flex-shrink: 0;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0;
		background-size: 100%;
		vertical-align: text-bottom;
		margin-left: auto;
		margin-bottom: 1px;
		margin-top: auto;
		background-image: url("https://www.octranspo.com/images/files/icons/interactive_arrow-circled.svg");
	}
}

// quick links card

.quick-link-card {
	text-decoration: none;
	
	&.clean .card__title {
		@include media-breakpoint-up(sm) {
			&::after {
				display: none;
			}
		}
	}

	.quick-link__icon{
		height: 20px;
	}

	.card__title {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-size: $ui-title-size-xs;
		font-weight: 600;
		color: var(--text--light);
		justify-content: space-between;
		margin-bottom: 0;
		@include media-breakpoint-up(sm) {
			font-size: $ui-title-size-sm;

			
		}
	}

	

	&::after {
		content: "";
		width: 13px;
		height: 100%;
		display: inline-block;
		flex-shrink: 0;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0;
		background-size: 100%;
		vertical-align: text-bottom;
		margin-left: 0.5rem;
		background-image: url(https://www.octranspo.com/images/files/icons/interactive_chevron-right-gray--500.svg);
		position: absolute;
		right: 2px;
		top: 0;
	}

	&:hover {
		box-shadow: $elevation2;
		color: var(--charcoal--800);
		&::after{
			background-image: url(https://www.octranspo.com/images/files/icons/interactive_chevron-right-charcoal.svg);

		}

	}
	

	// Main icon
	&.sparkle,
&.walk,
&.schedules,
&.parking,
&.map,
&.tour-360,
&.washroom,
&.connection{
	&::before {
		content: "";
		width: 1.25rem;
		height: 1.25rem;
		display: inline-block;
		flex-shrink: 0;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0;
		margin-bottom: 0.5rem;
		background-size: 100%;
		vertical-align: text-bottom;
		@include media-breakpoint-up(sm) {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
	

	&.sparkle {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/sparkle.svg");
		}
	}
	&.walk {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-5min.svg");
		}
	}
	&.schedules {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/resource_schedules.svg");
		}
	}
	&.parking {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/service_pnr-red.svg");
		}
	}
	&.map {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/resource_map-green.svg");
		}
	}
	&.tour-360 {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/resource-360-gold.svg");
		}
	}
	&.washroom {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/station_public-washroom-blue.svg");
		}
	}
	&.connection {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/station_bus-stop-purple.svg");
		}
	}
}



.flex{
	.decor-card{
		flex: 1 1 300px;
	}
}

.cards-overflow-x-container{
	> * {
		min-width: 360px;
		@include media-breakpoint-down(xs) {
			min-width: 75vw;
			height: fit-content;
        }
	}
}
// decorative card

.decor-card, #fares-made-easy-card, #wayfinding-card, #accessibiliy-card, #cyclist-card, #safety-card, #comfort-card, #within-5km-card, #also-nearby-card {
	padding-bottom: 8rem;
	padding: 1.5rem;

	@include media-breakpoint-down(xs) {
		font-size: $ui-body-size-sm;
	}

	.card__title{
		font-weight: 700;
		text-align: center;
		font-size: 1.3rem;
		margin-bottom: 1.5em;
		line-height: 1.15em;
		@include media-breakpoint-down(xs) {
			margin-bottom: 1.25em;
			min-height: 40px;
			font-size: 1.2rem;
		}
	}
	&::before{
		content: "";
		align-self: center;
		width: 3rem;
		height: 3rem;
		display: inline-block;
		flex-shrink: 0;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0;
		margin-bottom: 1rem;
		background-size: 100%;
		vertical-align: text-bottom;
		@include media-breakpoint-down(xs) {
			width: 3rem;
			height: 3rem;
			
		}
	}
	&.within-5km {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-5min.svg");
		}
	}
	&.nearby {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-nearby.svg");
		}
	}
	&.fares-made-easy {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-fares-made-easy.svg");
		}
	}
	&.wayfinding {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-wayfinding.svg");
		}
	}
	&.accessibility {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-accessibility.svg");
		}
	}
	&.cyclist {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-cyclist.svg");
		}
	}
	&.safety {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-safety.svg");
		}
	}
	&.comfort {
		&::before {
			background-image: url("https://www.octranspo.com/images/files/icons/graphic-comfort.svg");
		}
	}
}



//icon card

// tags
.tag__location--corner {
}

//features card - not clickable
.card__type--features {
}
// Card colors


.card.red, .card.line1, .card.comfort{
	
	.card__title{
		color: var(--line1);
	}
}

.card.green, .card.line2, .card.fares-made-easy{
	.card__title{
		color: var(--line2);
	}
}

.card.gold, .card.line3, .card.safety{
	.card__title{
		color: var(--line3);
	}
}

.card.blue, .card.line4, .decor-card.blue, .card.wayfinding{
	.card__title{
		color: var(--line4);
	}
}

.card.purple, .card.cyclist{
	.card__title{
		color: var(--connexion);
	}
}

.card.navy, .decor-card.navy{
	.card__title{
		color: var(--frequent);
	}
}
.card.accessibility, .card.accessible-blue{
	.card__title{
		color: var(--accessible);
	}
}

.card.station-info-card{
	margin: 2rem 0 2.5rem;
	height: fit-content;
	.card__title{
		margin-top: 0;
		font-size: 1.75rem;
	}
	width: 100%;
	@include media-breakpoint-up(sm) {
		flex: 0 0 364px;
	}
}

// Destination card

.destination-card{
	overflow: hidden;
	border-radius: 16px;
	box-shadow: $elevation1;
	transition: all 0.1s ease-in-out;
	display: flex;
	
	@include media-breakpoint-up(sm) {
		flex-direction: column;
        }
	
	&:hover{
		box-shadow: $elevation2;
	}

	&__img{
		height: 132px;
		aspect-ratio: 1 / 1;
		transition: all 0.15s ease-in;
		border-radius: 16px;
		overflow: hidden;
		@include media-breakpoint-up(sm) {
			aspect-ratio: 4/3;
			height: auto;
		}
	}
	&__text-content{
		padding: 0.75rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
}
	
	&__title{
		font-weight: bold;
		font-size: 0.875rem;
		text-align: left;
		width: 100%;
		margin: 0;
		line-height: 125%;
		margin-bottom: 8px;
		display: flex;
		gap: 0.25em;

		@include media-breakpoint-up(sm) {
            font-size: 1rem;
			display: block;
        }
		&:not(.no-leading-icon)::before{
			content: "";
			display: flex;
			width: 16px;
			height: 16px;
			background-size: cover;
			margin-bottom: 0.25em;
		}
		
	}
	&__detail{
		font-size: 11px;
		color: var(--caption-color);
	}
	&.pnr{
		.destination-card__title{
			&::before{
				background-image:url("https://www.octranspo.com/images/files/icons/service_pnr.svg")
			}
		}
	}
	&.school{
		.destination-card__title{
			&::before{
				background-image:url("https://www.octranspo.com/images/files/icons/destination_school.svg")
			}
		}
	}
	&.scenery{
		.destination-card__title{
			&::before{
				background-image:url("https://www.octranspo.com/images/files/icons/destination_scenery.svg")
			}
		}
	}
	&.shopping{
		.destination-card__title{
			&::before{
				background-image:url("https://www.octranspo.com/images/files/icons/destination_shopping.svg")
			}
		}
	}
	&.airport{
		.destination-card__title{
			&::before{
				background-image:url("https://www.octranspo.com/images/files/icons/destination_airport.svg")
			}
		}
	}
	&.library{
		.destination-card__title{
			&::before{
				background-image:url("https://www.octranspo.com/images/files/icons/destination_library.svg")
			}
		}
	}
	&__link{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}

// Video card
.video-card{
	display: grid;
	grid-template-columns: 1fr 3fr;
	border-radius: 8px;
	// box-shadow: $elevation1;
	gap: 1rem;
	overflow: hidden;
	margin-bottom: 1rem;
	@include media-breakpoint-down(xs) {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	.iframe-container{
		border-radius: 8px;
		overflow: hidden;
	}
	&__text-content{
		font-size: 0.875rem
	};
	&__title{
		font-size: 1.125rem;
		font-weight: 700;
		color: var(--heading-color);
	}
}
/* End Cards */
