.stage-2 .photo-gallery-generic .navigation-buttons-section{
    margin-bottom: 1rem;
}
.stage-2.container.container-photo-gallery-header.image-gallery-carousel-main.no-padding{
    padding: 0;

}
.stage-2 .photo-gallery-generic .gallery-image{
    min-height: 100%;
}
.gallery-image p{
    text-align: left;
}
figcaption p{
    margin: 0;
    padding: 0;
}

// Code pen
