
.card{
	padding: 1rem;
	border-radius: $radius-md;
	transition: all ease-out 0.2s;
	display: flex;
	flex-direction: column;
	position: relative;

	.clickable-card-link{
		position: absolute;
    	top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		border-radius: 0.5rem;
		color: transparent;
	}
}

.card--light.card{
	
	
	.arrow-container{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: $radius-pill;
		transition: all ease-out 0.2s;
		margin-left: auto;

		&:hover{
			fill: white !important;
			&--line1{
				background-color: var(--line1--600);
			}
			&--line2{
				background-color: var(--line2--600);
			}
		}
		
	}
	&:hover{
		background-color: white;
		box-shadow: $card-shadow;
		.arrow-container{
			border-width: 2px

		}
	}

	&--line1{
		background-color: var(--line1--50);
		.arrow-container{
			color: var(--line1--600);
			border:1px solid var(--line1--600);
		}
	}
	&--line2{
		background-color: var(--line2--50);
		.arrow-container{
			color: var(--line2--600);
			border:1px solid var(--line2--600);
		}
	}
	&--line3{
		background-color: var(--line3--50);
		.arrow-container{
			color: var(--line3--600);
			border:1px solid var(--line3--600);
		}
	}
	&--line4{
		background-color: var(--line4--50);
		.arrow-container{
			color: var(--line4--600);
			border:1px solid var(--line4--600);
		}
	}
	--frequent{
		background-color: var(--frequent--50);
		.arrow-container{
			color: var(--frequent--600);
			border:1px solid var(--frequent--600);
		}
	}
	--connexion{
		background-color: var(--connexion--50);
		.arrow-container{
			color: var(--connexion--600);
			border:1px solid var(--connexion--600);
		}
	}
	--local{
		background-color: var(--local--50);
		.arrow-container{
			color: var(--local--600);
			border:1px solid var(--local--600);
		}
	}
	&:hover{
		fill: white;
	}
	
}

.card__title{
	font-size: $ui-font-size-md;
	font-weight: 600;
}

