/*Code styles start*/
/* updated on 2024/07/25 */

pre {
	background: var(--gray--25);
	border: 1px solid var(--gray--100);
    border-radius: 0 0 0.5rem 0.5rem; 
    font-size: 1rem;
    font-family: monospace;
    padding: 16px;
    color: var(--charcoal--800);
    overflow:auto;
    box-shadow: none;
    margin-bottom: 1rem;
    max-height: 600px;
}

.example{
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border: 1px solid  var(--gray--100);
    justify-content: center;
    // margin-bottom: 1rem;
    background-color: transparent;
    border-radius: 4px;
    height: fit-content;
    width: 100%;

    &.dark-mode{
        background-color: var(--charcoal--800);
    }
}

code {
    background-color: var(--gray--25);
    border-radius: 3px;
    font-family: monospace;
    padding: 0 3px;
}

.code {
    font-family: monospace;
    font-size: 1rem;
}
/*end Code styles*/