pre {
	background: var(--gray--50);
	border: 1px solid var(--gray--100);
    border-radius: 0 0 0.5rem 0.5rem; 
    font-size: 1rem;
    font-family: monospace;
    padding: 16px;
    color: var(--charcoal--800);
    overflow:auto;
    box-shadow: none;
    margin-bottom: 1rem;
}

.example{
    margin: auto;
    padding: 1.5rem;
    border: 2px solid  var(--gray--100);
    justify-content: center;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
