.icon-container{
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img{
        height: 100%;
    }

    &--inline{
        height: 1.5em;
        width: auto;
        
    }

    &--tiny{
        height:  1rem;
    }

    &--sm{
        // min-width: 1.75rem;
        // max-width: 2rem;
        height: 1.25rem;
        @include media-breakpoint-down(sm) {
            height: 1.25rem;
        }
        
    }

    &--md{
        min-width: 1.5rem;
        max-width: 3rem;
        height: 1.5rem;
    }
    

    &--lg{
        min-width: 2.25rem;
        max-width: 3rem;
        height: 2.25rem;
    }

    &--xl{
        min-width: 3rem;
        max-width: 3rem;
        height: 3rem;
    }

}

