.costs{
	@include media-breakpoint-down(sm) {

		

	}
	background-image: url('../img/large_o.jpg'); 
	background-repeat: no-repeat;
	background-position: right bottom;
	.intro{
		margin-bottom: 50px;
		h1{
			margin-bottom: 0;
			color: #010101;
		}
		.sub-title {
			font-weight: 600;
			color: #010101;
		}

		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}

	h4 {
		color: #000000;
		font-size: 22px;
		font-size:1.375rem;
		font-weight: bold;
		margin-bottom: 9px;
	}

	p{
		font-size: 15px;
		font-size:0.9375rem;
	}

	.cost.cost-card{
		.col-2 {
			padding: 0;
			text-align: center;
		}
	}

	.cost-card {
		/* border: 1px solid #979797; */
		/*box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);*/
		margin-bottom: 60px;
		margin-top:12px;

		.table-head {
			background-color: #434343;
		    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
		    color: #FFFFFF;
		    font-weight: bold;

		    .col-2{
		    	text-align: center;
		    }

		    .col-4, .col-2{
		    	padding: 14px 0;
		    }

		    .col-4{
		    	padding-left: 11px;
		    }

		    .col-8{
		    	text-align: center;
		    	padding:8px 0;
		    }
		}

		.table-row{
			padding: 18px 0;

			p{
				color: #000000;
				font-size: 14px;
				font-size: 0.875rem;
				font-weight: 600;
				margin: 0;
			}

			span, span>a {
				color: #595854;
				font-size: 12px;
				font-size: 0.75rem;
			}

			.col-4 .col-2{
				padding:0;
			}
			.col-4{
				padding-left:10px;


			}

			.price {
				text-align: right;
			}

			&:nth-child(odd){
				background-color:#F1F1F1;
			}

			&:nth-child(even){
				background-color:#FFFFFF;
			}

			.table-content {
				text-align: center;

				@include media-breakpoint-down(sm) {
					padding: 0 10px;
				}

				p{
					font-weight: normal;
					font-size:15px;
					font-size:0.9375rem;
					color:#595854;
				}

				a{
					color: #595854;
				}
			}
		}

		table {
			table-layout: fixed;
			width: 100%;
			th, td {
				padding: 14px;
			}
		}

		thead {
			th, td{
				background-color: #434343;
				border: 1px solid #434343;
				border-bottom: none;
				box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
				color: #FFFFFF;
				font-weight: bold;
			}
			

			&.small-header {
				font-size: 14px;
				font-size: 0.875rem;
			}

			th:first-child {
				text-align: left;
			}

			a {
				color: #fff;
				&:hover, &:focus {
					color: #C5C5C5;
				}
			}
		}

		tbody {
			border: 1px solid #979797;
			//border-top: none;

			&:first-child {
				border-top: 1px solid #979797;
			}

			tr {
				&:nth-child(odd) {
					background-color: #fff;
				}

				&:nth-child(even) {
					background-color: #F1F1F1;
				}

				th, td {
					color: #000000;
					font-size: 14px;
					font-size: 0.875rem;
					font-weight: 600;
					margin: 0;
					padding: 18px 14px;
					text-align: center;

					&:first-child {
						text-align: left;
					}

					&.information {
						background: #fff;
						text-align: center;

						p {
							font-weight: normal;
							font-size: 15px;
							font-size: 0.9375rem;
							color: #595854;
						}

						a{
							color: #595854;
						}
					}
				}
			}

			p {
				color: #000000;
				font-size: 14px;
				font-size: 0.875rem;
				font-weight: 600;
				margin: 0;
			}

			span, span > a {
				color: #595854;
				font-size: 12px;
				font-size: 0.75rem;
			}
		}

		table.alternate {
			tbody {
				tr {
					&:nth-child(even) {
						background-color: #fff;
					}

					&:nth-child(odd) {
						background-color: #F1F1F1;
					}
				}
			}
		}

	}

	.transfers{
		margin-top:40px;
		margin-bottom: 140px;
		p{
			font-weight: 600;
		}
		.intro{
			margin-bottom: 25px;
			text-align: left;
			h3{
				color: #016b9d;
				margin-bottom: 15px;
			}
			
		}

		.cost-card{
			margin-bottom:15px;
		}
	}
}