/* Destinations */

.hideLinkSpan {
	@extend .visuallyhidden;
}

@include media-breakpoint-up(md) {
	.events.mobile-only {
		display: none;
	}
}

.tripPlanBox {
	@extend .clearfix;
	/* border: 1px solid #979797;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
	border-top: 3px solid #EB2121;
	padding: 22px 44px 35px;
	text-align: center;
	margin-bottom: 12px; */

	p {
		max-width: 353px;
		margin: 0 auto 1em;
	}

	h3 {
		font-size: 1rem;
		font-size: 16px;
		line-height: 1.5;
	}

	select {
		font-size: 1rem;
		height: 32px;
		width: 100%;
		margin-bottom: 1em;
		max-width: 353px;
	}

	.planLink {
		display: block;
		height: 63px;
		margin: 0 auto;
		max-width: 353px;
		width: 100%;

		&#planLinkThere {
			background: url('../img/planThere.png') no-repeat left center;
			background-size: cover;
		}

		&#planLinkHome {
			background: url('../img/planHome.png') no-repeat right center;
			background-size: cover;
		}

		.fr &#planLinkThere {
			background: url('../img/planThere-fr.png') no-repeat left center;
			background-size: cover;
		}

		.fr &#planLinkHome {
			background: url('../img/planHome-fr.png') no-repeat right center;
			background-size: cover;
		}
	}
}

#venueAddress {
	border: 1px solid #979797;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
	border-top: 3px solid #EB2121;
	padding: 22px 44px 35px;
	text-align: left;
	margin-bottom: 12px;
}

.basic-content ul.nav_categories--venues {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
	padding: 0;
	list-style: none;

	li {
		flex-grow: 3;
		padding: 0;
	}

	a, label {
		background: #F5F5F5;
		border: 1px solid #E0E0E0;
		border-radius: 7px;
		color: #333;
		cursor: pointer;
		display: block;
		font-size: 11px;
		font-size: 0.6875rem;
		font-weight: bold;
		margin: 0 5px 10px;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		&.active {
			background: #000;
			border: 1px solid #000;
			color: #fff;
		}
	}

	input[type="checkbox"], input[type="submit"] {
		@extend .visuallyhidden;
	}

	input[type="checkbox"]:focus + label {
		outline-width: 2px;
		outline-style: solid;
		outline-color: highlight;
	}

	input[type="checkbox"]:checked + label {
		background: #000;
		border: 1px solid #000;
		color: #fff;
	}
}

ul.venues {
	list-style: none;
	margin-left: 0;
	padding: 0;

	li {
		@extend .clearfix;
		border: 1px solid #979797;
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
		border-top: 3px solid #EB2121;
		padding: 16px 32px;
		text-align: left;
		margin-bottom: 12px;

		h3 {
			font-size: 24px;
			font-size: 1.5rem;
			line-height: 1.5;
		}

		.venue-links {
			text-align: right;
			a {
				background: #000;
				border: 1px solid #000;
				color: #fff;
				font-weight: bold;
				display: inline-block;
				padding: 9px;
				text-decoration: none;
			}
			form {
				display: inline;
				input[type="submit"] {
					background: #000;
					border: 1px solid #000;
					color: #fff;
					font-weight: bold;
					display: inline-block;
					padding: 9px;
					text-decoration: none;
					line-height: 20px;
					display: inline-block;
				}
			}
		}

		.venueDescription {
			font-size: 0.75rem;
			font-size: 12px;
		}
	}
}

.col-events {
	h2 {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1.5;
	}
}

.venueEvent {
	border: 1px solid #979797;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
	margin-bottom: 12px;
	padding: 16px;
	a {
		color: #2D2D2D;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	h3 {
		font-size: 16px;
		font-size: 1rem;
	}
	h4 {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

.col-events {
	> h2, h3 {
		color: #000;
		font-size: 20px;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.9;
		margin: 0 0 7px;
		padding: 0;
	}

	> h2.get-to-event {
		font-size: 30px;
		line-height: 1.2666666667;
		margin: 0 0 20px;
		&:before {
			background: #000;
			content: '';
			display: block;
			height: 5px;
			margin-bottom: 12px;
			width: 50px;
		}
	}

	.venueEvent {
		h3 {
			background: #000;
			color: #fff;
			font-size: 17px;
			font-size: 1.0625rem;
			line-height: 1.0588235294;
			margin: -17px -17px 16px -17px;
			padding: 20px 16px;
		}
	}

	.venueEvent.featured {
		h3 {
			background: #37B249;
		}
	}
}

#destinations-keyword-search {
	input[type="search"] {
		font-size: 16px;
		font-size: 1rem;
	}
	input[type="submit"] {
		@extend .visuallyhidden;
	}
}

.search-venue-autocomplete {
	background: #fff;
	font-size: 16px;
	font-size: 1rem;

	&.ui-menu {
		list-style: none;
		padding: 2px;
		margin: 0;
		display: block;
		outline: none;
	}

	.ui-state-active {
		background: #016b9d;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: normal;
	}

	&.ui-widget-content {
		border: 1px solid #ddd;
		background: #f8f8f8;
		color: #333;
	}
}

.venue-tdplace {
	hr {
		clear: both;
	}
	table {
		box-shadow: none;
		td {
			text-align: left;
		}
		tbody tr:nth-child(even), tbody tr:nth-child(odd) {
			background: none transparent;
		}
		h2 {
			font-size: 16px;
			font-size: 1rem;
			line-height: 1.5; 
			text-align: left;
			padding-left: 0.5em;
		}
	}
}

@include media-breakpoint-down(md) {
	#lansdowne-map {
		height: auto !important;
		transform: none !important;
		width: 100% !important;
		img {
			height: auto !important;
			max-width: 100% !important;
		}
	}

	.mobile-markers {
		margin: 1em 0;
		a {
			display: block;
			font-weight: bold;
			margin: 0 0 0.5em;
		}
	}

	.parking-normal img {
		opacity: 0;
	}

	.tooltip-static {
		position: relative !important;
		top: auto !important;
		left: auto !important;
		right: auto !important;
		width: 100% !important;
		height: auto !important;

		.parking-hover {
			display: none !important;
		}

		.dep-time {
			//float: none;
		}

		.parking-map {
			position: static;
			left: auto;
			margin-bottom: 12px !important;
		}

		.tooltip {
			position: static !important;
			background-position: left 90%;
			margin: 0 !important;
			width: 100%;
		}
	}

	.pop-up-main .pop-up-title {
		//border: 1px solid #9F9F9F;
		//border-radius: 2px;
		//box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
		font-size: 22px;
		font-size: 1.4rem;
		line-height: 1.25;
		cursor: pointer;
		background: url(../img/green-arrow-closed.svg) no-repeat 2% center;
		padding: 7px 10px 7px 35px;
	}

	.tooltip-open .pop-up-main .pop-up-title {
		background: url(../img/green-arrow.svg) no-repeat 2% center;
	}

	.img-pin {
		display: none !important;
	}
}

.tooltip {
	@extend .clearfix;
}

.venue-td-place, .venue-place-td {
	.row--basic-content-main .col-md-4 {
		position: relative;
		z-index: 99;
	}
}

.fr #map-tabs ul li a {
	min-height: 67px;
	@include media-breakpoint-down(md) {
		min-height: 90px;
		img {
			margin-bottom: 20px !important;
		}
	}
}

@include media-breakpoint-up(lg) {
	.mobile-markers {
		display: none;
	}

	/* .tooltip billings_bridge, .tooltip .billings_bridge_2 {
		display: block !important;
	} */
}
