.fares{
	margin-bottom: 108px;
	@include media-breakpoint-down(sm) {
		margin-bottom:54px;

		h1{
			text-align: center;
		}
	}
	.fares-card {
		border: 1px solid #979797;
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
    	border-top: 3px solid #EB2121;
    	padding: 22px 44px 35px;
    	text-align: center;
		margin-bottom:12px;
		
    	h2, h3 {
    		font-size: 24px;
    		font-size: 1.5rem;
    		font-weight: 600;
    		color: #000000;
    		margin-bottom: 30px;
    	}

    	p{
    		margin-bottom: 30px;
    	}

    	@include media-breakpoint-down(sm) {
    		margin:6px 0px;
    	}
    	@include media-breakpoint-up(xl) {
	    	margin: 0 -15px;
			padding: 22px 24px 35px;
		}
		@include media-breakpoint-up(lg){
			height: 100%;
		}
    }
}

.related-news{
	h2.related-news-title, h3.related-news-title{
		color: #000000;
		margin-bottom: 65px;
		&:before{
			border-top: 4px solid #000000;
		    content: "";
		    width: 64px;
		    display: block;
		    margin-bottom: 20px;
		}
		@include media-breakpoint-down(sm){
			margin-bottom: 28px;
		}

		    
	}
}