.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex !important;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-dir-col {
    flex-direction: column;
    row-gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.flex-jc-c {
    justify-content: center;
}
.flex-jc-end {
    justify-content: end;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}