.icon-heading::before{
    content: "";
    display: block;
    height: 100%;
    background-image: url("https://www.octranspo.com/images/files/icons/line_1.svg");
    background-repeat: no-repeat;

}