/* icons start */
/* updated: 2024/07/18 */
.inline-icon{
    width: auto;
    height:1.25em;
    max-height:1.25em;
    img{
        height: 1.25em;
        max-height:1.25em;
    }
}

.xs-icon{
    border-radius: 2px;
    height: 1.25rem;
    max-height: 1.25rem;
        @include media-breakpoint-down(sm) {
            height: 1.25rem;
            max-height: 1.25rem;
        }
}
.sm-icon{
    border-radius: 2px;
    height: 1.75rem;
}

.md-icon{
    border-radius: 4px;
    height: 2.25rem;
}

.lg-icon{
    border-radius: 6px;
    height: 4rem;
}
.xl-icon{
    border-radius: 6px;
    height: 6rem;
}
/*END icon styles*/