.fancybox-media{
    display: flex;
    overflow: hidden;
    justify-content: center;
    border-radius: 0.5rem;
}
    img{
        transition: all ease-in-out 0.15s;
    }
    a{
        width: 100%;
    }


figure.clickable-img:hover{
    img{
        scale: 103%;
    }
}