/*lists start*/

ul.checklist {
    li{
        display: flex;
        gap: 0.5rem;
    
        &::before{
            content: "";
            height: 1em;
            width: 1em;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            flex-shrink: 0;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("https://www.octranspo.com/images/files/icons/status_postive.svg");
        }
}
&--x{
    li::before{
        background-image: url("https://www.octranspo.com/images/files/icons/status_negative.svg");
    }
}

}



.timeline{
    position: relative;
li.timeline__list{
    display: flex;
    margin: 0;

    &:before{
        content: "";
        display: block;
        min-width: 0.5rem;
        margin-right: 1rem;
        margin-top: 0.4rem;
        height: 0.5rem;
        background-color: #FFFF84;
        border-radius: 999px;
    }

    &:not(:last-child){
        margin-bottom: 2rem;
    }
}


&__body{
    line-height: 1.6rem;

}

&__year{
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--charcoal--800);
}
}

/*End lists*/