ul, ol {
    /* margin: 0 1.5rem 0; */
    padding-left: 0;
}

.content-container ul li {
    margin: 0;
    padding: 0;
    line-height: 150%;
}

.content-container ul, .content-container ol{
    margin-left: 2.5rem;
    padding: 0;
    line-height: 150%;
}

li {
    // padding-left: 0.25rem;
    line-height: 150%;
}

.accordion,.fares,.row--basic-content-main, .main-content{
    // li {
    //     margin-left: 1rem;
    // }
}
// ul:not(.){
//     margin-bottom: 1rem;
// }

ul.checklist li{
    display: flex;
    /* align-items: center; */
    gap: 0.25rem;
    margin: 0;

    &::before{
        content: "";
        height: 1.25em;
        width: 1.25em;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        flex-shrink: 0;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://www.octranspo.com/images/files/icons/Check-green.svg");
    }
}



.timeline{
    position: relative;
li.timeline__list{
    display: flex;
    margin: 0;

    &:before{
        content: "";
        display: block;
        min-width: 0.5rem;
        margin-right: 1rem;
        margin-top: 0.4rem;
        height: 0.5rem;
        background-color: #FFFF84;
        border-radius: 999px;
    }

    &:not(:last-child){
        margin-bottom: 2rem;
    }
}


&__body{
    line-height: 1.6rem;

}

&__year{
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--charcoal--800);
}
}