/*Note styles*/
/* updated on 2024/07/03 2:12 */
.note{
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size:0.875rem;
    display: block;
    border-radius: $radius-md;

    .note__heading{
        display: flex; 
    }
    .note__title{
        flex-grow: 1;
        font-weight: 700;
    }
    // @include media-breakpoint-down(md) {
    //     font-size: 0.875rem;
    // }

    &__content{
        p:not(:last-child){
            margin-bottom: 0.25rem;
        }
    }
    &-warning{
        padding: 0.75rem 1rem;
        background: var(--line3--50);
        .note__title{
            color: var(--line3--700);
        }
    }
    &-update{
        padding: 0;
        border-left: none;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .note__title{
            margin-bottom: 0 !important;
            padding: 0.25rem 1rem;
            color: #000;
            text-transform: uppercase;
            background-color: var(--line4--300);
        }
        .note__content{
            padding: 1rem;
            background: #fff;
        }
    }
    &-tip{
        border-color:var(--line4--600);
        background: transparent;
    }

    &--level0 {
        padding: 0.5rem;
        background: transparent;
        font-size: 0.875rem;
    }
}

//not__action is the icon for the note
.note__action{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.875rem;
}


.note__type--info{
    .note__action{
        color: var(--info);
    }
}
.note__type--warning{
    .note__action{
        color: var(--warning);
    }
}
.note__type--positive{
    .note__action{
        color: var(--positive);
    }
}
.note__type--negative{
    .note__action{
        color: var(--negative);
    }
}

.note__style{
    &--filled{
        &.note__type--neutral{
            background-color: var(--charcoal--50);
        }
        &.note__type--info{
            background-color: var(--info-bg-color);
        }
        &.note__type--warning{
            background-color: var(--warning-bg-color);
            
        }
        &.note__type--positive{
            background-color: var(--positive-bg-color);
        }
        &.note__type--negative{
            background-color: var(--negative-bg-color);
        }

    }
    &--bordered{
        border: 1px solid;
        &.note__type--info{
            border-color: var(--info-border-color);
        }
        &.note__type--warning{
            border-color: var(--warning-border-color);
        }
        &.note__type--positive{
            border-color: var(--positive-border-color);
        }
        &.note__type--negative{
            border-color: var(--negative-border-color);
        }
    }
}
    
/*END Note styles*/