/*Note styles*/
/* updated on 2024/8/7 */
/* overriding */
.note{
    p.note__title, .note__desc{
      margin-top: 0;
    }
    box-shadow: none;
  }
  
  /* Basic styles */

.note{
    position: relative;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size:0.875rem;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: $radius-md;
    height: fit-content;
    display: block;


    .note__title{
        flex-grow: 1;
        font-weight: 700;
        line-height: 1.15em;
        padding-top: 0.25rem;
    }

    &.note__type{
        &--info, &--success,&--warning, &--urgent{
            > * {
                padding-left: 36px;
            } 

            &::before{
                content: "";
                display: inline-flex;
                position: absolute;
                left: 1rem;
                top: 1rem;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                min-width: 24px;
                min-height: 24px;
                border-radius: $radius-pill;
            }
        }
    }   
}

// note fonts
.note{
    .note__desc{
        font-size: $ui-body-size-sm;
    }

    @include media-breakpoint-down(sm) {
        .note__desc{
            font-size: $ui-body-size-sm-mobile;
        }
    }
}

// Semantic note icons
.note__type{
    &--info{
        &::before{
            background-image: url("https://www.octranspo.com/images/files/icons/semantic_info-circled.svg");
        }
    }
    &--warning{
        &::before{
            background-image: url("https://www.octranspo.com/images/files/icons/semantic_warning-yellow-circled.svg");
        }
        
    }
    &--success{
        &::before{
            background-image: url("https://www.octranspo.com/images/files/icons/semantic_success-circled.svg");
        }
    }
    &--urgent{
        &::before{
            background-image: url("https://www.octranspo.com/images/files/icons/semantic_warning-red-circled.svg");
        }
        
    }
}

//note__action is the icon for the note
.note__action{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.875rem;
}


.note__type--info{
    .note__action{
        color: var(--info);
    }
}
.note__type--warning{
    .note__action{
        color: var(--warning);
    }
}
.note__type--success{
    .note__action{
        color: var(--success);
    }
}
.note__type--critical{
    .note__action{
        color: var(--critical);
    }
}
//padding
.note__desc{
    p:last-of-type{
        margin-bottom: 0;
    }
}
// colours


    //default colours
.note{
    > *, p{
        color: var(--neutral-text-color);
    }
    background-color: var(--neutral-bg-color);
}

//neutral colours

    //special colours
    .note__type{
        &--special{
            background-color: white;
            box-shadow: $general-shadow1;
        }
    }

    //semantic colours

.note__type{
    &--info{
        > *, p{
            color: var(--info-text-color);
        }
        background-color: var(--info-bg-color);
    }
    &--warning{
        > *, p{
            color: var(--warning-text-color);
        }
        background-color: var(--warning-bg-color);
    }
    &--success{
        > *, p{
            color: var(--success-text-color);
        }
        background-color: var(--success-bg-color);
    }
    &--urgent{
        > *, p{
            color: var(--critical-text-color);
        }
        background-color: var(--critical-bg-color);
    }
}
    
/*END Note styles*/