/*  LRT launch styles (animated logo, countdown, welcome aboard nav*/

@font-face {
    font-family: 'BubbledotICG';
    src: url('fonts/BubbledotICG-CoarsePos.woff2') format('woff2'),
        url('fonts/BubbledotICG-CoarsePos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BubbledotICGFine';
    src: url('fonts/BubbledotICG-FinePos.woff2') format('woff2'),
        url('fonts/BubbledotICG-FinePos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.logo-animation-desktop {
	@include media-breakpoint-up(lg) {
		&.en {
			.navbar--main-nav {
				.logo--desktop {
					background-image: url('../img/logo-with-text-en.png');
					.svg & {
						background-image: url('../img/logo-with-text-en.svg');
					}
					background-position: 20px 5px;
					background-size: 198px 179px;
				}
			}
		}

		&.fr {
			.navbar--main-nav {
				.logo--desktop {
					background-image: url('../img/logo-with-text-fr.png');
					.svg & {
						background-image: url('../img/logo-with-text-fr.svg');
					}
					background-position: 20px 5px;
					background-size: 198px 179px;
				}
			}
		}

		&.en {
			.header-countdown-complete .navbar--main-nav {
				.logo--desktop {
					background-image: url('../img/logo-with-text-complete-en.png');
					.svg & {
						background-image: url('../img/logo-with-text-complete-en.svg');
					}
					background-position: 20px 5px;
					background-size: 198px 179px;
				}
			}
		}

		&.fr {
			.header-countdown-complete .navbar--main-nav {
				.logo--desktop {
					background-image: url('../img/logo-with-text-complete-fr.png');
					.svg & {
						background-image: url('../img/logo-with-text-complete-fr.svg');
					}
					background-position: 20px 5px;
					background-size: 198px 179px;
				}
			}
		}
	}

	.navbar--main-nav .logo--desktop {
		text-indent: 0;
		.logo-text {
			@extend .visuallyhidden;
		}
	}

	.train img {
		//animation: desktop-train-slide 8s ease-in-out infinite;
		//animation-delay: 3s;
		position: absolute;
		bottom: 0;
		transform: translateX(0px);
		width: 229px;
		max-width: 229px;
		height: auto;
	}

	.logo-stage {
		height: 100%;
		margin-left: -19px;
		max-width: 230px;
		overflow: hidden;
		position: relative;

		img {
			
		}
	}
}

@include media-breakpoint-up(lg) {
	.homepage-widget-wrap {
		background-image: url('../img/heroImage_Blair.jpg');
	}
	.homepage-widget-wrap.homepage-widget-wrap-complete {
		background-image: url('../img/heroImage_Blair_Sept14b.jpg');
	}

	/*.homepage-intro h1 {
		color: #fff;
		position: relative;
		top: -40px;
		display: inline-block;
		background: rgba(0,0,0,0.6);
		padding: 20px;
	}*/
}

.logo-animation-mobile {
	@include media-breakpoint-down(md) {
		.navbar--main-nav {
			.logo {
				position: relative;
				height: 21px;
				img {
					height: auto;
					position: absolute;
					top: 0;
					&.logo-img {
						animation: mobile-logo-toggle 15s ease-in-out infinite;
						animation-delay: 3s;
						opacity: 0;
					}
					&.date-img {
						animation: mobile-launch-date-toggle 15s ease-in-out infinite;
						animation-delay: 3s;
						opacity: 0;
					}
					&.train-img {
						animation: mobile-train-animation 15s ease-out infinite;
						animation-delay: 3s;
						max-width: 229px;
						opacity: 0;
						top: -7px;
						transform: translateX(-230px);
						width: 229px;
						height: auto;
					}
				}
			}
		}
	}
}

.en.logo-animation-mobile .date-img-fr {
	display: none;
}

.fr.logo-animation-mobile .date-img-en {
	display: none;
}

.homepage-lrt-countdown {
	
}

.welcome-aboard-menu {
	.navbar--main-nav .header__navigation .main-nav .red-nav-item, .navbar--main-nav .header__navigation .main-nav .o-line-nav-item {
		> a {
			background: #2C2C2C;
			color: #fff;
			.lrt-nav-o {
				background: url('../img/O-icon.png') no-repeat 0px 0px;
				background-size: 15px 15px;
				display: inline-block;
				height: 15px;
				width: 15px;
				margin: 0 1px 0 1px;
				@include media-breakpoint-up(lg) {
					margin: 0 1px 0 2px;
				}
				text-indent: 1000%;
				overflow: hidden;
				position: relative;
				top: 3px;
			}
		}
	}
	.navbar--main-nav .header__navigation .main-nav li.o-line-nav-item {
		> a {
			background: #fff;
			color: #000;
			@include media-breakpoint-up(lg) {
				padding-bottom: 32px;
			}
		}
		&.active:after{
			margin-left: 16px;
			margin-top: 0;
		}
	}
}

.homepage-lrt-countdown { /* Coundown/Confetti styles */
	.homepage-widget-wrap {
		position: relative;
		&.canvas-wrap {
			overflow: hidden;
		}
		h1 {
			display: none;
		}
	}

	.countdown {
		background: #000;
		border: 20px solid #132142;
		border-radius: 20px;
		font-family: 'BubbledotICGFine', monospace;
		color: #f97306;
		max-width: 560px;
		margin: 0 auto;
		margin-bottom: 50px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		position: relative;
		text-shadow: 0px 0px 8px rgba(249,115,6,0.8);
		@include media-breakpoint-up(lg) {
			margin-top: -65px;
		}
		.date-segment {
			flex: 0 0 25%;
			max-width: 25%;
			&.date-segment-full {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.number {
				font-size: 80px;
				font-size: 5rem;
				line-height: 0.85;
				line-height: 1;
				font-weight: normal;
				font-size: normal;
				margin: 2px;
				position: relative;
				@include media-breakpoint-up(lg) {
					&:after {
						content: ':';
						position: absolute;
						right: -30px;
					}
				}
			}
			.complete {
				text-transform: uppercase;
				font-size: 3.5rem;
				line-height: 2;
			}
			&:last-child {
				.number:after {
					content: '';
				}
			}
			.label {
				font-size: 24px;
				font-size: 1.5rem;
				font-weight: 400;
				line-height: 1;
				letter-spacing: 2px;
				font-weight: normal;
				font-size: normal;
				margin: 2px;
				margin-bottom: 7px;
				text-transform: uppercase;
			}
		}
	}

	.navbar--main-nav .logo img.date-img {
		display: none;
	}

	.navbar--main-nav .logo {
		text-decoration: none;
	}

	header .countdown {
		width: 150px;
		border: 5px solid #132142;
		border-radius: 5px;
		animation: mobile-launch-date-toggle 15s ease-in-out infinite;
		animation-delay: 3s;
		opacity: 1;
		position: relative;
		top: -3px;
		.date-segment {
			flex: 0 0 100%;
			max-width: 100%;
				.number {
					font-size: 16px;
					font-size: 1em;
				}
				.complete {
					font-size: 16px;
					font-size: 1em;
					line-height: 1.25;
					text-transform: uppercase;
				}
				.label {
					font-size: 6px;
					line-height: 1.5;
					letter-spacing: 0px;
				}
			}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	.homepage-widget-wrap {
		padding-bottom: 0;
		> .container {
			padding-bottom: 63px;
		}
	}

	.homepage-widget-wrap .countdown, #homepage-widget-confetti {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	
}

.homepage-lrt-countdown.fr .countdown .date-segment .complete {
	font-size: 3.25rem;
}

.homepage-lrt-countdown.fr header .countdown .date-segment .complete {
	font-size: 14px;
	font-size: 0.875rem;
}

.homepage-lrt-countdown.fr .countdown .date-segment .label {
	font-size: 20px;
	font-size: 1.25rem;
}

@include media-breakpoint-up(lg) {
	.homepage-lrt-countdown .countdown {
		min-height: 151px;
	}
}

/* Animation keyframes for logo animation */

@keyframes desktop-train-slide {
	0%,
	10% { transform: translateX(-230px); }
	40% { transform: translateX(-0px); }
	75% { transform: translateX(-0px); }
	100% { transform: translateX(230px); }
}

@keyframes mobile-logo-toggle {
	0% { opacity: 0; }
	10% { opacity: 0; }
	20% { opacity: 0; }
	30% { opacity: 0; }
	40% { opacity: 0; }
	50% { opacity: 0; }
	60% { opacity: 0; }
	70% { opacity: 1; }
	80% { opacity: 1; }
	90% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes mobile-launch-date-toggle {
	0% { opacity: 1; }
	10% { opacity: 1; }
	20% { opacity: 0; }
	30% { opacity: 0; }
	40% { opacity: 0; }
	40% { opacity: 0; }
	50% { opacity: 0; }
	60% { opacity: 0; }
	70% { opacity: 0; }
	80% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

/*@keyframes mobile-train-animation {
	0% { opacity: 0; transform: translateX(-250px); }
	10% { opacity: 0; transform: translateX(-250px); }
	20% { opacity: 0; transform: translateX(-250px); }
	30% { opacity: 0; transform: translateX(-250px); }
	40% { opacity: 0; transform: translateX(-250px); }
	50% { opacity: 0; transform: translateX(-250px); }
	60% { opacity: 1; transform: translateX(-250px); }
	70% { opacity: 1; transform: translateX(-140px); }
	80% { opacity: 1; transform: translateX(-140px); }
	90% { opacity: 0; transform: translateX(-140px); }
	100% { opacity: 0; transform: translateX(-140px); }
}*/

@keyframes mobile-train-animation {
	0% { opacity: 0; transform: translateX(-250px); }
	10% { opacity: 0; transform: translateX(-250px); }
	20% { opacity: 0; transform: translateX(-250px); }
	30% { opacity: 1; transform: translateX(-140px); }
	40% { opacity: 1; transform: translateX(-140px); }
	50% { opacity: 1; transform: translateX(-140px); }
	60% { opacity: 0; transform: translateX(-140px); }
	70% { opacity: 0; transform: translateX(-140px); }
	80% { opacity: 0; transform: translateX(-140px); }
	90% { opacity: 0; transform: translateX(-140px); }
	100% { opacity: 0; transform: translateX(-140px); }
}
