/* Print styles */

@media print {
	header .isn, .main-nav, .header__navigation__top, .utility-nav-mobile, .navbar-toggler, .oc-faq-top, .footer-nav, .btn-get-travel-plan-alt, .route-sidebar, .more-options, #dir_label, div#select-date, div#select-route, .breadcrumbs, .generic-tab {
		display: none !important;
	}

	.container {
		max-width: none;
	}

	.container main {
		margin-left: 0 !important;
		max-width: 100% !important;
		flex: none !important;
	}

	.accordion-content, .accordion-container .accordion-content, .faq-accordion .accordion-content {
		display: block !important;
	}

	td, th {
		background: none transparent !important;
		color: #000 !important;
		border: 1px solid #000;
	}

	#timetable .tab-content {
		overflow-x: visible;
	}

	#timetable table, #timetable table tbody tr td {
		font-size: 10px;
	}

	.tabcontent {
		display: block !important;
	}

	img, video {
		display: none;
	}

	img.print {
		display: block;
	}
}
