/****Routes & lines styles ******/
/* updated on 2024/07/18 */


//allow span nested to inherit styles of parent to allow icon to become responsive

h1, h2, h3, h4, h5, h6, p {
	span{
		line-height: inherit;
		font-size: inherit;
	}
}


//general styles
.rt{
    color: white;
    text-align: center;
    width: 2.75em;
    height: 100%;
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 0.125em;
    font-weight: 600;
    font-size: 0.875em;
}

//icon widths for circular ids
h1, h2, h3, h4, h5, h6 {
    .rt-type{
        &--line1,&--line2,&--line3,&--line4,&--rapid{
            width: 1.25em;
        }
    }
}

.rt-type{
    &--line1,&--line2,&--line3,&--line4,&--rapid{
        width: 1.5rem;
    }
}

//styles for line replacement service
.rt-type{
    &--R1,&--R2,&--R3,&--R4{
        padding: 0.75em 0.5em 0.75em 1.25em

    }
}

//indv route & line styles
.rt-type{
    &--line1{
        background-image:url('https://www.octranspo.com/images/files/icons/line_1-blank.svg');
    }
    &--line2{
        background-image:url('https://www.octranspo.com/images/files/icons/line_2-blank.svg');
    }
    &--line3{
        background-image:url('https://www.octranspo.com/images/files/icons/line_3-blank.svg');
    }
    &--line4{
        background-image:url('https://www.octranspo.com/images/files/icons/line_4-blank.svg');
    }
    &--R1{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R1-blank.svg');
        color: var(--line1--600);
    }
    &--R2{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R2-blank.svg');
        color: var(--line2--500);
    }
    &--R3{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R3-blank.svg');
        color: var(--line3--500);
    }
    &--R4{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R4-blank.svg');
        color: var(--line4--500);
    }
    &--connexion{
        background-image:url('https://www.octranspo.com/images/files/icons/route_connexion.svg');
    }
    &--rapid{
        background-image:url('https://www.octranspo.com/images/files/icons/route_rapid.svg');
    }
    &--frequent{
        background-image:url('https://www.octranspo.com/images/files/icons/route_frequent-nwtb.svg');
    }
    &--local{
        background-image:url('https://www.octranspo.com/images/files/icons/route_local.svg');
    }
    &--connexion_l{
        background-image:url('https://www.octranspo.com/images/files/icons/route_connexion-ltd.svg');
        color: var(--connexion--600);
    }
    &--frequent_l{
        background-image:url('https://www.octranspo.com/images/files/icons/route_frequent-ltd-nwtb.svg');
        color: var(--frequent--600);
    }
    &--local_l{
        background-image:url('https://www.octranspo.com/images/files/icons/route_local-ltd.svg');
        color: var(--local--600);
    }
}

// Class for lines & replacements
.rt-{
    &1{
        background-image:url('https://www.octranspo.com/images/files/icons/line_1-blank.svg');
    }
    &2{
        background-image:url('https://www.octranspo.com/images/files/icons/line_2-blank.svg');
    }
    &3{
        background-image:url('https://www.octranspo.com/images/files/icons/line_3-blank.svg');
    }
    &4{
        background-image:url('https://www.octranspo.com/images/files/icons/line_4-blank.svg');
    }
    &R1{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R1-blank.svg');
        color: var(--line1--600);
        padding-left: 0.85em;
    }
    &R2{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R2-blank.svg');
        color: var(--line2--500);
        padding-left: 0.85em;
    }
    &R3{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R3-blank.svg');
        color: var(--line3--500);
        padding-left: 0.85em;
    }
    &R4{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R4-blank.svg');
        color: var(--line4--500);
        padding-left: 0.85em;
    }
}

// specific routes
.rt-{
    // Frequent routes (BLU)
    &5, &5, &6, &6, &7, &7, &10, &10, &11, &11, &12, &12, &14, &14, &25, &25, &39, &39, &40, &40, &41, &41, &44, &44, &45, &45, &57, &57, &61, &61, &62, &62, &63, &63, &63, &63, &68, &68, &74, &74, &75, &75, &80, &85, &85, &87, &87, &88, &88, &90, &90, &98, &98, &111, &111{
        background-image:url('https://www.octranspo.com/images/files/icons/route_frequent_nwtb.svg');
    }
    // Limited frequent routes (BOW)
    &39, &N39, &N39, &N39, &N45, &N45, &N57, &N57, &N61, &N61, &62, &62, &68, &68, &N75, &N75, &N98, &N98, &111, &111{
        background-image:url('https://www.octranspo.com/images/files/icons/route_frequent-ltd-nwtb.svg');
        color: var(--frequent--600);
    }
    // local (GRY)
    &8, &8, &9, &9, &18, &18, &19, &19, &20, &20, &24, &24, &24, &24, &30, &30, &31, &31, &33, &33, &34, &34, &35, &35, &36, &36, &38, &38, &42, &42, &48, &48, &49, &49, &51, &51, &53, &53, &56, &56, &58, &58, &60, &60, &67, &67, &67, &70, &70, &73, &73, &81, &81, &82, &82, &86, &86, &93, &93, &99, &99, &110, &110, &110, &110, &112, &112, &116, &116, &138, &138, &161, &161, &162, &162, &163, &163, &165, &165, &168, &168, &173, &173, &189, &189, &197, &197, &198{
        background-image:url('https://www.octranspo.com/images/files/icons/route_local.svg');
    }
    // local limited (GOW)
    &8, &8, &13, &13, &15, &15, &17, &17, &21, &21, &23, &23, &26, &26, &32, &32, &33, &33, &38, &38, &43, &43, &47, &47, &58, &58, &60, &60, &66, &66, &67, &67, &73, &73, &82, &82, &84, &84, &92, &92, &92, &94, &94, &99, &117, &117, &125, &125, &139, &139, &153, &153, &158, &158, &161, &161, &187, &187, &198, &198, &301, &301, &302, &302, &303, &303, &304, &304, &305, &305, &404, &404, &405, &405, &406, &406, &450, &450, &451, &451, &452, &452, &454, &454, &455, &455, &456, &456{
        background-image:url('https://www.octranspo.com/images/files/icons/route_local-ltd.svg');
        color: var(--local--600);
    }

    //Connexion (PUR)
    &221, &221, &222, &222, &228, &228, &234, &234, &237, &237, &256, &256, &261, &261, &262, &262, &263, &263, &265, &265, &266, &266, &275, &275, &277, &277, &279, &279, &283, &283, &294, &294, &299, &299{
        background-image:url('https://www.octranspo.com/images/files/icons/route_connexion.svg');
    }

    &8, &33, &38, &39, &58, &60, &62, &67, &68, &73, &99, &111, &161, &198{
        &::after{
            background-color: yellow;
            content: "*";
        }
    }
}

/****End Routes & lines styles ******/
