/****Routes & lines styles ******/
/* updated on 2024/07/10 11:53am */


//allow span nested to inherit styles of parent to allow icon to become responsive

h1, h2, h3, h4, h5, h6, p {
	span{
		line-height: inherit;
		font-size: inherit;
	}
}

//general styles
.rt{
    color: white;
    text-align: center;
    width: 2.75em;
    height: 100%;
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0.125rem 0.5rem;
    font-weight: 600;
    font-size: 0.875em;
}

// styles for lines, & rapid
.rt-type{
    &--line1,&--line2,&--line3,&--line4,&--rapid{
        width: 1.5em;
    }
}

//styles for line replacement service
.rt-type{
    &--R1,&--R2,&--R3,&--R4{
        padding: 0.75em 0.5em 0.75em 1.25em

    }
}

//indv route & line styles
.rt-type{
    &--line1{
        background-image:url('https://www.octranspo.com/images/files/icons/line_1-blank.svg');
    }
    &--line2{
        background-image:url('https://www.octranspo.com/images/files/icons/line_2-blank.svg');
    }
    &--line3{
        background-image:url('https://www.octranspo.com/images/files/icons/line_3-blank.svg');
    }
    &--line4{
        background-image:url('https://www.octranspo.com/images/files/icons/line_4-blank.svg');
    }
    &--R1{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R1-blank.svg');
        color: var(--line1--600);
    }
    &--R2{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R2-blank.svg');
        color: var(--line2--500);
    }
    &--R3{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R3-blank.svg');
        color: var(--line3--500);
    }
    &--R4{
        background-image:url('https://www.octranspo.com/images/files/icons/line_R4-blank.svg');
        color: var(--line4--500);
    }
    &--connexion{
        background-image:url('https://www.octranspo.com/images/files/icons/route_connexion.svg');
    }
    &--rapid{
        background-image:url('https://www.octranspo.com/images/files/icons/route_rapid.svg');
    }
    &--frequent{
        background-image:url('https://www.octranspo.com/images/files/icons/route_frequent_nwtb.svg');
    }
    &--local{
        background-image:url('https://www.octranspo.com/images/files/icons/route_local.svg');
    }
    &--connexion_l{
        background-image:url('https://www.octranspo.com/images/files/icons/route_connexion-ltd.svg');
        color: var(--connexion--600);
    }
    &--frequent_l{
        background-image:url('https://www.octranspo.com/images/files/icons/route_frequent-ltd-nwtb.svg');
        color: var(--frequent--600);
    }
    &--local_l{
        background-image:url('https://www.octranspo.com/images/files/icons/route_local-ltd.svg');
        color: var(--local--600);
    }
}

/****End Routes & lines styles ******/
