/* Search page */

.basic-content-search {
	padding-bottom: 50px;

	@include media-breakpoint-up(md) {
		padding-bottom: 100px;

		h2 {
			font-size: 24px;
			font-size: 1.5rem;
			margin-bottom: 1.3333333333em;
		}

		.search-result {
			margin-bottom: 24px;
			margin-bottom: 1.5rem;

			p {
				font-size: 14px;
				font-size: 0.875rem;
				margin: 0.5em 0;
			}

			h3 {
				font-size: 18px;
				font-size: 1.125rem;
			}
		}
	}
}
