/*************************Stage2 Style Guide*******************************/

.stage2-styleguide{

	padding-top: 0rem !important;

	// to hide horizontal scroll bar that appears on the body in some browsers
	overflow-x: hidden;
  
	.section-usage{
		&--timeline .col-3{
			max-width: 70vw;	
		}
	}
	.heading-one{
	margin-top: 0rem !important;
	}
	
	// style guide only timeline styles to accommodate different container width that is on style guide page specifically
	.stage2-timeline-carousel {
		.slick-dots li{
			padding-left: 0rem !important;
		}
		.slick-active{
			outline: white;
		}

	.top-line-circle{
		top: 73px;
		@include media-breakpoint-up(lg) {
			top: 86px;
		}
	}
		.carousel-top-line{
			&--one{
				top: 11.5px;
				left: 17%;
				@include media-breakpoint-up(lg) {
				left: 16%;
				top: 45px;
				}			
			}
			&--two{
				top: 7.5px;
				width: 34%;
				@include media-breakpoint-up(lg) {
				top: 40px;
				width: 34.5%;
				}				
			}
		}
	
		.line-circle{
			&--one, &--two, &--three{
				@include media-breakpoint-down(md) {
					top:629px
				}
			}
		}
		
		.dates-line-container ul.slick-dots{
			list-style-type: none;
			margin-left: 0rem;
			padding-left: 0rem;
		}
		.card-buttons{
			width: 100.1px !important;
		@include media-breakpoint-up(lg) {
			width: 103px !important;
		}
		}
	}
	.station-carousel{
		ul.slick-dots{
			list-style-type: none;
			display: flex;
		}
	}

}
h4.stage2-styleguide-headings{
	width: 100%; 
	font-size: 16px !important;
	color: #acacac !important;
	margin-bottom: 1.25rem !important;
}
h4.stage2-usage-headings {
	font-size: 14px !important;
}
