/****table styles ******/
// overiding styles from oc styles
main thead td, main thead th{
	box-shadow: none;
}
//alginment
table tr td{
	align-content: start;
}



//bordered table class
table.bordered {
	border:none;
	border-collapse: collapse;

	thead{
		border: 1px solid var(--border-color);
	}

	tbody {
		border: 1px solid var(--border-color);
	}

	thead.empty-corner{
		border: none;
		background-color: #fff;
		z-index: 1;
		border-right: 1px solid var(--border-color);
		tr th:not(:first-of-type){
			border-top: 1px solid var(--border-color);
		}
		tr th:last-of-type, tr th:first-of-type{
			border-right: 1px solid var(--border-color);
		}
	}
}


//hover effect 
table tbody {
	tr:hover {
		td{
			background-color: var(--charcoal--50);
		}
		th{
			background-color: var(--line1--100);
		}
	}
}

table.transcript-table, table.table__behaviour--collapse {
	tr:hover {
		
		border-radius: 0.5rem;
		
	}
}
// Table padding
table {
	tbody tr td, table tbody tr th{
		padding: 1.5rem 1rem;
	}
	thead th{
		padding: 0.5rem 1rem;
		// border-right: 1px solid var(--gray--200);
	}

	&.small-table{
		td, th {
		padding: 0.5rem 1rem;
	}
	}

	&.compact-table, &.transcript-table{
		tbody tr td, tbody tr th{
			padding: 0.25rem 1rem;
		}
		
	}

	&.transcript-table{
		@include media-breakpoint-down(xs){
			tbody tr td:first-of-type{
				padding-top: 1rem;
			}
			tbody tr td:last-of-type{
				padding-bottom: 1rem;
			}
			tbody tr td, tbody tr th{
				padding-left: 0.5rem;
				padding-right: 0.5rem;

			}
		}	
	}

	&.table__behaviour--collapse{
		@include media-breakpoint-down(xs){
			tbody tr td:first-of-type{
				padding-top: 1.5rem;
			}
			tbody tr td:last-of-type{
				padding-bottom: 1.5rem;

			}
			tbody tr td{
				padding-left: 0.25rem;
				padding-right: 0.25rem;
				padding-top: 0rem;
				padding-bottom: 1rem;
			}
		}	
	}
	
} 



// table width 
table{
	&.compact-table{
		width: auto;
	}
}


// table alignment
table {
	tbody tr td, thead tr th{
		text-align: left;
	}
}


// table heading color
table th {
	color: var(--charcoal--800);
}

// table border
table {
	border-collapse: collapse;
	tbody tr{
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
	}

	tbody tr th{
		border-bottom: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
	}
	
}


/*Reset tables styles from OC & new styles*/
// fonts
table{
	thead tr th {
		font-weight: 700;
		font-size: 1rem;
	}
	tbody tr th {
		font-weight: 400;
		font-size: 1rem;
	}
	tbody tr td{
		font-size: 1rem;
		font-weight: 400;
		text-align: left;
		line-height: 150%;
		color: var(--gray--700);

	}
	&.small-table, &.transcript-table{
		tbody tr td,tbody tr th, thead tr th{
			font-size: 0.875rem !important;
		}
	}

}

//background colours
table {
	
	// heading backgrounds
	thead tr th{
		background-color: white;
		color: var(--charcoal--800);
		border: none;
	}
	thead.light{
		tr th{
			background-color: var(--gray--100);
		}
	}
	thead.dark{
		tr th{
			background-color: var(--charcoal--800);
			color: var(--transparent--800);
		}
		
	}
	
	tbody tr th{
		background-color: var(--line1--50);
		font-weight: 600;
		color: var(--charcoal--800);
	}
	//normal cell backgrounds
	tbody tr td, tbody tr:nth-child(odd){
		background-color: #fff;
	}
}

//

table tbody{
	box-shadow: none;
}

table {
	width: 100%;
	margin: none;
	margin-bottom: 2rem;
	.emptyCell {
		background: none !important;
		box-shadow: none !important;
	}
	thead {
		th {
			&.readable, &.wide {
				@include media-breakpoint-down(md) {
					width: 30vw;
				}
				@include media-breakpoint-down(sm) {
					width: 60vw;
				}
			}
		}
	}	

	table.small-table {
		table tbody tr td, table tbody tr th{
			padding: 0.25rem 1rem;
		}
		
	}
	table.table-border {
		tbody {
			tr {
				th,
				td {
					border: 1px solid var(--border-color-dark);
				}
			}
		}
	}

}

.responsive-table {
	overflow-x: auto;
}


.auto-width,
.fluid,
.transcript-table {
	table-layout: auto;
}
// transcript table styles

.transcript-table{
	tr{
		overflow: hidden;
	}
}
.transcript-table {
	// td:first-of-type{
	// 	color: var(--line1--700);
	// 	background-color: var(--line1--100);
	// 	width: fit-content;
	// 	height: fit-content;
	// }
	
	// @include media-breakpoint-down(xs) {
		
	// 	// padding for time stamp
	// 	td:first-of-type{
	// 		border-radius: 0.5rem;
	// 	}
	// }
}


table {
	caption {
		font-weight: 400;
		text-align: left;
		margin-bottom: 0.25rem;
	}
	ul,
	li {
		margin-left: 0;
		padding-left: 0;
	}
	th {
		vertical-align: bottom;
		text-align: left;
	}
	

	tr {
		&:nth-of-type(odd) {
			// background-color: var(--gray--50);
		}

		&.bold {
			td,
			th,
			div,
			p {
				font-weight: 700;
			}
		}
	}

	&.table {

			
		
	
		tbody tr {
			background-color: white;
			border-bottom: 1px solid var(--gray--100);
			font-weight: 400;

		}
	}
}

// dark headers
table {
	// dark header
	&.dark {
		tr th{
			background-color: var(--charcoal--800);
		}
	}

}

/* Transcript tables & small tables*/
.transcript-table {
	//styling the time stamp column
	td:first-of-type {
		color: var(--line1--600);
		font-weight: 700;
		letter-spacing: 0.05em;
		font-size: 0.875rem;
	}
	//styling the text description column
	td:last-of-type {
		color: var(--caption-color);
		&::before {
			content: "[";
		}
		&::after {
			content: "]";
		}
	}
		@include media-breakpoint-down(xs) {
			tr{
				border: none;
			}
		}
}


table {
	/* toggle on/off to make zebra*/

	/* toggle on/off for line seperated look */
	&.cardify {
		@include media-breakpoint-down(xs) {
			td,
			th {
				padding: 0;
			}
			// padding for time stamp
			td:first-of-type {
				padding-top: 1rem;
				padding-bottom: 1rem;
			}

			// padding for last element
			td:last-of-type {
				padding-bottom: 1.5rem;
			}
			tr {
				display: flex;
				flex-direction: column;
				// gap: 0.25rem;
				margin-bottom: 0.5rem;
			}
		}
	}
	&.line-seperated {
		thead th {
			border: none;
			border-top: 1px solid var(--gray--100);
			border-bottom: 1px solid var(--gray--100);
			background-color: var(--gray--100);
		}
		thead th:not(:first-of-type) {
			border-left: var(--transparent--200) solid 1px;
		}
	}
}

/*Key value table*/

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	height: max-content;
	.header-row {
		font-weight: 600;
		font-size: 0.875rem;
	}

	@include media-breakpoint-down(md) {
		font-size: 0.875rem;
	}

	&.bordered {
		dd:last-of-type,
		dt:last-of-type {
			border-bottom: none;
		}
	}

	dd {
		padding-left: 0.75rem;
		// border-radius: 0 0.25rem 0.25rem 0;
	}

	&.text-list {
		border-top: 1px solid var(--gray--100);
		grid-template-columns: fit-content(20%) auto;
		dd,
		dt {
			padding: 0.5rem;
			border-bottom: 1px solid var(--gray--100);
		}
		@include media-breakpoint-down(xs) {
			grid-template-columns: 1fr;
			dt {
				border-bottom: none;
			}
			dd {
				padding-left: 0.5rem;
			}
		}
		dt {
			font-weight: 700;
			justify-content: flex-start;
			flex-shrink: 1;
		}
		dd,
		dt {
			&:nth-of-type(odd) {
				background-color: var(--gray--50);
			}
		}
	}

	&.icon-list {
		grid-template-columns: auto 1fr;
		dd,
		dt {
			border-bottom: 1px solid var(--gray--100);
			padding: 0.3rem 0.5rem 0.2rem 0.5rem;
			margin: 0;
			&:nth-of-type(even) {
				background-color: var(--gray--50);
			}
		}
		dt {
			display: flex;
			justify-content: center;
			align-items:flex-start;
		}
	}
}

.side-note dl {
	overflow: hidden;
	background-color: var(--transparent--50);
	border: 1px solid var(--gray--200);
	.header-row {
		//
	}

	dd,
	dt {
		border-bottom: 1px solid var(--gray--200);
		background-color: var(--transparent--50);
		&:nth-of-type(even) {
			background-color: var(--transparent--50);
		}
	}
}




/*autoflow table*/
.table-container,.overflow-x-container {
	@include media-breakpoint-down(md) {
		overflow-x: scroll;
		position: relative;
	}
	table{
		width: auto;
	}
}

// Table behaviours

.transcript-table,
.detour-table,
.table__behaviour {
	&--xscroll, .table-container>table {
		@include media-breakpoint-down(md) {
			width: auto;
		}
	}
}

table {
	&.sticky-left-col {
		thead th:first-child,
		tbody th {
			position: sticky;
			left: 0;
			z-index: 2;
			width: max-content;
			filter: $general-shadow1;
			box-shadow: $general-shadow1;
		}
	}
}

.table__behaviour--collapse,  .transcript-table {
	
	@include media-breakpoint-down(xs) {

		// padding for last element
		
		//collapse
		tr {
			display: flex;
			flex-direction: column;
			border-top: none;
		}
	}
}

// detour table icons
table.detour-table{
	text-align: left !important;
	border: 1px solid var(--border-color);

	tr {
		border: 1px solid var(--border-color);
	}

}

// table.detour-table {
// 	border: 1px solid var(--border-color);
// 	thead tr th {
// 		background-color: #0076a5;
// 		color: #ffffff;
// 		&:nth-child(even) {
// 			background-color: #0076a5;
// 		}
// 	}
	
// }
/* Table end */