/****table styles ******/
.responsive-table {
	overflow-x: auto;
	table {
		table-layout: auto;
	}
}
table {
	width: 100%;
	table-layout: auto;
	margin: none;
	margin-bottom: 30px;
	.emptyCell {
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}
	thead {
		td,
		th {
			// background-color: #4D4C4C;
			// color: #FFFFFF;
			font-weight: bold;
			// border: 1px solid #434343;
		}

		a {
			color: #ffffff;
		}
	}
	thead.small-header {
		font-size: 12px;
		font-size: 0.75rem;
	}
	.left,
	&.left {
		text-align: left;
		th,
		td {
			text-align: left;
		}
	}
	.center,
	&.center {
		text-align: center;
		th,
		td {
			text-align: center;
		}
	}
	.centredHeaders,
	&.centredHeaders {
		th {
			text-align: left;
		}
	}
	.vertical-align-top {
		vertical-align: top;
		th,
		td {
			vertical-align: top;
		}
	}
	th {
		vertical-align: middle;
		padding: 10px;
	}
	th.left,
	td.left {
		text-align: left;
	}
	body & tbody tr {
		th.center,
		td.center {
			text-align: center;
		}
	}
	th.vertical-align-top,
	td.vertical-align-top {
		vertical-align: top;
	}
	tbody {
		box-shadow: none;
		border-radius: 2px;
		tr {
			td:first-child {
				text-align: left;
			}

			td,
			th {
				font-weight: 400;
				font-size: 1rem;
				text-align: left;
				vertical-align: text-top;
				padding: 2rem 1rem;
				@include media-breakpoint-down(sm) {
					padding: 1.25rem 1rem;
				}
				p {
					margin: 0;
				}
				span {
					font-size: 12px;
					font-weight: normal;
				}
			}
			th:first-child {
				text-align: left;
			}
		}
	}
	&.table-bg-gradient-bottom {
		tbody {
			tr {
				background: #fff;
				&:last-child {
					background: #bfbfbf;
				}
				&:nth-last-child(2) {
					background: #dfdfdf;
				}
				&:nth-last-child(3) {
					background: #f1f1f1;
				}
			}
		}
	}
	th.grey-header,
	.grey-header th {
		background-color: #4d4c4c;
		color: #ffffff;
		border: 1px solid #979797;
	}
	.green-header th,
	th.green-header,
	.prestoCell,
	.prestoCell tr,
	.prestoCell th,
	th.prestoCell {
		background-color: #038700;
		color: #ffffff;
	}
	.blue-header th,
	th.blue-header {
		background-color: #0076a5;
		color: #ffffff;
	}
	.yellow-header th,
	th.yellow-header {
		background-color: #ffc600;
		color: #000000;
	}
	.red-header th,
	th.red-header,
	.parapayCell,
	.parapayCell tr,
	.parapayCell th,
	th.parapayCell {
		background-color: #b73030;
		color: #ffffff;
	}
	thead.grey-header {
		th {
			border: 1px solid #4d4c4c;
		}
	}
	thead.blue-header {
		th {
			border: 1px solid #005171;

			&:nth-child(even) {
				background-color: #004560;
			}
		}
	}
	thead.yellow-header {
		th {
			border: 1px solid #a88300;

			&:nth-child(even) {
				background-color: #dcab00;
			}
		}
	}
	thead.green-header {
		th {
			border: 1px solid #166f23;

			&:nth-child(even) {
				background-color: #1e6729;
			}
		}
	}
	thead.red-header {
		th {
			border: 1px solid #8c1818;

			&:nth-child(even) {
				background-color: #cb2c2c;
			}
		}
	}
	th.green-header,
	thead.grey-header th.green-header {
		border: 1px solid #166f23;
	}
	th.blue-header,
	thead.grey-header th.blue-header {
		border: 1px solid #005171;
	}
	th.yellow-header,
	thead.grey-header th.yellow-header {
		border: 1px solid #a88300;
	}
	th.red-header,
	thead.grey-header th.red-header,
	th.parapayCell,
	thead.grey-header th.parapayCell {
		border: 1px solid #8c1818;
	}
}

table.centredHeaders {
	td {
		text-align: center !important;
	}
}
table.small-table {
	th {
		font-size: 12px;
		font-size: 0.75rem;
	}
	tbody {
		tr {
			td {
				font-size: 10px;
				font-size: 0.625rem;
			}
		}
	}
}
table.table-border {
	tbody {
		tr {
			th,
			td {
				border: 1px solid #979797;
			}
		}
	}
}
table.redHeader {
	th {
		background-color: #e24949;
		color: #ffffff;
	}
	thead {
		th {
			border: 1px solid #8c1818;

			&:nth-child(even) {
				background-color: #cb2c2c;
			}
		}
	}
}

/*autoflow table*/
.table-container {
	@include media-breakpoint-down(md) {
		overflow-x: scroll;
		position: relative;
	}
}
table {
	caption {
        font-weight: 400;
		text-align: left;
		margin-bottom: 0.25rem;
	}
    ul,li{
        margin-left:0;
        padding-left: 0;
    }
    th {
		vertical-align: bottom;
		text-align: left;
	}
	th,
	td {
		padding: 1rem;
		// border-right: 1px solid var(--gray--200);
	}
	thead th,
	tbody th {
		font-weight: 700;
		font-size: 1rem;
	}
	tr {
		&:nth-of-type(odd) {
			// background-color: var(--gray--50);
		}

        &.bold{
            td,th,div,p{
                font-weight: 700;
            }
        }
	}

	&.table {

        &--detour{
            td{
                vertical-align: middle;
            }
        }

        

		&--simple {
			thead th {
                border: none;
				border-bottom: 1px solid var(--gray--100);
				background-color: var(--gray--50);
				color: var(--gray-800);
				text-align: left;
			}

			tbody th {
				background-color: white;
				// color: white;
				font-size: 1rem;
                font-weight: 700;
				&:nth-of-type(even) {
                    // background-color: var(--charcoal--700);
				}
			}
            
			tbody tr {
                background-color: white;
				border-bottom: 1px solid var(--gray--100);
				font-weight: 400;

				&:nth-of-type(odd) {
					th {
						// background-color: var(--charcoal--700);
					}
				}
			}
		}
		&--responsive-xscroll {
			@include media-breakpoint-down(md) {
				width: auto;

                &.sticky-left-col{
                    thead th:first-child, tbody th {
                        position: sticky;
                        left: 0;
                        z-index: 2;
                        width: max-content;
                        filter: drop-shadow(rgba(0, 0, 0, 0.05) 3px 0px 3px);       
                        box-shadow: rgba(0, 0, 0, 0.06) 3px 0px 3px;         
                    }
                }

                
				thead {
					th {
						max-width: 40vw;
                        &.wide{
                            @include media-breakpoint-down(md) {
                                min-width: 60vw;
                        }
					}
                    
				}
				
			}
		}
	}
}
}

/*Key value table*/


dl {
	display: grid;
	height: max-content;
	.header-row{
		font-weight: 600;
		font-size: 0.875rem;
	}
	
	
	@include media-breakpoint-down(md) {
		font-size: 0.875rem;
	}

	dd,
	dt {
		border-bottom: 1px solid var(--gray--100);
	}

	&.bordered {
		dd:last-of-type,
		dt:last-of-type {
			border-bottom: none;
		}
	}


	dd {
		padding-left: 0.75rem;
		// border-radius: 0 0.25rem 0.25rem 0;
	}

	&.text-list {
		border-top: 1px solid var(--gray--100);
		grid-template-columns: fit-content(20%) auto;
		dd,
		dt {
			padding: 0.5rem;
		}
		@include media-breakpoint-down(md) {
			grid-template-columns: 1fr;
			dt {
				border-bottom: none;
			}
			dd {
				padding-left: 0.5rem;
			}
		}
		dt {
			font-weight: 700;
			justify-content: flex-start;
			flex-shrink: 1;
		}
		dd,
		dt {
			&:nth-of-type(odd) {
				background-color: var(--gray--50);
			}
		}
	}

	&.icon-list {
		grid-template-columns: auto 1fr;
		dd,
		dt {
			padding: 0.3rem 0.5rem 0.2rem 0.5rem;
			&:nth-of-type(even) {
				background-color: var(--gray--50);
			}
		}
		}

		dt {
			display: flex;
			// align-items: center;
			display: flex;
			justify-content: center;
			// border-radius: 0.25rem 0 0 0.25rem;
		}
		
}

.side-note dl{
	overflow: hidden;
	background-color: var(--transparent--50);
	border: 1px solid var(--gray--200);
	.header-row{
		//
	}

	dd,
		dt {
			border-bottom: 1px solid var(--gray--200);
		background-color: var(--transparent--50);
		&:nth-of-type(even) {
				background-color: var(--transparent--50);
			}
		
		}


}