.toc{
    ul li{
        display: flex;
        margin-bottom: 0;
    }
    ul li a{
        width: 100%;
    }
    &__container{
        width: fit-content;
        @media (min-width: 1200px) {
            padding: 1rem;
            background-color: white;
            border-radius: 0.5rem;
        }
    }
    &.sticky{
        @include media-breakpoint-up(xl) {
            position: sticky;
            top: 6rem;
            width: 200px;
            display: block;
            height: 0px;
            margin-left: 100%;
        }
    }
    &__items{
        display: flex;
        // gap: 0.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        
        @include media-breakpoint-up(xl) {

        }
    }
    &__link{
        // border: 1px solid var(--line4--600);
        // border-radius: 100rem;
        padding: 0;
        color: var(--line4--600);
        font-size: 0.875rem;
        // text-decoration: none;
        @include media-breakpoint-up(xl){
            text-decoration: none;
            padding: 0.125rem 0.5rem;
            color: var(--gray--500);
            border-left: 2px solid var(--gray--200);
            padding: 0.5rem 0 0.5rem 0.5rem;
        }
        
        
        &:hover{
            @include media-breakpoint-up(xl){
                text-decoration:underline;
                background-color: var(--line4--50);
            }
            
        }
        &.active{
            @include media-breakpoint-up(xl){
                font-weight: 700;
                color: var(--line4--600);
                background-color: var(--line4--50);
                border-left: 2px solid var(--line4--600)
            }
            
        }
    }

}