/* toc start */
/* last updated: 2024/07/18 */
// remove margin & padding from prev styles
ul.toc__items {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

// custom Styles start
.toc{
    a.toc__link>* {
        flex-grow: 0;
    }
    ul li{
        display: flex;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
    }
    ul li a{
        width: 100%;
    }
    ul li a p {
        padding: 0;
        margin: 0;
    }
    &__container{
        width: fit-content;

        @media (min-width: 1200px) {
            padding-left: 1rem;
            padding-right: 0;
            padding-top: 0;
            border-radius: 0.5rem;
        }
    }
    &.sticky{
        .toc__container{
            width: fit-content;
            
        }
        @include media-breakpoint-up(xl) {
            position: sticky;
            top: 0rem;
            width: 175px;
            display: block;
            height: 0px;
            margin-left: 100%;
        }
    }
    &__items{
        display: flex;
        // gap: 0.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        
        @include media-breakpoint-up(xl) {

        }
    }
    &__link, p{
        color: var(--gray--500);

    }
    &__link{
        // border: 1px solid var(--line4--600);
        // border-radius: 100rem;
        padding: 0;
        color: var(--line4--600);
        font-size: 0.875rem;
        // text-decoration: none;

        text-decoration: none;
            padding: 0.125rem 0.5rem;
            color: var(--gray--500);
            border-left: 2px solid var(--gray--200);
            padding: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
        
        
        &:hover{
            text-decoration:underline;
                background-color: var(--line1--50);
                border-radius: 0 !important;
            @include media-breakpoint-up(xl){
                text-decoration:underline;
                background-color: var(--line1--50);
                border-radius: 0 !important;
            }
            
        }
        &.active{
            @include media-breakpoint-up(xl){
                font-weight: 700;
                color: var(--line1--600);
                background-color: var(--line1--50);
                border-left: 2px solid var(--line1--600)
            }
            &:hover{
                text-decoration: none;
            }
            
        }
    }

}

/* end toc */
