@use './bootstrap/mixins/breakpoints';
/* Typography */

$base-grey: #2D2D2D;
$base-med-grey: #898989;
$button-grey: #010101;
$base-black: #000;
$base-red: #B31010;
$base-blue: #016b9d;

body {
	color: $base-grey;
	font-family: 'Open Sans', sans-serif;
	font-display: fallback;
	line-height: 1.25;
}

::selection {
	background: $base-grey;
	color: #fff;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}

a {
	color: $base-blue;
}

b{
	font-weight: 600;
} 
strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}



.row--basic-content-main{
	&p, dt,dd, li,strong {
		line-height: 1.5rem;

	}
}
h1, h2, h3, h4, h5, h6{
	line-height: 1.15rem;
	margin-bottom: 0.75em;
	font-weight: 600;
}

h2, h3, h4, h5, h6 {
	// margin: 0.25em 0 0.25em 0;
	font-weight: normal;
	padding: 0.5em 0 0 0;
}

h1 {
	font-size: 2.3rem;
	line-height: 1.15;
	@include media-breakpoint-up(md) {
		font-size: 64px;
		font-size: 4rem;
	}
	font-weight: normal;
	margin: 0;
	margin-bottom: 2rem;
}
h2 {
	font-size: 31px;
	font-size: 1.9rem;
	line-height: 1;
	@include media-breakpoint-up(md) {
		font-size: 44px;
		font-size: 2.75rem;
	}
}

h3 {
	font-size: 22px;
	font-size: 1.4rem;
	line-height: 1;
	@include media-breakpoint-up(md) {
		font-size: 32px;
		font-size: 2rem;
	}
}

h4 {
	font-size:20px;
	font-size:1.25rem;
	@include media-breakpoint-up(md) {
		font-size: 22px;
		font-size: 1.4rem;
	}
}

h5{
	font-size: 1.45rem;
}

sup {
	font-size: 75%;
	vertical-align: top;
	vertical-align: super;
}

sub {
	bottom: -0.25em;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.section--accessible-transit h1 {
	font-size: 32px;
	font-size: 2rem;
	@include media-breakpoint-up(md) {
		font-size: 50px;
		font-size: 3.125rem;
	}
	font-weight: bold;
	line-height: 1;
	margin: 0 0 1em;
}

.cke_contents_ltr {
	sub {
		bottom: -0.5em;
	}
	sup sub {
		bottom: -0.65em;
	}
}


// new
.subtitle {
	text-transform: uppercase;
	font-size: 1rem;
	color: var(--off-black);
	font-weight: 700;
	margin: 0;
}

.font-weight-600 {
	font-weight: 600;
}

.font-weight-700 {
	font-weight: 700;
}

// new



p, dt,dd, li,strong{
	// margin: 16px 0;
	margin: 0 0 0.5rem;
	color: var(--text-color);
	line-height: 1.5;
}

.caption, figcaption, figcaption p{
	font-style: italic;
	color: var(--caption-color);
	text-align: left ;
	font-size: 0.875rem;
	padding: 0.25rem 0;
}

h1, h2, h3, h4, h5, h6, th{
	color: var(--heading-color);
	line-height: 1.15em;
	margin: 0;
	padding: 0;
	margin-bottom: 0.5em;
}

h1{
	font-size: 3.375rem;
	font-weight: 600;
	@include media-breakpoint-down(xs){
		font-size: 2.3rem;
	}
}

h2{
	font-size: 2.5rem;
	font-weight: 600;
	@include media-breakpoint-down(xs){
		font-size: 1.8rem;
	}
}
h3{
	font-size: 1.75rem;
	font-weight: 600;
	@include media-breakpoint-down(xs){
		font-size: 1.6rem;
	}
}
h4{
	font-size: 1.375rem;
	font-weight: 600;
	@include media-breakpoint-down(xs){
		font-size: 1.4rem;
	}
}
h5{
	font-size: 1.25rem;
	font-weight: 600;
	@include media-breakpoint-down(xs){
		font-size: 1.25rem;
	}
}
h6{
	font-size: 1.125rem;
	font-weight: 600;
	@include media-breakpoint-down(xs){
		font-size: 1.1rem;
	}
}

hgroup{
	h1, h2, h3, h4, h5, h6, th{
		color: var(--heading-color);
		line-height: 1.15em;
		margin-bottom: 0.5rem;
	}
}

.subhead, hgroup p{
	text-transform: uppercase;
	color: var(--caption-color);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
}
