/*Util start*/
// overflow x-scroll

.x-scroll {
    &.banner ul {
		display: flex;
		width: 100%;
		overflow-x: scroll;
		padding: 2rem 0;
	}
}
// backgrounds

.bg--{
    &line1, &line2, &line3, &line4, &frequent, &connexion, &local, &neutral, &inactive{
		box-shadow: none;
	}
    &transparent,&transparent .card{
		background-color: var(--transparent--800);
		color: var(--transparent--700);
	}
	&line1,&line1 .card{ background-color: var(--line1--50);}
	&line2,&line2 .card{ background-color: var(--line2--50);}
	&line3,&line3 .card{ background-color: var(--line3--50);}
	&line4,&line4 .card{ background-color: var(--line4--50);}
	&frequent,&frequent .card{ background-color: var(--frequent--50);}
	&connexion,&connexion .card{ background-color: var(--connexion--50);}
	&local,&local .card{ background-color: var(--local--50);}
	&charcoal,&charcoal .card{ background-color: var(--charcoal--50);}
	&neutral,&neutral .card{ background-color: var(--gray--50);}
}

//stretch

// .stretch is compatible only with the full with template structions (i.e. fares template)

// old
section.divided{
    margin-bottom: 20rem;
}
.bordered{
    border: 1px solid var(--border-color);
	// border-radius: 0.5rem;
}

.btn.no-arrow{
    &::after{
        display: none !important;
        width: 0 !important;
        min-width: 0 !important;
        height: 0 !important;
    }
    padding: 0.5rem 0.75rem !important;
}


.borderless,.no-border, .borderless:hover,.no-border:hover{
    border:none !important;

}

.border-bottom {
    border-bottom: var(--border-color) 1px solid;
}

.border-top {
    border-top: 1px solid var(--border-color);
}
.background-dark {
    background-color: var(--charcoal--800);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.visually-hidden{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    &-for-mobile{
        @include media-breakpoint-down(xs) {
            position: absolute !important;
            width: 1px !important;
            height: 1px !important;
            padding: 0 !important;
            margin: -1px !important;
            overflow: hidden !important;
            clip: rect(0, 0, 0, 0) !important;
            white-space: nowrap !important;
            border: 0 !important;
    }
    }
}


.inactive{
    color: var(--gray--400);
}

.foot-note {
    color: var(--gray--800);
    font-size: 0.875rem;
}



.p-0{
    padding: 0rem;
}
.p-1{
    padding: 1rem;
}

.m-0 {
    margin: 0;
}

.m-1_2 {
    margin: 0.5rem;
}

.mb-1_2 {
    margin-bottom: 0.5rem;
}

.mb-1_4 {
    margin-bottom: 0.25rem;
}

.mb-0 {
    margin-bottom: 0rem;
}

.mb {
    &-1{
        margin-bottom: 1rem !important;
    }
    &-2{
        margin-bottom: 2rem !important;
    }
    &-3{
        margin-bottom: 3rem !important;
    }
    &-4{
        margin-bottom: 4rem !important;
    }
}

.mr-1_2 {
    margin-right: 0.5rem;
}

.mr-1_4 {
    margin-right: 0.25rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-1_2 {
    margin-left: 0.5rem;
}

.ml-1_4 {
    margin-left: 0.25rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.p-0 {
    padding: 0;
}

.pt-1_2 {
    padding-top: 0.5rem;
}

.pt-1_4 {
    padding-top: 0.25rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-1_2 {
    padding-top: 0.5rem;
}

.pb-1_4 {
    padding-bottom: 0.25rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.hidden,
			// .mobile-only {
			// 	display: none;
			// 	opacity: 0;
			// }

			// @media (max-width: 575.98px) {
			// 	.mobile-only {
			// 		display: block;
			// 		opacity: 100%;
			// 	}
			// }

// alignment
.align {
    &-c{
        // center align
        margin: auto;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex !important;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-dir-col {
    flex-direction: column;
    row-gap: 0.5rem;
}


.gap-0{
    gap: 0rem;
}
.gap-0_25em{
    gap: 0.25em;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.flex-jc-c {
    justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}

// NWTB launch

.nwtb-launch{
    display: none;
}

.no-padding{
    padding: 0;
}

// Fare change 2025

.fares2024{
    display: none !important;

}
.fares2025{
    
}

// hr

hr{
    border-top:1px solid var(--charcoal--100)
}

// toc
.toc{
    .hide-from-toc{
        visibility: hidden;
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
    }
}
// mobile only

@media (max-width: 992px) {
	.mobile-hide {
		display: none;
	}
}

// box-shadow{
.elevation1{
    box-shadow: $elevation1;
}

// radius
.rounded-corners{
    border-radius: 8px;
}


/*end Util*/