
/*!
OC Transpo Website Custom Styles 2024
Author: Judy Choi (OC Transpo)
Date: 1/17/2025
*/

/*NEW Judy's style start*/
@import "globals"; //new

	@import "badges";//new
	@import "tables"; //new
	@import "containers"; //new
	@import "lists"; //new
	@import "flex"; //new
	@import "banners";//new
	@import "buttons"; //new
	@import "grid";//new
	@import "notes";//new
	@import "cards";//new
	// @import "news-cards";//new
	@import "tabs";//new
	@import "layout";//new
	@import "accordion";//new
	@import "util";//new
	@import "code";//new
	@import "tags";//new
	@import "images";//new
	@import "toc";//new
	@import "links";//new
	@import "select-options";//new
	@import "icons";//new
	@import "routes-lines";//new
	@import "forms";//new
	@import "line-routing";//new
	@import "print";//new
	@import "typography"; // general font and header styles
	@import "assets"; //
	@import "iframe"; // 



// Judy's style end



// .clearfix:after { // clearfix to set the height of a container to include all floated elements within
// 	visibility: hidden;
// 	display: block;
// 	content: "";
// 	clear: both;
// 	height: 0;
// }

// .visuallyhidden { // use this class to hide elements visually while keeping the text visible to screen readers and allowing users to tab to the element (i.e, the "Skip to content" link in the header).
// 	position: absolute;
// 	overflow: hidden;
// 	clip: rect(0 0 0 0);
// 	height: 1px; width: 1px;
// 	margin: -1px; padding: 0; border: 0;
// }

// .invalid-field{
// 	box-shadow:0 0 3px #ff0000;
// }

// .valid-field{
// 	box-shadow:0 0 3px #61ffa0;
// }

// @include media-breakpoint-up(lg) {
// 	.container {
// 		max-width: 100%;
// 	}

// 	.mobile-only{
// 		display: none;
// 	}
// // }

// @media (min-width: 1440px) {
// 	.container {
// 		max-width: 1440px;
// 	}
// }

// @include media-breakpoint-down(sm) {
// 	.col-8 {
// 		padding-left: 15px;
// 		padding-right: 15px;
// 	}

// 	.mobile-only{
// 		display: inline-block;
// 	}
// }


//image-gallery-carousel-main class is for the photo galleries on the main site only
//using different class since main site has narrower grid
.image-gallery-carousel-main {
	@media (max-width: 767px) {
		#gallery-subhead-arrows-main{
			padding-left: 0rem !important;
			padding-right: 0rem !important;
			.subhead{
				font-size: 1.15rem !important;
			}
		}
	}
}


