:root {
    --oc-red--50: #FEF3F4;
    --oc-red--600: #ED1B2E;
    --oc-red--700: #D30F1D;
    --line2--50: #EDF5D9;
    --line2--500: #65A233;
    --line2--600: #508028;
    --line2--700: #38591C;
    --line3--50: #FEF6D9;
    --line3--500: #B38F00;
    --line3--600: #8F7200;
    --line3--700: #665200;
    --line4--50: #F2FAFF;
    --line4--300: #78CBFF;
    --line4--400: #3EB4FF;
    --line4--500: #019FD9;
    --line4--600: #0980A5;
    --line4--700: #07607C;
    --transparent--50: hsl(0, 0%, 100%, 10%); 
    --transparent--100: hsl(0, 0%, 100%, 25%); 
    --transparent--800: hsl(0, 0%, 100%, 95%); 
    --gray--50: #F4F7F9; 
    --gray--100: #EBEEF2; 
    --gray--200: #C5CED8; 
    --gray--300: #A4AEBB; 
    --gray--400: #838D9A; 
    --gray--700: #353A43;
    --gray--800: #1A1C21;
    --charcoal--50: hsl(249, 14%, 26%,10%);
    --charcoal--100: hsl(249, 14%, 26%,25%);
    --charcoal--700: #474456;
    --charcoal--800: #3D3A4D;
    --new--800: #153159;
    --accessible-blue: #0079C1;
    --success-green: #45A041;
}   