// UI component font sizes
$ui-title-size-xs:               0.875rem !default;
$ui-title-size-sm:               1rem !default;
$ui-title-size-md:               1.125rem !default;
$ui-title-size-lg:               1.3755rem !default;
$ui-body-size-nm:              1rem !default;
$ui-body-size-sm:                0.875rem !default;

// UI Mobile font sizes
$ui-body-size-nm-mobile:        14px;
$ui-body-size-sm-mobile:        13px;

//tag font sizes
$tag-size-sm:                   0.8125rem; 

// Icon sizes
$icon-size-tiny:                1rem;
$icon-size-sm:                  1.5rem;
$icon-size-md:                  2rem;
$icon-size-lg:                  2.5rem;
$icon-size-xl:                  2.5rem;


// Border radius
$radius-md:                     0.5rem;
$radius-pill:                   999rem;


//Drop shadow x/y/blur/spread
$card-shadow:                   rgba(0, 0, 0, 0.2) 0px 4px 12px;
$tag-shadow:                    rgba(0, 0, 0, 0.2) 0px 1px 4px;
$general-shadow1:               rgba(0, 0, 0, 0.2) 0px 1px 4px;
$elevation1:                    rgba(0, 0, 0, 0.12) 0px 1px 10px;
$elevation2:                    rgba(0, 0, 0, 0.22) 0px 1px 15px; 

// gradient:
$grad-all: linear-gradient(to left,#65A233, #01A1DD, #D30F1D, #AF882D);