// buttons

.btn{

    &--large{
        font-size: 1rem;
    }
    display: flex;
    gap: 0.4rem;
    align-items:center ;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem 0.875rem;
    border-radius: 100rem;
    font-weight: 600;
    transition: all 100ms ease-out;
    font-size: 0.875rem;
    color: var(--gray--900)





    &--red{
        background-color: #E01A2C;
        color: #fff;
    }


    &__primary{
        background-color: white;
        border: solid 1.5px var(--oc-red--600);
        &:hover{
            border: solid 1.5px var(--oc-red--700);
        }
    }
    &--green-border{
        background-color: white;
        border: solid 1.5px var(--line2-green--500);
        &:hover{
            border: solid 1.5px var(--line2-green--600);
        }
    }

    &--yellow-border{
        background-color: white;
        border: solid 1.5px var(--line3-yellow--500);
        &:hover{
            border: solid 1.5px var(--line3-yellow--600);
        }
    }

    &--blue-border{
        background-color: white;
        border: solid 1.5px var(--line4-blue--500);
        &:hover{
            border: solid 1.5px var(--line4-blue--600);
        }
    }


    &__icon-right::after{
        content: "";
        background: url("https://www.octranspo.com/themes/user/site/octranspo/assets/img/stage-2/stage2-timeline-right-arrow-Vector.png") no-repeat 20% 100%;
        background-size: contain;
        width: 14px;
        height: 9px; 
        background-position-x: left;
        transition: all 100ms ease-out;
    }
        
    

    &:hover.btn__icon-right::after{
        background-position-x: right;
    }
            

}