@use '../util' as u;

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    &.icon-list{
        dt, dd{
            border-bottom: 1px solid var(--gray--300);
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
        }
        
        dd{
            padding-left: 0.75rem;
            align-items: center;
            display: flex;
        }
        
        dt{
            padding-top: 0.25rem;
        }
    }
}

