@use '../util' as u;
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 3rem;
    margin: 0 auto;
    
    &-2fr-1fr{
        @include u.media-breakpoint-up(md) {
            grid-template-columns: 2fr 1fr;
        }
    }
    


    &__main{
        
    }
    
    &__sidebar{
        border: 1px solid var(--border-soft);
    }

}

.row{
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 3rem;
        margin: 0 auto;
        
    &-1fr-1fr{
        @include u.media-breakpoint-up(sm) {
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
        }
        &.reverse ul:nth-child(odd){
            grid-column:2;
        }
    }

    &-2fr-1fr{
        @include u.media-breakpoint-up(md) {
            grid-template-columns: 2fr 1fr;
        }
    }

}

.grid--3col {
    display: grid;
    gap: 2rem ;

    @include u.media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
    }

    @include u.media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
    }

    @include u.media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.grid--2col {
    display: grid;
    gap: 2rem ;

    @include u.media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
    }

}
