<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- loading main css from oc site -->
    <link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
        title="octranspo-main-css" rel="stylesheet">

    <title>Style guide 2024 - In dev / ready for approval</title>
</head>

<body>
    <div class="main-content">
        <h1>Style Guide 2024 - In dev / ready for approval</h1>
    </div>
    <!-- Copy below -->
    <div class="main-content">

        <link href="https://www.octranspo.com/images/files/dist/_banners.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_code.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_colors.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_util.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_tags.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_layout.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_grids.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_notes.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_inline.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_tables.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_toc.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="../../dist/custom-style.css" />
        <!-- TOC -->
        <div class="toc sticky"></div>

        <!-- Banners -->
        <section class="section" id="banners">
            <h2>Promotional banners</h2>
            <p>Purpose: Highlight important messages or promotions related to OC Transpo services in a prominent and
                engaging way.</p>
            <section class="intro">
                <h3>Guide</h3>
                <p><Strong>Use case scenarios</Strong></p>
                <ul>
                    <li>Announcing new or updated transit services</li>
                    <li>Promoting supplementary services such as park-and-ride, bike-and-ride, or accessibility options
                    </li>
                    <li>Directing users to the website for detailed information or schedules</li>
                </ul>
                <p><Strong>Images & icons</Strong></p>
                Incorporate relevant images or icons to enhance the message or service logos
                Provide alt text for images
                <p><Strong>Content:</Strong></p>
                <ol>
                    <li>
                        <strong>text</strong>
                        <ul>
                            <li>Keep messages concise and action-oriented.</li>
                            <li>Use compelling language to drive engagement.</li>
                            <li>Limit the supplementary text to a maximum of 1-2 sentences.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>CTA</strong>
                        <ul>
                            <li>Use actionable phrases such as “Learn More,” “Explore Services,” or “Get Updates.”</li>
                            <li>Avoid making the text too long and instead hide more descriptive text to be visually
                                hidden</li>
                        </ul>
                    </li>
                </ol>
                <p><Strong>DOs</Strong></p>
                <ul class="checklist">
                    <li>Ensure that the banner title in combination with the Call-to-Action (CTA) provides sufficient
                        context about the banner without requiring additional description. This is crucial for mobile
                        views where descriptions will be hidden</li>
                    <li>Banner titles should be short and to the point, avoid wordiness to maintain consistent height
                        and accommodate mobile display</li>
                </ul>
                <p><Strong>DONT</Strong></p>
                <ul class="checklist checklist--x">
                    <li>Overload with information</li>
                </ul>
            </section>
            <h3>Banner types</h3>
            <ul>
                <li>Icon banner</li>
                <li>Horizontal banner</li>
                <li>Vertical banner</li>
            </ul>
            <p>Icon Banner</p>
            <div class="banner icon-banner">
                <img class="banner__logo"
                    src="https://www.octranspo.com/images/files/banners/placeholder-square.png"></img>
                <div class="banner__content">
                    <p class="banner__title">Banner title</p>
                    <p class="banner__body">
                        Banner body
                    </p>
                    <a href="#">Learn more</a>
                </div>
            </div>
            <div class="example">

                <div class="banner icon-banner">
                    <img class="banner__logo"
                        src="https://www.octranspo.com/images/files/icons/service_alerts.svg"></img>
                    <div class="banner__content">
                        <p class="banner__title">Sign up for My Alerts</p>
                        <p class="banner__body">
                            Get service disription notifications directly on your phone.
                        </p>
                        <a href="https://www.octranspo.com/alert-registration/" class="btn-sm btn btn-secondary">Sign up</a>
                    </div>
                </div>
                <div class="banner icon-banner">
                    <img class="banner__logo"
                        src="https://www.octranspo.com/images/files/icons/service_alerts.svg"></img>
                    <div class="banner__content">
                        <p class="banner__title">Sign up for My Alerts</p>
                        <p class="banner__body">
                            My Alerts is the best and most reliable way to be the first to know when there are changes
                            to service. A notification gets sent to you via email or text message to let your know that
                            OC Transpo service may be disrupted.
                        </p>
                        <a href="https://www.octranspo.com/alert-registration/" class="btn-sm btn btn-secondary">Sign up</a>
                    </div>
                </div>
                <div class="banner icon-banner">
                    <img class="banner__logo" src="https://www.octranspo.com/images/files/icons/service_TNSB.png"></img>
                    <div class="banner__content">
                        <p class="banner__title">Let us know!</p>
                        <p class="banner__body">
                            Was this information helpful? Do you have a story to suggest? Let us know by emailing
                            thenextstopblog@ottawa.ca
                        </p>
                        <a href="#">Email us!</a>
                    </div>
                </div>
                <div class="banner icon-banner">
                    <img class="banner__logo" src="https://www.octranspo.com/images/files/icons/service_pnr.svg"></img>
                    <div class="banner__content">
                        <p class="banner__title">Banner title</p>
                        <p class="banner__body">
                            Banner body
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
                <div class="banner icon-banner">
                    <img class="banner__logo"
                        src="https://www.octranspo.com/images/files/icons/service_opayment.svg"></img>
                    <div class="banner__content">
                        <p class="banner__title">Banner title</p>
                        <p class="banner__body">
                            Banner body
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="banner h-banner">
                <div class="banner__content">
                    <p class="banner__title">Horizontal banner</p>
                    <p class="banner__body">
                        Banner body
                    </p>
                    <a class="btn">Learn more</a>
                </div>
                <img class="banner__img"
                    src="https://www.octranspo.com/images/files/banners/placeholder-square.png"></img>
            </div>
            <h4>New Ways to Bus</h4>
            <div class="example">
                <div class="banner banner--new-ways-to-bus">
                    <div class="banner__content">
                        <p class="banner__title">New Ways to Bus Are Coming Your Way</p>
                        <p class="banner__body">
                            Frequent. Local. Connected.
                        </p>
                        <a class="btn btn__arrow btn-white borderless" href="">
                            Learn more about New Ways to Bus
                        </a>
                    </div>
                </div>
            </div>
            <h4>Key to icons</h4>
            <div class="example">
                <div class="banner banner--key-to-icons">
                    <div class="banner__content">
                        <p class="banner__title">What do the icons mean?</p>
                        <p class="banner__body">
                            Find out the meaning of icons used in the Trip Plan.
                        </p>
                        <a class="btn btn__arrow btn-tertiary borderless" href="">
                            Key to icons page
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Button 2 -->
        <!-- Add to rest of buttons section -->
        <section class="section" id="style-guide-buttons-additons">
            <h2>Button 2</h2>
            <section class="sub-section">
               <section>
                   <h4>Primary button specs</h4>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-primary">Button</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn dark-mode btn-primary">Button</a>
                       </div>
                   </div>
                   <img src="https://www.octranspo.com/images/files/styleguide2024/component_specs-primary-button.png" alt="">

               </section>
               <section>
                   <h3>Secondary button</h3>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-secondary">Button</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn dark-mode btn-secondary">Button</a>
                       </div>
                   </div>
               </section>
               <section>
                   <h3>Tertiary button</h3>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-tertiary">Button</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn dark-mode btn-tertiary">Button</a>
                       </div>
                   </div>
               </section>
               <section>
                   <h3>Text button</h3>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-text">Button</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn dark-mode btn-text">Button</a>
                       </div>
                   </div>
               </section>
               <section>
                   <h3>Elevated button</h3>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-elevated">Button</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn dark-mode btn-elevated">Button</a>
                       </div>
                   </div>
               </section>
               <section>
                   <h3>Line & route buttons</h3>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-line1">Line 1</a>
                           <a href="" class="btn btn-line2">Line 2</a>
                           <a href="" class="btn btn-line3">Line 3</a>
                           <a href="" class="btn btn-line4">Line 4</a>
                           <a href="" class="btn btn-frequent">Frqnt</a>
                           <a href="" class="btn btn-connexion">Cnnxn</a>
                           <a href="" class="btn btn-local">Local</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn btn-line1 dark-mode">Line 1</a>
                           <a href="" class="btn btn-line2 dark-mode">Line 2</a>
                           <a href="" class="btn btn-line3 dark-mode">Line 3</a>
                           <a href="" class="btn btn-line4 dark-mode">Line 4</a>
                           <a href="" class="btn btn-frequent dark-mode">Frqnt</a>
                           <a href="" class="btn btn-connexion dark-mode">Cnnxn</a>
                           <a href="" class="btn btn-local dark-mode">Local</a>
                       </div>
                   </div>
               </section>
               <section>
                   <h3>O-Train extension button</h3>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-extension">Button</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn dark-mode btn-extension">Button</a>
                       </div>
                   </div>
               </section>
               <section>
                   <h3>Line 2 & 4 launch</h3>
                   <div class="grid--2col gap-0">
                       <div class="example flex flex-jc-c">
                           <a href="" class="btn btn-line2-4">Button</a>
                       </div>
                       <div class="example dark-mode flex flex-jc-c">
                           <a href="" class="btn dark-mode btn-line2-4">Button</a>
                       </div>
                   </div>
               </section>
               
            </section>
        </section>
        <!-- Filter tab -->
        <section>
        <h2>Tabs</h2>
            <h3>Filter bar</h3>
            <div class="example flex flex-jc-c">
                <div class="filter-bar filter-bar">
                    <a href="" class="btn btn-filter">Filter</a>
                    <a href="" class="btn btn-filter">Filter</a>
                    <a href="" class="btn btn-filter active">Filter</a>
                    <a href="" class="btn btn-filter">Filter</a>
                </div>
            </div>
        </section>


        <!-- Cards -->
        <section class="section" id="style-guide-cards">
            <h2>Cards</h2>
            <div class="example grid--3col">
                <div></div>
                <div class="card">
                    <img src="https://www.octranspo.com/images/files/banners/placeholder-square.png" alt="">
                    <p class="card__title">Card title</p>
                    <p class="card__body">Lorem ipsum dolor sit amet consectetur. Diam integer magna dignissim
                        praesent.</p>
                </div>
                <div></div>
            </div>
            <pre>
&lt;div class&#x3D;&quot;card&quot;&gt;
    &lt;img src&#x3D;&quot;#&quot; alt&#x3D;&quot;&quot;&gt;
    &lt;p class&#x3D;&quot;card__title&quot;&gt;Card title&lt;&#x2F;p&gt;
    &lt;p class&#x3D;&quot;card__body&quot;&gt;...&gt;
&lt;&#x2F;div&gt;

&lt;div class&#x3D;&quot;card&quot;&gt;
    &lt;p class&#x3D;&quot;card__title&quot;&gt;Card title&lt;&#x2F;p&gt;
    &lt;p class&#x3D;&quot;card__body&quot;&gt;...&gt;
&lt;&#x2F;div&gt;
            </pre>
        </section>
        <!-- Colour palette  -->
        <section class="section" id="colour-palette">
            <h2>Colour palette</h2>
            <h3>Primary colours</h3>
            <h3>Secondary colours</h3>
            <h3>Shades & tints by value</h3>
        </section>





    </div>
    <script src="https://www.octranspo.com/images/files/dist/toc_script.js"></script>
    <!-- End copy -->
</body>

</html>