<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/custom-style.css" />
    
    <title>Inline elements</title>
</head>
<body>
    <h1>Inline elements</h1>
    
    <div class="main-content">
        <link rel="stylesheet" href="https://www.octranspo.com/images/files/dist/_inlinestyles.css" />
        <link rel="stylesheet" href="https://www.octranspo.com/images/files/dist/_colors.css" />
        <link rel="stylesheet" href="https://www.octranspo.com/images/files/dist/_grids.css" />
        <section class="intro">
            <strong>Covered on this page:</strong>
            <ul>
                <li>Resource links</li>
                <li>Lists</li>
                <li>Route icons</li>
                <!-- last worked on here -->
                <p>Combine styles for links.scss, lists.scss, route-lines.scss in one style sheet</p>
            </ul>
            <strong>
                <p>How to activate:</p>
            </strong>
            <p>add the following style sheets to the top your content</p>
            <p class="code">&lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;https:&#x2F;&#x2F;www.octranspo.com&#x2F;images&#x2F;files&#x2F;dist&#x2F;_inline.css&quot; &#x2F;&gt; </p>
            <p class="code">&lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;https:&#x2F;&#x2F;www.octranspo.com&#x2F;images&#x2F;files&#x2F;dist&#x2F;_inline.css&quot; &#x2F;&gt; </p>
            <p class="code">&lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;https:&#x2F;&#x2F;www.octranspo.com&#x2F;images&#x2F;files&#x2F;dist&#x2F;_inline.css&quot; &#x2F;&gt; </p>
        </section>
        <h2>Inline resource links</h2>
        <section>
            <div class="example flex flex-jc-c">
                <a class="external-link" href="">External link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a class&#x3D;&quot;external-link&quot; href&#x3D;&quot;&quot;&gt;External link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a class="arrow-link" href="">Arrow link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a class&#x3D;&quot;arrow-link&quot; href&#x3D;&quot;&quot;&gt;Arrow link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a href="" class="pdf-link">PDF link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;pdf-link&quot;&gt;PDF link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a href="" class="download-link">Download link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;download-link&quot;&gt;Download link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a href="" class="map-link">Map link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;map-link&quot;&gt;Map link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a href="" class="image-link">Image link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;image-link&quot;&gt;Image link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a href="" class="email-link">Email link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;email-link&quot;&gt;Email link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a href="" class="tty-link">TTY link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;tty-link&quot;&gt;TTY link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="example flex flex-jc-c">
                <a href="" class="phone-link">Phone number link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;phone-link&quot;&gt;Phone number link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <!-- <div class="example flex flex-jc-c">
                <a href="" class="web-link">Website link</a>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;example flex flex-jc-c&quot;&gt;
                &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;web-link&quot;&gt;Website link&lt;&#x2F;a&gt;
            &lt;&#x2F;div&gt;
            </pre> -->
            <p>Listed</p>
            <div class="example flex flex-jc-c">
                <ul>
                    <li><a href="" class="resource-li phone-link">613-123-1234</a></li>
                    <li><a href="" class="resource-li email-link">email@octranspo.com</a></li>
                    <li><a href="" class="resource-li tty-link">613-123-1234</a></li>
                    <li><a href="" class="resource-li download-link">Download link</a></li>
                    <li><a href="" class="resource-li pdf-link">PDF link</a></li>
                    <li>This is a regular list item Lorem ipsum dolor sit.</li>
                    <li>This is a regular list item with an inline icon link <a href="" class="external-link">external link </a>Lorem ipsum dolor sit.</li>
                </ul>
            </div>
            <pre>
            &lt;ul&gt;
                &lt;li&gt;&lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;resource-li phone-link&quot;&gt;613-123-1234&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
                &lt;li&gt;&lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;resource-li email-link&quot;&gt;email@octranspo.com&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
                &lt;li&gt;&lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;resource-li tty-link&quot;&gt;613-123-1234&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
                &lt;li&gt;&lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;resource-li download-link&quot;&gt;Download link&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
                &lt;li&gt;&lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;resource-li pdf-link&quot;&gt;PDF link&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
                &lt;li&gt;This is a regular list item Lorem ipsum dolor sit.&lt;&#x2F;li&gt;
                &lt;li&gt;This is a regular list item with an inline icon link &lt;a href&#x3D;&quot;&quot; class&#x3D;&quot;external-link&quot;&gt;external link &lt;&#x2F;a&gt;Lorem ipsum dolor sit.&lt;&#x2F;li&gt;
            &lt;&#x2F;ul&gt;
            </pre>
        </section>
        <h2>O-Train Line destinations</h2>
        <section>
            <div class="example flex flex-dir-col flex-ai-c">
                <div style="text-align: left;">
                    <p><span class="rt rt-type--line1">1</span><span class="visually-hidden">Line 1</span> Tunney's Pasture</p>
                    <p><span class="rt rt-type--line1">1</span><span class="visually-hidden">Line 1</span> Blair</p>
                    <p><span class="rt rt-type--line2">2</span><span class="visually-hidden">Line 2</span> Bayview</p>
                    <p><span class="rt rt-type--line2">2</span><span class="visually-hidden">Line 2</span> Limebank</p>
                    <p><span class="rt rt-type--line3">3</span><span class="visually-hidden">Line 3</span> Tunney's Pasture</p>
                    <p><span class="rt rt-type--line3">3</span><span class="visually-hidden">Line 3</span> Moodie</p>
                    <p><span class="rt rt-type--line4">4</span><span class="visually-hidden">Line 4</span> South Keys</p>
                    <p><span class="rt rt-type--line4">4</span><span class="visually-hidden">Line 4</span> Airport</p>
                </div>
            </div>
            <pre>
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 1&lt;&#x2F;span&gt; Tunney&#39;s Pasture&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 1&lt;&#x2F;span&gt; Blair&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line2&quot;&gt;2&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 2&lt;&#x2F;span&gt; Bayview&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line2&quot;&gt;2&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 2&lt;&#x2F;span&gt; Limebank&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line3&quot;&gt;3&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 3&lt;&#x2F;span&gt; Tunney&#39;s Pasture&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line3&quot;&gt;3&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 3&lt;&#x2F;span&gt; Moodie&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line4&quot;&gt;4&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 4&lt;&#x2F;span&gt; South Keys&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--line4&quot;&gt;4&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Line 4&lt;&#x2F;span&gt; Airport&lt;&#x2F;p&gt;
            </pre>
        </section>
        <h2>Bus route with destination</h2>
        <section>
            <div class="example">
				<div class="flex flex-dir-col flex-ai-c">
					<p><span class="rt rt-type--connexion">123</span><span class="visually-hidden">Connexion Route</span> Route destination</p>
					<p><span class="rt rt-type--frequent">123</span><span class="visually-hidden">Frequent Route</span> Route destination</p>
					<p><span class="rt rt-type--local">123<span class="visually-hidden">Local Route</span></span> Route destination</p>
					<p><span class="rt rt-type--connexion_l">123<span class="visually-hidden">Limited Connexion Route</span></span> Route destination</p>
					<p><span class="rt rt-type--frequent_l">123<span class="visually-hidden">Limited Frequent Route</span></span> Route destination</p>
					<p><span class="rt rt-type--local_l">123<span class="visually-hidden">Limited Local Route</span></span> Route destination</p>
				</div>
			</div>
            <pre>
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--connexion&quot;&gt;123&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Connexion Route&lt;&#x2F;span&gt; Route destination&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--frequent&quot;&gt;123&lt;&#x2F;span&gt;&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Frequent Route&lt;&#x2F;span&gt; Route destination&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--local&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Local Route&lt;&#x2F;span&gt;&lt;&#x2F;span&gt; Route destination&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--connexion_l&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Limited Connexion Route&lt;&#x2F;span&gt;&lt;&#x2F;span&gt; Route destination&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--frequent_l&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Limited Frequent Route&lt;&#x2F;span&gt;&lt;&#x2F;span&gt; Route destination&lt;&#x2F;p&gt;
&lt;p&gt;&lt;span class&#x3D;&quot;rt rt-type--local_l&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Limited Local Route&lt;&#x2F;span&gt;&lt;&#x2F;span&gt; Route destination&lt;&#x2F;p&gt;
            </pre>
        </section>
        <h2>Bus route ID only</h2>
        <section>
            <div class="example flex flex-jc-c">
				<p class="rt rt-type--connexion">123<span class="visually-hidden">Connexion Route</span></p>
				<p class="rt rt-type--frequent">123<span class="visually-hidden">Frequent Route</span></p>
				<p class="rt rt-type--local">123<span class="visually-hidden">Local Route</span></p>
				<p class="rt rt-type--connexion_l">123<span class="visually-hidden">Limited Connexion Route</span></p>
				<p class="rt rt-type--frequent_l">123<span class="visually-hidden">Limited Frequent Route</span></p>
				<p class="rt rt-type--local_l">123<span class="visually-hidden">Limited Local Route</span></p>
			</div>
            <pre>
&lt;p class&#x3D;&quot;rt rt-type--connexion&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Connexion Route&lt;&#x2F;span&gt;&lt;&#x2F;p&gt;
&lt;p class&#x3D;&quot;rt rt-type--frequent&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Frequent Route&lt;&#x2F;span&gt;&lt;&#x2F;p&gt;
&lt;p class&#x3D;&quot;rt rt-type--local&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Local Route&lt;&#x2F;span&gt;&lt;&#x2F;p&gt;
&lt;p class&#x3D;&quot;rt rt-type--connexion_l&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Limited Connexion Route&lt;&#x2F;span&gt;&lt;&#x2F;p&gt;
&lt;p class&#x3D;&quot;rt rt-type--frequent_l&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Limited Frequent Route&lt;&#x2F;span&gt;&lt;&#x2F;p&gt;
&lt;p class&#x3D;&quot;rt rt-type--local_l&quot;&gt;123&lt;span class&#x3D;&quot;visually-hidden&quot;&gt;Limited Local Route&lt;&#x2F;span&gt;&lt;&#x2F;p&gt;
            </pre>
        </section>
        <h2>Headings with inline lines IDs </h2>
        <section>
            <dv class="example grid--4col">
                <div>
                    <h1>Line <span class="rt rt-type--line1">1</span></h1>
                    <h2>Line <span class="rt rt-type--line1">1</span></h2>
                    <h3>Line <span class="rt rt-type--line1">1</span></h3>
                    <h4>Line <span class="rt rt-type--line1">1</span></h4>
                    <h5>Line <span class="rt rt-type--line1">1</span></h5>
                    <h6>Line <span class="rt rt-type--line1">1</span></h6>
                </div>
                <div>
                    <h1>Line <span class="rt rt-type--line2">2</span></h1>
                    <h2>Line <span class="rt rt-type--line2">2</span></h2>
                    <h3>Line <span class="rt rt-type--line2">2</span></h3>
                    <h4>Line <span class="rt rt-type--line2">2</span></h4>
                    <h5>Line <span class="rt rt-type--line2">2</span></h5>
                    <h6>Line <span class="rt rt-type--line2">2</span></h6>
                </div>
                <div>
                    <h1>Line <span class="rt rt-type--line3">3</span></h1>
                    <h2>Line <span class="rt rt-type--line3">3</span></h2>
                    <h3>Line <span class="rt rt-type--line3">3</span></h3>
                    <h4>Line <span class="rt rt-type--line3">3</span></h4>
                    <h5>Line <span class="rt rt-type--line3">3</span></h5>
                    <h6>Line <span class="rt rt-type--line3">3</span></h6>
                </div>
                <div>
                    <h1>Line <span class="rt rt-type--line4">4</span></h1>
                    <h2>Line <span class="rt rt-type--line4">4</span></h2>
                    <h3>Line <span class="rt rt-type--line4">4</span></h3>
                    <h4>Line <span class="rt rt-type--line4">4</span></h4>
                    <h5>Line <span class="rt rt-type--line4">4</span></h5>
                    <h6>Line <span class="rt rt-type--line4">4</span></h6>
                </div>
            </dv>
            <pre>
                <p>Swap instances of line1 to line2, line3, line4 for Line 2, Line 3, Line 4 headings, respectfully</p>
&lt;h1&gt;Line &lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;&#x2F;h1&gt;
&lt;h2&gt;Line &lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;&#x2F;h2&gt;
&lt;h3&gt;Line &lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;&#x2F;h3&gt;
&lt;h4&gt;Line &lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;&#x2F;h4&gt;
&lt;h5&gt;Line &lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;&#x2F;h5&gt;
&lt;h6&gt;Line &lt;span class&#x3D;&quot;rt rt-type--line1&quot;&gt;1&lt;&#x2F;span&gt;&lt;&#x2F;h6&gt;
            </pre>
        </section>
        <h2>Lists</h2>
        <h3>Checklists</h3>
        <div class="example grid grid--2col">
	
            <ul class="checklist">
                <li>Baseline (avant 11 h)</li>
                <li>Blair (Telesat)</li>
                <li>Jeanne d’Arc, and</li>
                <li>Ray Friel</li>
            </ul>
            <ul class="checklist checklist--x">
                <li>Baseline (avant 11 h)</li>
                <li>Blair (Telesat)</li>
                <li>Jeanne d’Arc, and</li>
                <li>Ray Friel</li>
            </ul>
        </div>
        <pre>	
&lt;ul class="checklist"&gt;
    &lt;li&gt;Baseline (avant 11 h)&lt;/li&gt;
    &lt;li&gt;Blair (Telesat)&lt;/li&gt;
    &lt;li&gt;Jeanne d’Arc, and&lt;/li&gt;
    &lt;li&gt;Ray Friel&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="checklist checklist--x"&gt;
    &lt;li&gt;Baseline (avant 11 h)&lt;/li&gt;
    &lt;li&gt;Blair (Telesat)&lt;/li&gt;
    &lt;li&gt;Jeanne d’Arc, and&lt;/li&gt;
    &lt;li&gt;Ray Friel&lt;/li&gt;
&lt;/ul&gt;
        </pre>
        <h3>Timeline lists</h3>
        <div class="example grid grid--4col">
            <ul class="timeline bg-gradient-red">
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">
                            Lorem ipsum dolor sit
                        </p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">
                            Lorem ipsum dolor sit
                        </p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">
                            Lorem ipsum dolor sit
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="timeline bg-gradient-green">
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>

            </ul>
            <ul class="timeline bg-gradient-yellow">
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>

            </ul>
            <ul class="timeline bg-gradient-blue">
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>
                <li class="timeline__list">
                    <div class="timeline__text">
                        <p class="timeline__year">Title</p>
                        <p class="timeline__body">Lorem ipsum dolor sit</p>
                    </div>
                </li>

            </ul>
        </div>
        <pre>
swap out [colour] to:
bg-gradient-red
bg-gradient-green
bg-gradient-yellow
bg-gradient-blue
---------------------

&lt;ul class="timeline bg-gradient-[colour]"&gt;
    &lt;li class="timeline__list"&gt;
        &lt;div class="timeline__text"&gt;
            &lt;p class="timeline__year"&gt;Title&lt;/p&gt;
            &lt;p class="timeline__body"&gt;Lorem ipsum dolor sit&lt;/p&gt;
        &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="timeline__list"&gt;
        &lt;div class="timeline__text"&gt;
            &lt;p class="timeline__year"&gt;Title&lt;/p&gt;
            &lt;p class="timeline__body"&gt;Lorem ipsum dolor sit&lt;/p&gt;
        &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="timeline__list"&gt;
        &lt;div class="timeline__text"&gt;
            &lt;p class="timeline__year"&gt;Title&lt;/p&gt;
            &lt;p class="timeline__body"&gt;Lorem ipsum dolor sit&lt;/p&gt;
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;
                        </pre>
        <h2>Bus route & destinations full list</h2>
        <section>
            <div class="grid--3col">
                <p><span class="rt rt-type--frequent">5</span> Elmvale</p>
                <p><span class="rt rt-type--frequent">5</span> Rideau</p>
                <p><span class="rt rt-type--frequent">6</span> Greenboro</p>
                <p><span class="rt rt-type--frequent">6</span> Rockcliffe</p>
                <p><span class="rt rt-type--frequent">7</span> Carleton</p>
                <p><span class="rt rt-type--frequent">7</span> St-Laurent</p>
                <p><span class="rt rt-type--local">8</span> Gatineau</p>
                <p><span class="rt rt-type--local_l">8</span> Gatineau</p>
                <p><span class="rt rt-type--local">8</span> Dow's Lake / Lac Dow</p>
                <p><span class="rt rt-type--local_l">8</span> Experimental Farm / Ferme expérimentale</p>
                <p><span class="rt rt-type--local">9</span> Rideau</p>
                <p><span class="rt rt-type--local">9</span> Hurdman</p>
                <p><span class="rt rt-type--frequent">10</span> Main</p>
                <p><span class="rt rt-type--frequent">10</span> Hurdman</p>
                <p><span class="rt rt-type--frequent">11</span> Waller</p>
                <p><span class="rt rt-type--frequent">11</span> Bayshore</p>
                <p><span class="rt rt-type--frequent">12</span> Blair</p>
                <p><span class="rt rt-type--frequent">12</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">13</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">13</span> Gatineau</p>
                <p><span class="rt rt-type--frequent">14</span> St-Laurent</p>
                <p><span class="rt rt-type--frequent">14</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">15</span> Parliament / Parlement</p>
                <p><span class="rt rt-type--local_l">15</span> Blair</p>
                <p><span class="rt rt-type--local_l">17</span> Wateridge</p>
                <p><span class="rt rt-type--local_l">17</span> Parliament / Parlement</p>
                <p><span class="rt rt-type--local">18</span> Billings Bridge</p>
                <p><span class="rt rt-type--local">18</span> St-Laurent</p>
                <p><span class="rt rt-type--local">19</span> Hurdman</p>
                <p><span class="rt rt-type--local">19</span> Parliament / Parlement</p>
                <p><span class="rt rt-type--local">20</span> Rideau</p>
                <p><span class="rt rt-type--local">20</span> St-Laurent</p>
                <p><span class="rt rt-type--local_l">21</span> Blair</p>
                <p><span class="rt rt-type--local_l">21</span> Canotek</p>
                <p><span class="rt rt-type--local_l">23</span> Rothwell Heights</p>
                <p><span class="rt rt-type--local_l">23</span> Blair</p>
                <p><span class="rt rt-type--local">24</span> Chapel Hill/ Compass</p>
                <p><span class="rt rt-type--local">24</span> Chapel Hill</p>
                <p><span class="rt rt-type--local">24</span> St-Laurent/ Compass</p>
                <p><span class="rt rt-type--local">24</span> St-Laurent</p>
                <p><span class="rt rt-type--frequent">25</span> Wateridge</p>
                <p><span class="rt rt-type--frequent">25</span> Millennium</p>
                <p><span class="rt rt-type--local_l">26</span> Pineview</p>
                <p><span class="rt rt-type--local_l">26</span> Blair</p>
                <p><span class="rt rt-type--local">30</span> Blair</p>
                <p><span class="rt rt-type--local">30</span> Millennium</p>
                <p><span class="rt rt-type--local">31</span> Tenth Line</p>
                <p><span class="rt rt-type--local">31</span> Place d'Orléans</p>
                <p><span class="rt rt-type--local_l">32</span> Blair</p>
                <p><span class="rt rt-type--local_l">32</span> Chapel Hill</p>
                <p><span class="rt rt-type--local_l">33</span> Portobello</p>
                <p><span class="rt rt-type--local">33</span> Portobello</p>
                <p><span class="rt rt-type--local_l">33</span> Blair</p>
                <p><span class="rt rt-type--local">33</span> Place d'Orleans / Blair</p>
                <p><span class="rt rt-type--local">34</span> Blair</p>
                <p><span class="rt rt-type--local">34</span> Chapel Hill</p>
                <p><span class="rt rt-type--local">35</span> Avalon</p>
                <p><span class="rt rt-type--local">35</span> Blair</p>
                <p><span class="rt rt-type--local">36</span> Innes</p>
                <p><span class="rt rt-type--local">36</span> Place d'Orléans</p>
                <p><span class="rt rt-type--local">38</span> Trim</p>
                <p><span class="rt rt-type--local_l">38</span> Trim</p>
                <p><span class="rt rt-type--local">38</span> Blair</p>
                <p><span class="rt rt-type--local_l">38</span> Blair</p>
                <p><span class="rt rt-type--frequent_l">39</span> Trim</p>
                <p><span class="rt rt-type--frequent_l">N39</span> Place d'Orléans</p>
                <p><span class="rt rt-type--frequent_l">N39</span> Trim</p>
                <p><span class="rt rt-type--frequent">39</span> Millennium</p>
                <p><span class="rt rt-type--frequent">39</span> Blair</p>
                <p><span class="rt rt-type--frequent_l">N39</span> Rideau</p>
                <p><span class="rt rt-type--frequent">40</span> Greenboro</p>
                <p><span class="rt rt-type--frequent">40</span> St-Laurent</p>
                <p><span class="rt rt-type--frequent">41</span> St-Laurent</p>
                <p><span class="rt rt-type--frequent">41</span> Billings Bridge</p>
                <p><span class="rt rt-type--local">42</span> Blair</p>
                <p><span class="rt rt-type--local">42</span> Hurdman</p>
                <p><span class="rt rt-type--local_l">43</span> Greenboro</p>
                <p><span class="rt rt-type--local_l">43</span> Karsh</p>
                <p><span class="rt rt-type--frequent">44</span> Billings Bridge</p>
                <p><span class="rt rt-type--frequent">44</span> Hurdman</p>
                <p><span class="rt rt-type--frequent">45</span> Hospital / Hôpital</p>
                <p><span class="rt rt-type--frequent_l">N45</span> Hospital / Hôpital</p>
                <p><span class="rt rt-type--frequent_l">N45</span> Rideau</p>
                <p><span class="rt rt-type--frequent">45</span> Hurdman</p>
                <p><span class="rt rt-type--local_l">47</span> Hawthorne</p>
                <p><span class="rt rt-type--local_l">47</span> St-Laurent</p>
                <p><span class="rt rt-type--local">48</span> Carleton</p>
                <p><span class="rt rt-type--local">48</span> Hurdman</p>
                <p><span class="rt rt-type--local">49</span> Elmvale</p>
                <p><span class="rt rt-type--local">49</span> Billings Bridge</p>
                <p><span class="rt rt-type--local">51</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local">51</span> Britannia</p>
                <p><span class="rt rt-type--local">53</span> Baseline</p>
                <p><span class="rt rt-type--local">53</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local">56</span> King Edward</p>
                <p><span class="rt rt-type--local">56</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent">57</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent_l">N57</span> Rideau</p>
                <p><span class="rt rt-type--frequent">57</span> Carling Campus / Complexe Carling</p>
                <p><span class="rt rt-type--frequent_l">N57</span> Bayshore</p>
                <p><span class="rt rt-type--local">58</span> Bayshore</p>
                <p><span class="rt rt-type--local_l">58</span> Bayshore</p>
                <p><span class="rt rt-type--local">58</span> Complexe Carling Campus / Abbott POC</p>
                <p><span class="rt rt-type--local_l">58</span> Abbott POC</p>
                <p><span class="rt rt-type--local">60</span> Cope</p>
                <p><span class="rt rt-type--local_l">60</span> Cope</p>
                <p><span class="rt rt-type--local">60</span> Terry Fox / Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">60</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent">61</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent_l">N61</span> Rideau</p>
                <p><span class="rt rt-type--frequent">61</span> Stittsville</p>
                <p><span class="rt rt-type--frequent_l">N61</span> Stittsville</p>
                <p><span class="rt rt-type--frequent">62</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent_l">62</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent_l">62</span> Stittsville</p>
                <p><span class="rt rt-type--frequent">62</span> Stittsville</p>
                <p><span class="rt rt-type--frequent">63</span> Innovation/ Briarbrook</p>
                <p><span class="rt rt-type--frequent">63</span> Innovation</p>
                <p><span class="rt rt-type--frequent">63</span> Tunney's Pasture/ Briarbrook</p>
                <p><span class="rt rt-type--frequent">63</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">66</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">66</span> Innovation</p>
                <p><span class="rt rt-type--local_l">67</span> Cope</p>
                <p><span class="rt rt-type--local">67</span> Cope</p>
                <p><span class="rt rt-type--local_l">67</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local">67</span> Terry Fox / Tunney's Pasture</p>
                <p><span class="rt rt-type--local">67</span> Terry Fox</p>
                <p><span class="rt rt-type--frequent">68</span> Terry Fox</p>
                <p><span class="rt rt-type--frequent_l">68</span> Bells Corners</p>
                <p><span class="rt rt-type--frequent_l">68</span> Baseline</p>
                <p><span class="rt rt-type--frequent">68</span> Baseline</p>
                <p><span class="rt rt-type--local">70</span> Limebank</p>
                <p><span class="rt rt-type--local">70</span> Fallowfield</p>
                <p><span class="rt rt-type--local_l">73</span> Limebank</p>
                <p><span class="rt rt-type--local">73</span> Limebank</p>
                <p><span class="rt rt-type--local_l">73</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local">73</span> Fallowfield / Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent">74</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent">74</span> Limebank</p>
                <p><span class="rt rt-type--frequent">75</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent_l">N75</span> Rideau</p>
                <p><span class="rt rt-type--frequent">75</span> Cambrian</p>
                <p><span class="rt rt-type--frequent_l">N75</span> Barrhaven Centre</p>
                <p><span class="rt rt-type--frequent">80</span> Barrhaven Centre</p>
                <p><span class="rt rt-type--local">81</span> Bayshore</p>
                <p><span class="rt rt-type--local">81</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">82</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--local">82</span> Lincoln Fields / Tunney's Pasture</p>
                <p><span class="rt rt-type--local_l">82</span> Baseline</p>
                <p><span class="rt rt-type--local">82</span> Baseline</p>
                <p><span class="rt rt-type--local_l">84</span> Baseline</p>
                <p><span class="rt rt-type--local_l">84</span> Centrepointe</p>
                <p><span class="rt rt-type--frequent">85</span> Lees</p>
                <p><span class="rt rt-type--frequent">85</span> Bayshore</p>
                <p><span class="rt rt-type--local">86</span> Antares</p>
                <p><span class="rt rt-type--local">86</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent">87</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--frequent">87</span> Baseline</p>
                <p><span class="rt rt-type--frequent">88</span> Bayshore</p>
                <p><span class="rt rt-type--frequent">88</span> Hurdman</p>
                <p><span class="rt rt-type--frequent">90</span> Hurdman</p>
                <p><span class="rt rt-type--frequent">90</span> Greenboro</p>
                <p><span class="rt rt-type--local_l">92</span> Hurdman</p>
                <p><span class="rt rt-type--local_l">92</span> Walkley / Hurdman</p>
                <p><span class="rt rt-type--local_l">92</span> Greenboro</p>
                <p><span class="rt rt-type--local">93</span> Rotary</p>
                <p><span class="rt rt-type--local">93</span> Leitrim</p>
                <p><span class="rt rt-type--local_l">94</span> Dun Skipper</p>
                <p><span class="rt rt-type--local_l">94</span> Leitrim</p>
                <p><span class="rt rt-type--frequent_l">N98</span> Rideau</p>
                <p><span class="rt rt-type--frequent">98</span> Hurdman</p>
                <p><span class="rt rt-type--frequent_l">N98</span> Airport / Aéroport</p>
                <p><span class="rt rt-type--frequent">98</span> Hawthorne</p>
                <p><span class="rt rt-type--local_l">99</span> Barrhaven Centre / Weybridge</p>
                <p><span class="rt rt-type--local">99</span> Barrhaven Centre / Weybridge</p>
                <p><span class="rt rt-type--local">99</span> Limebank</p>
                <p><span class="rt rt-type--local">110</span> Innovation/ Briarbrook</p>
                <p><span class="rt rt-type--local">110</span> Innovation</p>
                <p><span class="rt rt-type--local">110</span> Limebank/ Briarbrook</p>
                <p><span class="rt rt-type--local">110</span> Limebank</p>
                <p><span class="rt rt-type--frequent">111</span> Billings Bridge / Carleton</p>
                <p><span class="rt rt-type--frequent_l">111</span> Carleton</p>
                <p><span class="rt rt-type--frequent_l">111</span> Baseline</p>
                <p><span class="rt rt-type--frequent">111</span> Baseline</p>
                <p><span class="rt rt-type--local">112</span> Billings Bridge</p>
                <p><span class="rt rt-type--local">112</span> Baseline</p>
                <p><span class="rt rt-type--local">116</span> Greenboro</p>
                <p><span class="rt rt-type--local">116</span> Baseline</p>
                <p><span class="rt rt-type--local_l">117</span> Greenboro</p>
                <p><span class="rt rt-type--local_l">117</span> Baseline</p>
                <p><span class="rt rt-type--local_l">125</span> Blair</p>
                <p><span class="rt rt-type--local_l">125</span> Aviation Museum / Musée de l’Aviation</p>
                <p><span class="rt rt-type--local">138</span> Place d'Orléans</p>
                <p><span class="rt rt-type--local">138</span> Hiawatha</p>
                <p><span class="rt rt-type--local_l">139</span> Place d'Orléans</p>
                <p><span class="rt rt-type--local_l">139</span> Petrie Island</p>
                <p><span class="rt rt-type--local_l">153</span> Carlingwood</p>
                <p><span class="rt rt-type--local_l">153</span> Lincoln Fields</p>
                <p><span class="rt rt-type--local_l">158</span> Haanel</p>
                <p><span class="rt rt-type--local_l">158</span> Bayshore</p>
                <p><span class="rt rt-type--local">161</span> Hazeldean / Glen Cairn</p>
                <p><span class="rt rt-type--local_l">161</span> Glen Cairn</p>
                <p><span class="rt rt-type--local_l">161</span> Terry Fox</p>
                <p><span class="rt rt-type--local">161</span> Terry Fox</p>
                <p><span class="rt rt-type--local">162</span> Kanata West / Ouest</p>
                <p><span class="rt rt-type--local">162</span> Terry Fox</p>
                <p><span class="rt rt-type--local">163</span> Terry Fox</p>
                <p><span class="rt rt-type--local">163</span> Kittiwake</p>
                <p><span class="rt rt-type--local">165</span> Innovation</p>
                <p><span class="rt rt-type--local">165</span> Terry Fox</p>
                <p><span class="rt rt-type--local">168</span> Terry Fox</p>
                <p><span class="rt rt-type--local">168</span> Hope Side</p>
                <p><span class="rt rt-type--local">173</span> Barrhaven Centre</p>
                <p><span class="rt rt-type--local">173</span> Citigate</p>
                <p><span class="rt rt-type--local_l">187</span> Amberwood</p>
                <p><span class="rt rt-type--local_l">187</span> Baseline</p>
                <p><span class="rt rt-type--local">189</span> Colonnade</p>
                <p><span class="rt rt-type--local">189</span> Baseline</p>
                <p><span class="rt rt-type--local">197</span> Uplands</p>
                <p><span class="rt rt-type--local">197</span> Greenboro</p>
                <p><span class="rt rt-type--local">198</span> Greenboro</p>
                <p><span class="rt rt-type--local_l">198</span> Limebank</p>
                <p><span class="rt rt-type--local_l">198</span> Greenboro</p>
                <p><span class="rt rt-type--connexion">221</span> Cumberland</p>
                <p><span class="rt rt-type--connexion">221</span> Blair</p>
                <p><span class="rt rt-type--connexion">222</span> Vars</p>
                <p><span class="rt rt-type--connexion">222</span> Blair</p>
                <p><span class="rt rt-type--connexion">228</span> Navan-Sarsfield</p>
                <p><span class="rt rt-type--connexion">228</span> Blair</p>
                <p><span class="rt rt-type--connexion">234</span> Tenth Line</p>
                <p><span class="rt rt-type--connexion">234</span> Blair</p>
                <p><span class="rt rt-type--connexion">237</span> Place d'Orléans</p>
                <p><span class="rt rt-type--connexion">237</span> Blair</p>
                <p><span class="rt rt-type--connexion">256</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">256</span> Bridlewood</p>
                <p><span class="rt rt-type--connexion">261</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">261</span> Kimpton</p>
                <p><span class="rt rt-type--connexion">262</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">262</span> Fernbank</p>
                <p><span class="rt rt-type--connexion">263</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">263</span> Richmond</p>
                <p><span class="rt rt-type--connexion">265</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">265</span> Terry Fox</p>
                <p><span class="rt rt-type--connexion">266</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">266</span> Springbrook</p>
                <p><span class="rt rt-type--connexion">275</span> Half Moon Bay</p>
                <p><span class="rt rt-type--connexion">275</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">277</span> Nepean Woods</p>
                <p><span class="rt rt-type--connexion">277</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">279</span> Manotick</p>
                <p><span class="rt rt-type--connexion">279</span> Tunney's Pasture</p>
                <p><span class="rt rt-type--connexion">283</span> Munster Hamlet</p>
                <p><span class="rt rt-type--connexion">283</span> Limebank</p>
                <p><span class="rt rt-type--connexion">294</span> Lester</p>
                <p><span class="rt rt-type--connexion">294</span> Greenboro</p>
                <p><span class="rt rt-type--connexion">299</span> Manotick</p>
                <p><span class="rt rt-type--connexion">299</span> Limebank</p>
                <p><span class="rt rt-type--local_l">301</span> Carlingwood</p>
                <p><span class="rt rt-type--local_l">301</span> Richmond</p>
                <p><span class="rt rt-type--local_l">302</span> St-Laurent / Place d'Orléans</p>
                <p><span class="rt rt-type--local_l">302</span> Cumberland</p>
                <p><span class="rt rt-type--local_l">303</span> Carlingwood</p>
                <p><span class="rt rt-type--local_l">303</span> Carp</p>
                <p><span class="rt rt-type--local_l">304</span> Billings Bridge</p>
                <p><span class="rt rt-type--local_l">304</span> Osgoode</p>
                <p><span class="rt rt-type--local_l">305</span> Carlingwood</p>
                <p><span class="rt rt-type--local_l">305</span> North Gower</p>
                <p><span class="rt rt-type--local_l">404</span> Canadian Tire Ctr / Ctr Canadian Tire</p>
                <p><span class="rt rt-type--local_l">404</span> Tunneys</p>
                <p><span class="rt rt-type--local_l">405</span> Canadian Tire Ctr / Ctr Canadian Tire</p>
                <p><span class="rt rt-type--local_l">405</span> Trim</p>
                <p><span class="rt rt-type--local_l">406</span> Canadian Tire Ctr / Ctr Canadian Tire</p>
                <p><span class="rt rt-type--local_l">406</span> Riverview</p>
                <p><span class="rt rt-type--local_l">450</span> Lansdowne</p>
                <p><span class="rt rt-type--local_l">450</span> Rideau</p>
                <p><span class="rt rt-type--local_l">451</span> Lansdowne</p>
                <p><span class="rt rt-type--local_l">451</span> Blair</p>
                <p><span class="rt rt-type--local_l">452</span> Lansdowne</p>
                <p><span class="rt rt-type--local_l">452</span> South Keys</p>
                <p><span class="rt rt-type--local_l">454</span> Lansdowne</p>
                <p><span class="rt rt-type--local_l">454</span> Terry Fox</p>
                <p><span class="rt rt-type--local_l">455</span> Lansdowne</p>
                <p><span class="rt rt-type--local_l">455</span> Trim</p>
                <p><span class="rt rt-type--local_l">456</span> Lansdowne</p>
                <p><span class="rt rt-type--local_l">456</span> Barrhaven Centre</p>
            </div>
        </section>
    </div>
    
</body>
</html>