<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/custom-style.css" />
    <title>Tables</title>
</head>
<body>
    
    <div class="main-content">
        <h2>Semantic notes</h2>
        <div class="example">
            <div class="note note__type--info">
                <p class="note__title">Info note title</p>
                <div class="note__desc">
                    <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                </div>
            </div>
            <div class="note note__type--success">
                <p class="note__title">Success note title</p>
                <div class="note__desc">
                    <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                </div>
            </div>
            <div class="note note__type--warning">
                <p class="note__title">Warning note title</p>
                <div class="note__desc">
                    <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                </div>
            </div>
            <div class="note note__type--critical">
                <p class="note__title">Critical note title</p>
                <div class="note__desc">
                    <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                </div>
            </div>
        </div>
        <h2>Neutral note</h2>
        <div class="example">
            <div class="note">
                <p class="note__title">Neutral note</p>
                <div class="note__desc">
                    <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                </div>
            </div>
        </div>
        <h2>Special note</h2>
        <div class="example">
            <div class="note note__type--special">
                <p class="tag tag-type__special">Special</p>
                <p class="note__title">Special note title</p>
                <div class="note__desc">
                    <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>