<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/custom-style.css" />
    <title>Notes</title>
</head>
<body>
    <div class="main-content">
        <h1>Notes</h1>
    </div>
    <div class="main-content">
        <link href="https://www.octranspo.com/images/files/dist/_code.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_colors.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_util.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_tags.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_layout.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_grids.css" rel="stylesheet" />
        <link href="https://www.octranspo.com/images/files/dist/_notes.css" rel="stylesheet" />
        <!-- Intro -->
        <section>
            <p>Notes are responsive components that provide additional detailed messaging related to the content of the page.</p>
            <strong>
                <p>Note title guide</p>
            </strong>
            <ul>
                Keep note title short and informative
                Do not include paragraphs of information in the note title, instead place additional lengthy information in the note description
            </ul>
            <strong>
                <p>How to use components on this page:</p>
            </strong>
            <p>Add the following style sheets to the top your content</p>
            <p class="code">&lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;https:&#x2F;&#x2F;www.octranspo.com&#x2F;images&#x2F;files&#x2F;dist&#x2F;_tags.css&quot; &#x2F;&gt; </p>
            <p class="code">&lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;https:&#x2F;&#x2F;www.octranspo.com&#x2F;images&#x2F;files&#x2F;dist&#x2F;_notes.css&quot; &#x2F;&gt; </p>
            <p class="code">&lt;link rel&#x3D;&quot;stylesheet&quot; href&#x3D;&quot;https:&#x2F;&#x2F;www.octranspo.com&#x2F;images&#x2F;files&#x2F;dist&#x2F;_colors.css&quot; &#x2F;&gt; </p>

        </section>
        <!-- sementic notes section -->
        <section>
            <h2>Semantic notes</h2>
            <p>4 types of semantic notes are available. </p>
            <p>Select the most appropriate type for your use.</p>
            <section class="sub-section">
                <div class="example">
                    <div class="note note__type--warning">
                        <p class="note__title">Warning note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <pre>
                &lt;div class&#x3D;&quot;note note__type--warning&quot;&gt;
                    &lt;p class&#x3D;&quot;note__title&quot;&gt;[Warning note title placeholder]&lt;&#x2F;p&gt;
                    &lt;div class&#x3D;&quot;note__desc&quot;&gt;
                        &lt;p&gt;[note description placeholder]&lt;&#x2F;p&gt;
                    &lt;&#x2F;div&gt;
                &lt;&#x2F;div&gt;
            </pre>
                <div class="example">
                    <div class="note note__type--urgent">
                        <p class="note__title">Urgent note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <pre>
                &lt;div class&#x3D;&quot;note note__type--urgent&quot;&gt;
                    &lt;p class&#x3D;&quot;note__title&quot;&gt;[Urgent note title placeholder]&lt;&#x2F;p&gt;
                    &lt;div class&#x3D;&quot;note__desc&quot;&gt;
                        &lt;p&gt;[note description placeholder]&lt;&#x2F;p&gt;
                    &lt;&#x2F;div&gt;
                &lt;&#x2F;div&gt;
                </pre>
                <div class="example">
                    <div class="note note__type--info">
                        <p class="note__title">Info note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <pre>
                &lt;div class&#x3D;&quot;note note__type--info&quot;&gt;
                    &lt;p class&#x3D;&quot;note__title&quot;&gt;[Info note title placeholder]&lt;&#x2F;p&gt;
                    &lt;div class&#x3D;&quot;note__desc&quot;&gt;
                        &lt;p&gt;[note description placeholder]&lt;&#x2F;p&gt;
                    &lt;&#x2F;div&gt;
                &lt;&#x2F;div&gt;
                </pre>
                <div class="example">
                    <div class="note note__type--success">
                        <p class="note__title">Success note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <pre>
                &lt;div class&#x3D;&quot;note note__type--success&quot;&gt;
                    &lt;p class&#x3D;&quot;note__title&quot;&gt;[Success note title placeholder]&lt;&#x2F;p&gt;
                    &lt;div class&#x3D;&quot;note__desc&quot;&gt;
                        &lt;p&gt;[note description placeholder]&lt;&#x2F;p&gt;
                    &lt;&#x2F;div&gt;
                &lt;&#x2F;div&gt;
                </pre>
            </section>
            <h3>Semantic note usage guide</h3>
            <div class="grid grid--2col">
                <div class="example">
                    <div class="note note__type--warning">
                        <p class="note__title">Warning note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Warning notes are to be used as generic warning messages like service disruptions, important reminders.</p>
                    <strong>
                        <p>Tone</p>
                    </strong>
                    <ul>
                        <li>Important</li>
                        <li>non-urgent</li>
                    </ul>
                    <strong>
                        <p>When to use</p>
                    </strong>
                    <ul>
                        <li>Generic warning messages / non-urgent, important reminders.</li>
                    </ul>
                    <strong>
                        <p>Specific use case:</p>
                    </strong>
                    <ul>
                        <li>Service disruptions</li>
                    </ul>
                    <strong>
                        <p>Warning note title examples</p>
                    </strong>
                    <ul>
                        <li>Warning</li>
                        <li>Reminder</li>
                        <li>Dates adjusted for Canada Day</li>
                        <li>Tap your card, not your wallet</li>
                        <li>Line 1 planned maintence</li>
                    </ul>
                </div>
            
            
            
            </div>
            <div class="grid grid--2col">
                <div class="example">
                    <div class="note note__type--urgent">
                        <p class="note__title">Urgent note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Urgent notes are to be reserved for messages of high importance and urgency, considered a level higher in importance compared to warning notes. Do not use them for regular service disruptions; instead, use the warning note.</p>
                    <strong>
                        <p>Tone</p>
                    </strong>
                    <ul>
                        <li>Urgent</li>
                    </ul>
                    <strong>
                        <p>When to use</p>
                    </strong>
                    <ul>
                        <li>For high importance messages.</li>
                    </ul>
                    <strong>
                        <p>Specific use cases</p>
                    </strong>
                    <ul>
                        <li>Pandemic-related government mandates (e.g., COVID-19 mask requirement, social distancing, etc.)</li>
                        <li>Current urgent issues (e.g., weather, terrorism) that require immediate attention</li>
                    </ul>
                    <strong>
                        <p>Urgent note title examples</p>
                    </strong>
                    <ul>
                        <li>COVID-19 (or other future pandemic names)</li>
                        <li>Important</li>
                    </ul>
                </div>
            </div>
            <div class="grid grid--2col">
                <div class="example">
                    <div class="note note__type--info">
                        <p class="note__title">Info note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Info notes are to be used for informative pieces of information that have either a positive or neutral tone.</p>
                    <strong>
                        <p>Tone</p>
                    </strong>
                    <ul>
                        <li>Positive or neutral</li>
                    </ul>
                    <strong>
                        <p>When to use</p>
                    </strong>
                    <ul>
                        <li>To provide helpful pieces of information.</li>
                    </ul>
                    <strong>
                        <p>Info note title examples</p>
                    </strong>
                    <ul>
                        <li>Info</li>
                        <li>Event info</li>
                        <li>Free service for event ticket holders!</li>
                        <li>90-minute transfer times</li>
                        <li>Seniors ride free</li>
                    </ul>
                </div>
            </div>
            <div class="grid grid--2col">
                <div class="example">
                    <div class="note note__type--success">
                        <p class="note__title">Success note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Success notes are to be used for any messages that inform of something successful.</p>
                    <strong>
                        <p>Tone</p>
                    </strong>
                    <ul>
                        <li>Positive</li>
                    </ul>
                    <strong>
                        <p>When to use</p>
                    </strong>
                    <ul>
                        <li>For any type of success messaging.</li>
                    </ul>
                    <strong>
                        <p>Note title examples</p>
                    </strong>
                    <ul>
                        <li>Routes/Trains are back in service</li>
                        <li>Customer Service Centre at Rideau Centre is now open</li>
                        <li>Routes/Trains are operating normally</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <div class="sub-section">
            <h2>Neutral note</h2>
            <div class="example">
                <div class="note">
                    <p class="note__title">Neutral note</p>
                    <div class="note__desc">
                        <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                    </div>
                </div>
            </div>
            <pre>
&lt;div class&#x3D;&quot;note&quot;&gt;
    &lt;p class&#x3D;&quot;note__title&quot;&gt;[note title placeholder]&lt;&#x2F;p&gt;
    &lt;div class&#x3D;&quot;note__desc&quot;&gt;
        &lt;p&gt;[note desc placeholder]&lt;&#x2F;p&gt;
    &lt;&#x2F;div&gt;
&lt;&#x2F;div&gt;
            </pre>
            <h3>Neutral note usage guide</h3>
            <div class="grid grid--2col">
                <div class="example">
                    <div class="note">
                        <p class="note__title">Neutral note</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>The neutral note component is to contain pieces of supplementary information</p>
                    <strong>
                        <p>Tone</p>
                    </strong>
                    <ul>
                        <li>Neutral</li>
                    </ul>
                    <strong>
                        <p>When to use</p>
                    </strong>
                    <ul>
                        <li>For supplementary pieces of information that are low in importance.</li>
                        <li>For Footnotes</li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="sub-section">
            <h2>Special note</h2>
            <div class="example">
                <div class="note note__type--special">
                    <p class="tag tag-type__special">Special</p>
                    <p class="note__title">Special note title</p>
                    <div class="note__desc">
                        <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                    </div>
                </div>
            </div>
            <pre>
            &lt;div class&#x3D;&quot;note note__type--special&quot;&gt;
                &lt;p class&#x3D;&quot;tag tag-type__special&quot;&gt;Special&lt;&#x2F;p&gt;
                &lt;p class&#x3D;&quot;note__title&quot;&gt;[Special note title placeholder]&lt;&#x2F;p&gt;
                &lt;div class&#x3D;&quot;note__desc&quot;&gt;
                    &lt;p&gt;[note description placeholder]&lt;&#x2F;p&gt;
                &lt;&#x2F;div&gt;
            &lt;&#x2F;div&gt;
            </pre>
            <div class="grid grid--2col">
                <div class="example">
                    <div class="note note__type--special">
                        <p class="tag tag-type__special">Special</p>
                        <p class="note__title">Special note title</p>
                        <div class="note__desc">
                            <p>Lorem ipsum dolor sit amet consectetur. Libero rhoncus mi gravida eget magna suscipit lobortis lorem enim. Amet in eget vitae phasellus condimentum diam iaculis.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>The Special note component is used to draw attention to special or exciting content, helping users quickly identify important updates or new features.</p>
                    <strong>
                        <p>Tone</p>
                    </strong>
                    <ul>
                        <li>Exciting</li>
                    </ul>
                    <strong>
                        <p>When to use</p>
                    </strong>
                    <ul>
                        <li>to draw attention to special or exciting pieces of information</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</body>
</html>