<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/custom-style.css" />
    <title>Tables</title>
</head>
<body>
    <nav class="flex" style="z-index: 100;position: sticky; background-color: white; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px; height: 60px; top: 0px; left: 0; right: 0;  width: 100vw;">
		<a href="/pages/">Style Guide</a>
		<a href="/pages//index.html">Sample stations page</a>
		<a href="/pages/components/tables.html">Tables</a>
		<a href="/pages/components/tags.html">Tags</a>
		<a href="/pages/components/typography.html">Typography</a>
	</nav>
    <div class="main-content">
        <h1>Tables</h1>

    

            <section>
                <h2>Detour tables</h2>
                <div class="example">
                    <p class="code">.detour-table</p>
                    <div class="table-container">
                        <table class="detour-table">
                            <thead>
                                <tr>
                                    <th>Arrêt d’autobus (560-n<sup>o</sup>) non desservi</th>
                                    <th>Circuits</th>
                                    <th>Arrêt de rechange</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    <p>n<sup>o</sup>1950 -- Maisonneuve (côté est) / Courcelette</p>
                                    </td>
                                    <td>
                                    <ul>
                                        <li>63&nbsp;Gatineau</li>
                                        <li>66&nbsp;Gatineau</li>
                                    </ul>
                                    </td>
                                    <td>
                                    <p>STO n<sup>o</sup>2616 -- Portage (côté sud) / Hôtel-de-VilleS Laval</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <p>n<sup>o</sup>1941 -- Maisonneuve (côté est) / Papineau</p>
                                    </td>
                                    <td>
                                    <ul>
                                        <li>63&nbsp;Gatineau</li>
                                        <li>66&nbsp;Gatineau</li>
                                    </ul>
                                    </td>
                                    <td>
                                    <p><a class="travel-planner-link" href="https://plan.octranspo.com/plan/StopSchedules?ShowOptions=false&amp;StopIdentifier=CK105">n<sup>o</sup>1940 -- Laurier (côté sud) / Elizabeth Bruyère</a></p>
                        
                                    <p></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>n<sup>o</sup>5718 -- Promenade du Portage (côté nord) / Terrasses de la Chaudière</td>
                                    <td>
                                    <ul>
                                        <li>61 Gatineau</li>
                                        <li>63&nbsp;Gatineau</li>
                                        <li>66&nbsp;Gatineau</li>
                                        <li>75 Gatineau</li>
                                        <li>85 Gatineau/Bayshore</li>
                                        <li>61 Stittesville</li>
                                        <li>63 Briarbrook</li>
                                        <li>66 Innovation</li>
                                        <li>75 Barrhaven Centre</li>
                                        <li></li>
                                    </ul>
                                    </td>
                                    <td>
                                    <p>61 Gatineau, 75 Gatineau, 85 Gatineau/ Bayshore:</p>
                        
                                    <p>Arrêt temporaire -- Eddy (côté est) / Portage</p>
                        
                                    <p></p>
                        
                                    <p>&nbsp;63 Gatineau, 66 Gatineau:</p>
                        
                                    <p>STO n<sup>o</sup>2606 -- Portage</p>
                        
                                    <p></p>
                        
                                    <p>61 Stittesville, 63 Briarbrook, 66 Innovation, 75 Barrhaven Centre:</p>
                        
                                    <p><a class="travel-planner-link" href="https://plan.octranspo.com/plan/StopSchedules?Date=2024-6-18&amp;PreferredCircuitKey=61~~Direction2&amp;ShowOptions=false&amp;StopIdentifier=CK195" target="_blank">n<sup>o</sup>6534 -- Laurier / Maisonneuve</a></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            </section>
        
            





        
        <section>
            <h2>dl table</h2>
			<p>Icon definitions</p>
			<p>class toggles:</p>
			<ul class="checklist">
				<li>for bordered look add class = "bordered"</li>
			</ul>
			<dl class="example icon-list">
				<dt class="header-row">Icon</dt>
				<dd class="header-row">Meaning</dd>
				<dt>
					<div class="arrow-container arrow-container--sm">
						<img src="https://www.octranspo.com/images/files/icons/line_1.svg " alt="" />
					</div>
				</dt>
				<dd>Line 1</dd>
				<dt>
					<div class="arrow-container arrow-container--sm">
						<img src="https://www.octranspo.com/images/files/icons/line_2.svg " alt="" />
					</div>
				</dt>
				<dd>Line 2</dd>
				<dt>
					<div class="arrow-container arrow-container--sm">
						<img src="https://www.octranspo.com/images/files/icons/line_4.svg " alt="" />
					</div>
				</dt>
				<dd>Line 4</dd>
			</dl>
        </section>
    </div>
</body>
</html>