<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/custom-style.css" />
    <title>Tables</title>
</head>
<body>
    <nav class="flex" style="z-index: 100;position: sticky; background-color: white; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px; height: 60px; top: 0px; left: 0; right: 0;  width: 100vw;">
		<a href="/pages/">Style Guide</a>
		<a href="/pages//index.html">Sample stations page</a>
		<a href="/pages/components/tables.html">Tables</a>
		<a href="/pages/components/tags.html">Tags</a>
		<a href="/pages/components/typography.html">Typography</a>
	</nav>
    <div class="main-content">
        <h1>Tables</h1>

        
        
            <section>
                <h2>Table Guide</h2>
                <ul>
                    <li>Heading should be left aligned (this is the default setting)</li>
                    <li>For tables with 3 or more columns, wrap table in div with class="table-container" to have scrollable x-overflow</li>
                    <li>table captions should be filled out</li>
                </ul>
            </section>

            <section>
                <h2>Heading styles</h2>
                <div class="example">
                    <p>Default</p>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>Light gray</p>
                    <div>
                        <table class="light" >
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>Dark</p>
                    <div>
                        <table class="dark">
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section>
                <h2>Small tables</h2>
                <ul>
                    <li>Reduces table font size from 1rem -> 0.875 rem (14 px)</li>
                    <li>Reduces padding around cells</li>
                </ul>
                <div class="example">
                        <p>Small size</p>
                        <table class="small-table">
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </section>
            <section>
                <h2>Width-to-fit tables</h2>
                <ul>
                    <li>Sets table width to fit content</li>
                </ul>
                    <div class="example flex flex-dir-col flex-ai-c">
                          <table class="width-to-fit">
                            <thead>
                                <tr>
                                  <th>Title</th>
                                  <th>Title</th>
                                </tr>
                              </thead>
                            <tbody>
                                <tr>
                                    <td>Lorem ipsum</td>
                                    <td>123</td>
                                </tr>
                                
                            </tbody>
                          </table>
        
                        
                          
                    </div>
            </section>
            <section>
                <h2>Utility classes</h2>
                <div class="example">
                    <p class="code">.bordered</p>
                    <div>
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="example">
                    <p class="code">.extra-padding</p>
                    <table class="extra-padding">
                        <thead>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="example">    
                    <p class="code">.wide</p>
                    <p>Apply <span class="code">.wide</span> to &lt;th&gt; to make column widths wider for text heavy cells to be more readable at smaller viewport widths</p>
                    <div class="overflow-x-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Normal</th>
                                    <th class="wide">Wide applied</th>
                                    <th>Normal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lorem ipsum dolor sit amet</td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id vero qui illo? Est dolore minus eligendi quia illo numquam, aspernatur aperiam quo ipsa ullam repellendus id. Officiis accusamus doloremque odio.
                                        Maiores aliquam distinctio unde consectetur tempora provident exercitationem, hic doloribus architecto deserunt quis nobis! Dolore aliquid, rem quasi eligendi tempore deleniti quas delectus repellendus quibusdam culpa exercitationem, ipsa perspiciatis voluptas.
                                    </td>
                                    <td>Lorem ipsum dolor sit amet</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </section>

            <section>
                <h2>Transcript tables</h2>
                <p><strong>Features</strong></p>
                <ul>
                    <li>Collapses to one column in mobile screen sizes</li>
                    <li>Wraps the text descriptions (third column) in square brackets"[" & "]"</li>
                </ul>
                    <div class="example">
                        <table class="transcript-table">
                            <caption>[enter table caption here]</caption>
                            <thead class="visually-hidden-for-mobile">
                                <tr>
                                    <th>Time</th>
                                    <th>Transcript</th>
                                    <th>Text description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>00:01</td>
                                    <td>Lorem ipsum</td>
                                    <td>OC Transpo and Para Transpo Log on screen</td>
                                </tr>
                                <tr>
                                    <td>03:00</td>
                                    <td>An even better Para Transpo is here.</td>
                                    <td>A bus is driving down the street.</td>
                                </tr>
                                <tr>
                                    <td>06:07</td>
                                    <td>OC Transpo introduces: “My Para Transpo”</td>
                                    <td>A hand with a mobile phone is displayed with the My Para Transpo application</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </section>
            <section>
                <h2>Detour tables</h2>
                <div class="example">
                    <p class="code">.detour-table</p>
                    <div class="table-container">
                        <table class="detour-table">
                            <thead>
                                <tr>
                                    <th>Arrêt d’autobus (560-n<sup>o</sup>) non desservi</th>
                                    <th>Circuits</th>
                                    <th>Arrêt de rechange</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    <p>n<sup>o</sup>1950 -- Maisonneuve (côté est) / Courcelette</p>
                                    </td>
                                    <td>
                                    <ul>
                                        <li>63&nbsp;Gatineau</li>
                                        <li>66&nbsp;Gatineau</li>
                                    </ul>
                                    </td>
                                    <td>
                                    <p>STO n<sup>o</sup>2616 -- Portage (côté sud) / Hôtel-de-VilleS Laval</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <p>n<sup>o</sup>1941 -- Maisonneuve (côté est) / Papineau</p>
                                    </td>
                                    <td>
                                    <ul>
                                        <li>63&nbsp;Gatineau</li>
                                        <li>66&nbsp;Gatineau</li>
                                    </ul>
                                    </td>
                                    <td>
                                    <p><a class="travel-planner-link" href="https://plan.octranspo.com/plan/StopSchedules?ShowOptions=false&amp;StopIdentifier=CK105">n<sup>o</sup>1940 -- Laurier (côté sud) / Elizabeth Bruyère</a></p>
                        
                                    <p></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>n<sup>o</sup>5718 -- Promenade du Portage (côté nord) / Terrasses de la Chaudière</td>
                                    <td>
                                    <ul>
                                        <li>61 Gatineau</li>
                                        <li>63&nbsp;Gatineau</li>
                                        <li>66&nbsp;Gatineau</li>
                                        <li>75 Gatineau</li>
                                        <li>85 Gatineau/Bayshore</li>
                                        <li>61 Stittesville</li>
                                        <li>63 Briarbrook</li>
                                        <li>66 Innovation</li>
                                        <li>75 Barrhaven Centre</li>
                                        <li></li>
                                    </ul>
                                    </td>
                                    <td>
                                    <p>61 Gatineau, 75 Gatineau, 85 Gatineau/ Bayshore:</p>
                        
                                    <p>Arrêt temporaire -- Eddy (côté est) / Portage</p>
                        
                                    <p></p>
                        
                                    <p>&nbsp;63 Gatineau, 66 Gatineau:</p>
                        
                                    <p>STO n<sup>o</sup>2606 -- Portage</p>
                        
                                    <p></p>
                        
                                    <p>61 Stittesville, 63 Briarbrook, 66 Innovation, 75 Barrhaven Centre:</p>
                        
                                    <p><a class="travel-planner-link" href="https://plan.octranspo.com/plan/StopSchedules?Date=2024-6-18&amp;PreferredCircuitKey=61~~Direction2&amp;ShowOptions=false&amp;StopIdentifier=CK195" target="_blank">n<sup>o</sup>6534 -- Laurier / Maisonneuve</a></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            </section>
            <h2>Overflow tables</h2>
            <p>Apply to tables with 3 or more columns</p>
            <div class="example">
                <div class="overflow-x-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                                <!-- <th>Header 1</th>
                                    <th>Header 2</th>
                                    <th>Header 3</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, ex.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        

            <h2>Sticky column table</h2>
            <p>
                At small screens only: Sticky left Header column and autoflow-x
            </p>
            <ul class="checklist">
                <li>Horizontal scroll at mobile screens</li>
                <li>Sticky left Header column</li>
            </ul>
            <div class="example">
                <div class="table-container">
                    <table class="sticky-table">
                        <thead class="empty-corner">
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Header&nbsp;1
                                </th>
                                <th>
                                    Header&nbsp;2
                                </th>
                                <th>
                                    Header&nbsp;3
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <div>Header</div>
                                </th>
                                <td>cell content</td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quia sunt quisquam
                                    provident consequuntur porro fuga cupiditate, eligendi cumque ipsa, asperiores
                                    dignissimos quam minima omnis animi. Iusto, voluptatibus cumque. Id.</td>
                                <td>cell content</td>
                            </tr>
                            <tr>
                                <th>
                                    <div>Header</div>
                                </th>
                                <td>cell content</td>
                                <td>
                                    <p>
                                        Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Vitae dolorem soluta
                                        aliquid est alias atque architecto,
                                        rerum optio quibusdam eaque.
                                    </p>
                                </td>
                                <td>cell content</td>
                            </tr>
                            <tr>
                                <th>
                                    <div>Header</div>
                                </th>
                                <td>cell content</td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae qui placeat sequi in
                                    magnam quo.
                                </td>
                                <td>cell content lorem</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            





        
        <section>
            <h2>dl table</h2>
			<p>Icon definitions</p>
			<p>class toggles:</p>
			<ul class="checklist">
				<li>for bordered look add class = "bordered"</li>
			</ul>
			<dl class="example icon-list">
				<dt class="header-row">Icon</dt>
				<dd class="header-row">Meaning</dd>
				<dt>
					<div class="arrow-container arrow-container--sm">
						<img src="https://www.octranspo.com/images/files/icons/line_1.svg " alt="" />
					</div>
				</dt>
				<dd>Line 1</dd>
				<dt>
					<div class="arrow-container arrow-container--sm">
						<img src="https://www.octranspo.com/images/files/icons/line_2.svg " alt="" />
					</div>
				</dt>
				<dd>Line 2</dd>
				<dt>
					<div class="arrow-container arrow-container--sm">
						<img src="https://www.octranspo.com/images/files/icons/line_4.svg " alt="" />
					</div>
				</dt>
				<dd>Line 4</dd>
			</dl>
        </section>

        <section>
            <h2>Table behaviours</h2>
            <h3>Fluid tables (auto width columns)</h3>
            <div class="example">    
                <table class="fluid">
                    <thead class="visually-hidden-for-mobile">
                        <tr>
                            <th>Project</th>
                            <th>Description</th>
                            <th>Status</th>
                            <!-- <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Project title
                            </th>
                            <td>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni laboriosam quae quos, omnis quam saepe autem officiis nisi quasi? Quo, aut eius soluta necessitatibus modi id perferendis repellat nostrum.
                            </td>
                            <td>
                                <p class="tag tag-type__info">In&nbsp;progess</p>
                            </td>
                        </tr>
                    </tbody>
                </table>      
            </div>
            <h3>Collapsing (collapse to one column in small vw)</h3>
            <div class="example">
                <table class="table__behaviour--collapse">
                    <thead class="visually-hidden-for-mobile">
                        <tr>
                            <th>Project</th>
                            <th>Description</th>
                            <th>Status</th>
                            <!-- <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Project title
                            </th>
                            <td>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni laboriosam quae quos, omnis quam saepe autem officiis nisi quasi? Quo, aut eius soluta necessitatibus modi id perferendis repellat nostrum.
                            </td>
                            <td>
                                <p class="tag tag-type__info">In&nbsp;progess</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <h2>Pre-made table components</h2>
            <h3>Status tables</h3>
            <div class="example">
                <table class="fluid table__behaviour--collapse small-table extra-padding">
                    <thead class="visually-hidden-for-mobile">
                        <tr>
                            <th>Project</th>
                            <th>Description</th>
                            <th>Status</th>
                            <!-- <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Project title
                            </th>
                            <td>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni laboriosam quae quos, omnis quam saepe autem officiis nisi quasi? Quo, aut eius soluta necessitatibus modi id perferendis repellat nostrum.
                            </td>
                            <td>
                                <p class="tag tag-type__info">In&nbsp;progess</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Project title
                            </th>
                            <td>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni laboriosam quae quos, omnis quam saepe autem officiis nisi quasi? Quo, aut eius soluta necessitatibus modi id perferendis repellat nostrum.
                            </td>
                            <td>
                                <p class="tag tag-type__success">Complete</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Project title
                            </th>
                            <td>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni laboriosam quae quos, omnis quam saepe autem officiis nisi quasi? Quo, aut eius soluta necessitatibus modi id perferendis repellat nostrum.
                            </td>
                            <td>
                                <p class="tag tag-type__warning">Paused</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Project title
                            </th>
                            <td>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni laboriosam quae quos, omnis quam saepe autem officiis nisi quasi? Quo, aut eius soluta necessitatibus modi id perferendis repellat nostrum.
                            </td>
                            <td>
                                <p class="tag tag-type__critical">Cancelled</p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <h3>Service types tables</h3>
            <div class="example">
                <p>Service types table</p>
                <table class="fluid bordered small-table dark" summary="Transit network service types with colours and symbols">
                    <thead>
                        <tr>
                            <th>Colours &amp; Symbols</th>
                            <th>Service Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="https://www.octranspo.com/images/files/icons/line_1.svg " alt="">
                                <img src="https://www.octranspo.com/images/files/icons/line_2.svg " alt="">
                                <img src="https://www.octranspo.com/images/files/icons/line_4.svg " alt="">
                            </td>
                            <td><strong>O-Train</strong>
                            <p>Quick, frequent station-to-station train service on dedicated rail lines with no level crossings</p>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                            <p><img alt="Route icons for Rapid service" src="https://www.octranspo.com/images/files/icons/route_rapid.svg" title="Route icons for Rapid service"></p>
                            </td>
                            <td><strong><a href="#Rapid" title="Read more about Rapid service">Rapid</a></strong><ul>
                                <li>Quick, station-to-station bus service along the Transitway or highway</li>
                                <li>Operates 7 days a week</li>
                            </ul></td>
                            
                        </tr>
                        <tr>
                            <td>
                            <p><img alt="Route icons for Night service" src="https://www.octranspo.com/images/files/icons/route_night.svg" title="Route icon for Night service" width="53px;"></p>
                            </td>
                            <td><strong><a href="https://www.octranspo.com/en/our-services/bus-o-train-network/service-types/night-service">Night</a></strong><ul>
                                <li>Overnight, station-to-station bus service when Line 1 closes for the day</li>
                                <li>Operates 7 days a week</li>
                            </ul></td>
                            
                        </tr>
                        <tr>
                            <td>
                            <p>
                                <img alt="Route icons for Frequent service" id="frequentIcon" src="https://www.octranspo.com/images/files/icons/route_frequent.svg" title="Route icons for Frequent service">
                                <img alt="Route icons for Frequent service" id="frequentIcon" src="https://www.octranspo.com/images/files/icons/route_frequent-ltd.svg" title="Route icons for Frequent service">
                            </p>
                            </td>
                            <td><strong><a href="#Frequent" title="Read more about Frequent service">Frequent</a></strong>
                                <ul>
                                    <li>Service every 15 minutes or less from 6 am to 6 pm on weekdays</li>
                                    <li>Operates 7 days a week along main roads</li>
                                </ul></td>
                            
                        </tr>
                        <tr>
                            <td>
                            <p><img alt="Route icons for Connexion service" id="connexionIcon" src="https://www.octranspo.com/images/files/icons/route_connexion.svg" title="Route icons for Connexion service"></p>
                            </td>
                            <td><strong><a href="#Connexion" title="Read more about Connexion service">Connexion</a></strong>
                                <ul>
                                    <li>Quick, convenient connection from home to Line 1</li>
                                    <li>Operates weekday rush-hours only, both in the morning and returning home in the afternoon</li>
                                </ul></td>
                            
                        </tr>
                        <tr>
                            
                            <td>
                            <p><img alt="Route icons for Local service" id="localIcon" src="https://www.octranspo.com/images/files/icons/route_local.svg"></p>
                            </td>
                            <td><strong><a href="#Local" title="Read more about Local service">Local</a></strong>
                                <ul>
                                    <li>Custom routing to local destinations</li>
                                </ul></td>
                        </tr>
                        <tr>
                            <td>
                            <p><span class="rt rt__type--local-ltd">600s<span class="visuallyhidden"> Route icons for School service</span></span>
                            </td>
                            <td><strong><a href="https://www.octranspo.com/en/plan-your-trip/ottawa-destinations/high-schools-middle-schools/">School</a></strong><ul>
                                <li>Custom service from home to school</li>
                                <li>No service on school holidays</li>
                            </ul></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <p><span class="rt rt__type--local-ltd">300s<span class="visuallyhidden"> Route icons for Shopper service</span></span>
                            </td>
                            <td><strong><a href="https://www.octranspo.com/en/our-services/bus-o-train-network/service-types/shopper-routes">Shopper</a></strong><ul>
                                <li>Free weekly trips to and from the mall for rural Ottawa communities</li>
                            </ul></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <p><span class="rt rt__type--local-ltd">400s<span class="visuallyhidden"> Route icons for Event service</span></span>
                            </td>
                            <td><strong>Event</strong>
                                <ul>
                                    <li>Direct route to events at <a href="https://www.octranspo.com/ottawa-destinations/td-place">Lansdowne</a>&nbsp;or the <a href="https://www.octranspo.com/en/ottawa-destinations/canadian-tire-centre">Canadian Tire Centre</a></li>
                                </ul></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://www.octranspo.com/images/files/icons/line_R1.svg " alt="">
                                <img src="https://www.octranspo.com/images/files/icons/line_R2.svg " alt="">
                                <img src="https://www.octranspo.com/images/files/icons/line_R4.svg " alt="">                
                            <p></p>
                            <!--<p><img alt="Route icons for R2 service" id="r2Icon" src="https://www.octranspo.com/images/files/service_type_symbols/r2.png" title="Route icons for R2 service" /></p>-->
                        </td>
                            <td><strong>Replacement bus service</strong>
                                <ul>
                                    <li>May be deployed when the O-Train is not running during regular service hours</li>
                                    <li>Serves all O-Train stations on the line&nbsp;and only makes limited stops along the way</li>
                                    <li>If an O-Train line&nbsp;is partially closed, may run only along the closed portion</li>
                                </ul>

                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Hours of operation table</h3>
            <div class="example flex flex-dir-col flex-ai-c">
                  <table class="width-to-fit">
                    <tbody>
                        <tr>
                            <td>Monday to Friday</td>
                            <td>7 am - 9 pm</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>8 am - 9 pm</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>9 am - 5 pm</td>
                        </tr>
                    </tbody>
                  </table>


            </div>
            <h3>Fares table</h3>
            <div class="example flex flex-dir-col flex-ai-c">
                
                <p>Example: Fare pricing table</p>
                <table class="width-to-fit">
                    <thead>
                        <tr>
                            <th>Eligible Groups</th>
                        <th>Per-ride fare</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>Persons who are blind or partially sighted</td>
                            <td>
                                <p class="tag tag-type__success">Free</p>

                            </td>
                        </tr>
                        <tr>
                            <td>Children under 12</td>
                            <td>
                                <p class="tag tag-type__success">Free</p>

                            </td>
                        </tr>
                        <tr>
                            <td>Seniors, 65+</td>
                            <td>$2.90</td>
                        </tr>
                        <tr>
                            <td>Equipass (Low income)</td>
                            <td>$1.75</td>
                        </tr>
                        <tr>
                            <td>Community (Persons receiving ODSP benefits)</td>
                            <td>$1.75</td>
                        </tr>
                    </tbody>
                </table>
                
                  
            </div>
            <h3>Connecting Routes & Lines table</h3>
            <div class="example flex flex-dir-col flex-ai-c">
                        <table class="width-to-fit bordered light">
                            <thead>
                              <tr>
                                <th>Route</th>
                                <th>Direction</th>
                                <th>Stop</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="rt rt__type--line1">1</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td><p><span class="rt rt__type--line2">2</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td><p><span class="rt rt__type--line3">3</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td><p><span class="rt rt__type--line4">4</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td><span class="rt rt__type--R1">1</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td><span class="rt rt__type--R2">2</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td><span class="rt rt__type--R3">3</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td><span class="rt rt__type--R4">4</span></td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                    <td>A</td>
                                </tr>
                              <tr>
                                <td>
                                  <span class="rt rt__type--connexion">123</span><span class="visuallyhidden">Connexion Route</span>
                                </td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                <td>1A</td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="rt rt__type--rapid">97</span><span class="visuallyhidden">Rapid Route</span>
                                </td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                <td>1A</td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="rt rt__type--frequent">123</span><span class="visuallyhidden">Frequent Route</span>
                                </td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                <td>1A</td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="rt rt__type--local">123<span class="visuallyhidden">Local Route</span></span>
                                </td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                <td>1A</td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="rt rt__type--connexion-ltd">123<span class="visuallyhidden">Limited Connexion Route</span></span>
                                </td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                <td>1A</td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="rt rt__type--frequent-ltd">123<span class="visuallyhidden">Limited Frequent Route</span></span>
                                </td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                <td>1A</td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="rt rt__type--local-ltd">123<span class="visuallyhidden">Limited Local Route</span></span>
                                </td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos?</td>
                                <td>1A</td>
                              </tr>
                            </tbody>
                          </table>
                  
            </div>
        </section>
    </div>
</body>
</html>