<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/custom-style.css" />
    <title>Tables</title>
</head>
<body class="">
    <nav class="flex" style="z-index: 1;position: sticky; background-color: white; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px; height: 60px; top: 0px; left: 0; right: 0;  width: 100vw;">
		<a href="../style-guide.html">Style Guide</a>
		<a href="..//index.html">Sample stations page</a>
		<a href="../components/tables.html">Tables</a>
		<a href="../components/tags.html">Tags</a>
	</nav>
    <div class="main-content">
        <h1>Tags</h1>
        <div class="flex">
            <p class="tag">Netural</p>
            <p class="tag tag-type__warning">Warning</p>
            <p class="tag tag-type__critical">Critical</p>
            <p class="tag tag-type__info">Info</p>
            <p class="tag tag-type__success">Success</p>
            <p class="tag tag-type__special">Special</p>
        </div>

        <h2>Examples</h2>
        <div class="flex example">
            <p class="tag tag-type__info">Info</p>
            <p class="tag tag-type__info">In&nbsp;progress</p>
        </div>
        <div class="flex example">
            <p class="tag tag-type__success">Complete</p>
            <p class="tag tag-type__success">Approved</p>
            <p class="tag tag-type__success">Confirmed</p>
            <p class="tag tag-type__success">Success</p>
            <p class="tag tag-type__success">Normal&nbsp;operation</p>
            <p class="tag tag-type__success">Ongoing</p>
            <p class="tag tag-type__success">Free</p>
        </div>
        
        <div class="flex example">
            <p class="tag tag-type__warning">Warning</p>
            <p class="tag tag-type__warning">Out&nbsp;of&nbsp;service</p>
            <p class="tag tag-type__warning">Under&nbsp;construction</p>
        </div>
        <div class="flex example">
            <p class="tag tag-type__critical">Error</p>
            <p class="tag tag-type__critical">Cancelled</p>
            <p class="tag tag-type__critical">Removed</p>
            <p class="tag tag-type__critical">Important</p>
        </div>
        <div class="flex example">
            <p class="tag tag-type__neutral">Inactive</p>
            <p class="tag tag-type__neutral">Planned</p>
            <p class="tag tag-type__neutral">Unavailable</p>
        </div>
        <div class="flex example">
            <p class="tag tag-type__special">New</p>
            <p class="tag tag-type__special">Update</p>
            <p class="tag tag-type__special">Tip</p>
        </div>
        
        

    </div>
</body>
</html>