<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/custom-style.css" />
    <title>Tags</title>
</head>
<body class="">
    <nav class="flex" style="z-index: 1;position: sticky; background-color: white; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px; height: 60px; top: 0px; left: 0; right: 0;  width: 100vw;">
		<a href="../style-guide.html">Style Guide</a>
		<a href="..//index.html">Sample stations page</a>
		<a href="../components/tables.html">Tables</a>
		<a href="../components/tags.html">Tags</a>
	</nav>
    <h1 class="main-content">Tags</h1>
    <div class="main-content">
        <h2>Semantic tags</h2>
        <p>The semantic tag component uses color to convey specific statuses.</p>
        <div class="flex flex-jc-c">
            <p class="tag tag-type__warning">Warning</p>
            <p class="tag tag-type__critical">Critical</p>
            <p class="tag">Neutral</p> 
            <p class="tag tag-type__info">Info</p>
            <p class="tag tag-type__success">Success</p>
        </div>
        <h3>Usage guide</h3>
        <strong>
            <p>Customizing text:</p>
        </strong>
        <ul>
            <li>While the text within the tags can be customized to fit the specific needs of the designers, the semantic meaning conveyed by the color should remain unchanged.</li>
            <li>Choose text that clearly represents the status in a concise and understandable manner.</li>
        </ul>
        <strong>
            <p>When to use</p>
        </strong>
        <p>To represent the status of an element on a page.</p>
        <strong>
            <p>How to use</p>
        </strong>
        <ul>
            <li>Within card components: Use to display the status of an item or entity within a card.</li>
            <li>Within table components: Use to display the status of items within table rows.</li>
        </ul>
        <p>Examples:</p>
        <div class="example">
            <table class="width-to-fit align-c">
                <tbody>
                    <tr>
                        <td><p class="tag tag-type__warning">Warning</p></td>
                        <td><p class="tag tag-type__critical">Critical</p></td>
                        <td><p class="tag">Neutral</p></td>
                        <td><p class="tag tag-type__info">Info</p></td>
                        <td><p class="tag tag-type__success">Success</p></td>
                    </tr>
                    <tr>
                        <td class="">
                            <p class="tag tag-type__warning">Warning</p>
                            <p class="tag tag-type__warning">Out&nbsp;of&nbsp;service</p>
                            <p class="tag tag-type__warning">Under&nbsp;construction</p>
                        </td>
                        <td class="">
                            <p class="tag tag-type__critical">Error</p>
                            <p class="tag tag-type__critical">Cancelled</p>
                            <p class="tag tag-type__critical">Removed</p>
                            <p class="tag tag-type__critical">Important</p>
                        </td>
                        <td class="">
                            <p class="tag tag-type__neutral">Inactive</p>
                            <p class="tag tag-type__neutral">Planned</p>
                            <p class="tag tag-type__neutral">Unavailable</p>
                        </td>
                        <td class="">
                            <p class="tag tag-type__info">Info</p>
                            <p class="tag tag-type__info">In&nbsp;progress</p>
                        </td>
                        <td class="">
                            <p class="tag tag-type__success">Complete</p>
                            <p class="tag tag-type__success">Approved</p>
                            <p class="tag tag-type__success">Confirmed</p>
                            <p class="tag tag-type__success">Success</p>
                            <p class="tag tag-type__success">Normal&nbsp;operation</p>
                            <p class="tag tag-type__success">Ongoing</p>
                            <p class="tag tag-type__success">Free</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Special tag</h2>
        <p>The Special Tag component is used to draw attention to special or exciting content, helping users quickly identify important updates or new features.</p>
        <div class="flex flex-jc-c">
            <p class="tag tag-type__special">Special</p>
        </div>
        <p>Examples:</p>
        <div class="flex example">
            <p class="tag tag-type__special">New!</p>
            <p class="tag tag-type__special">New feature!</p>
            <p class="tag tag-type__special">Featured</p>
            <p class="tag tag-type__special">Tip</p>
            <p class="tag tag-type__special">Just launched!</p>
            <p class="tag tag-type__special">Updated</p>
            <p class="tag tag-type__special">Update</p>
            <p class="tag tag-type__special">Coming soon!</p>
            <p class="tag tag-type__special">Upcoming</p>
        </div>
        <h3>Usage guide</h3>
        <strong>
            <p>When to use</p>
        </strong>
        <p>To draw attention to special or exciting content, helping users quickly identify important updates or new features.</p>
        <strong>
            <p>How to use</p>
        </strong>
        <ul>
            <li>Within promotional banner components: Place at the top left corner of the banner.</li>
            <li>Within tab components: Place beside tab text.</li>
        </ul>
        <h2>Keyword tag</h2>
        <p>The Keyword tag component is used to label and organize data within card components or other UI elements. It helps in categorizing information without implying a status or urgency.</p>
        <div class="flex flex-jc-c">
            <p class="tag tag-type__keyword">Keyword</p>
        </div>
        <p>Examples</p>
        <div class="flex example">
            <p class="tag tag-type__keyword">Projects</p>
            <p class="tag tag-type__keyword">Feature</p>
        </div>
        <h3>Usage guide</h3>
        <strong>
            <p>When to use:</p>
        </strong>
        <p>The Keyword tag component is designed for simple, neutral labeling without any additional styles. It is ideal for use within card components or other UI elements where a simple text label is sufficient.</p>
        <strong>
            <p>How to use:</p>
        </strong>
        <p>Within card components: Place above card title</p>     
        <strong>
            <p>To avoid:</p>
        </strong>
        <p>Refrain from making keyword more than one word</p>        
    </div>
    
</body>
</html>