<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- loading main css from oc site -->
	<link href="https://staging.octranspo1.com/themes/user/site/octranspo/assets/css/styles.css?v=1.0.9"
    title="octranspo-main-css" rel="stylesheet">    
    <link rel="stylesheet" href="https://www.octranspo.com/images/files/dist/_tags.css" />
<link rel="stylesheet" href="https://www.octranspo.com/images/files/dist/_notes.css" />
<link rel="stylesheet" href="https://www.octranspo.com/images/files/dist/_colors.css" />
    <title>Test page for components</title>
</head>
<body>
    <div class="main-content">
        <p class="tag tag-type__keyword">Keyword</p>
    
    </div>
    
</body>
</html>